﻿
@{
    ViewBag.Title = "Revisi Kas & Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Periode</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("periodstart", new { htmlAttributes = new { @class = "form-control datepicker_from datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border">-</span>@Html.Editor("periodend", new { htmlAttributes = new { @class = "form-control datepicker_to datemask2", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Revisi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("r_kb_ref_table", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Type Revisi --", Value="None" },
                                                new SelectListItem { Text="KAS / BANK MASUK", Value="tb_t_kbm_d" },
                                                new SelectListItem { Text="KAS / BANK KELUAR", Value="tb_t_kbk_d" },
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>

                    <div class="hide_detail">
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Update</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of @ViewBag.Title Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script language="javascript" type="text/javascript">
    var tbl_dtl = null;
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            "responsive": true,
            "columns": [
                { data: 'r_kb_seq', name: 'r_kb_seq', title: 'No.' },
                { data: 'r_kb_h_ref_id', name: 'r_kb_h_ref_id', title: 'No. Draft' },
                { data: 'r_kb_no', name: 'r_kb_no', title: 'Kode' },
                { data: 'r_kb_date', name: 'r_kb_date', title: 'Tanggal', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "r_kb_amt", name: "r_kb_amt", className: "text-right", title: 'Nominal', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'r_kb_seq', name: 'r_kb_seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'r_kb_h_ref_id', name: 'r_kb_h_ref_id', title: 'No. Draft' },
                { data: 'r_kb_no', name: 'r_kb_no', title: 'Kode' },
                { data: 't_kbm_type', name: 't_kbm_type', title: 'Tipe Trans' },
                { data: 'r_kb_date', name: 'r_kb_date', title: 'Tanggal', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: 'stype', name: 'stype', title: 'Tipe bayar' },
                { data: "r_kb_amt", name: "r_kb_amt", className: "text-right", title: 'Nominal', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, addAttr, dt_list) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dt_list, function (key, val) {
            var selected = "";
            if (val.Value == value) selected = ' selected'
            option += "<option value=\'" + val.Value + "\'" + selected + " data_val=\'" + (val) + "\'>" + val.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };
    
    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var r_kb_ref_table = $("#r_kb_ref_table option:selected").val();
        var periodstart = $("#periodstart").val();
        var periodend = $("#periodend").val();

        tblModalDtl.column(0).checkboxes.deselect(); 
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { r_kb_ref_table, periodstart, periodend },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.r_kb_seq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.r_kb_h_ref_id)) {
                obj.r_kb_seq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw(); 
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(r_kb_h_ref_id) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (r_kb_h_ref_id == alldata.r_kb_h_ref_id && t_kbm_d_note == alldata.t_kbm_d_note) {
                return true;
            }
        }
        return false;
    }

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'r_kb_seq:name').data(i + 1).invalidate();
        } 
        e.preventDefault();
    });
     
    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data()) return true;
        tbl.cell($tr, $td).data(value).invalidate();
        var obj = tbl.row($tr).data(); 
        tbl.draw(); 
        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
    };

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var r_kb_ref_table = $("#r_kb_ref_table option:selected").val();
        var tbl = [];
        Swal({
            title: 'Are you sure to OPEN this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, OPEN this data!'
        }).then((result) => {
            if (result.value) {
                for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
                    var alldata = tbl_dtl.row(i).data();
                    tbl.push(alldata);
                }
                $.ajax({
                    type: "POST",
                    url: url_Index,
                    data: { __RequestVerificationToken: token, tbl, r_kb_ref_table },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Data has been Opened!', data.msg, 'success').then((result) => {
                                if (result.value) {
                                    location.replace("@(Url.Action("Index"))");
                                }
                            });
                        } else {
                            Swal('Save data failed!', data.msg, 'error');
                        }
                    },
                    error: function (err) {
                        swal('', err.responseText, 'error');
                    }
                });
            }
        });

    });
     
</script>

