﻿@model MIS_MAGNA_MVC.Models.tb_m_user

@{
    ViewBag.Title = "Master User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Data User</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.m_user_uid)
                        @Html.HiddenFor(model => model.m_user_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.last_edited_by)
                        @Html.HiddenFor(model => model.last_edited_at)
                        @Html.HiddenFor(model => model.m_app_limit) 
                        @Html.Hidden("action")
                        @Html.Hidden("closing")

                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">NIK <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_employee_code", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchperson" class="btn btn-flat" data-toggle="modal" data-target="#modal-person">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.m_employee_id)
                                        </div>
                                    </div>
                                </div>
                            </div> @*Business Unit -- NIK*@

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">User Login <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_user_login, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "10" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Password <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.m_user_pass, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "", @maxlength = "20" } })
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Employee Name <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_employee_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50", @readonly="" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.m_user_type, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="User", Value="User" },
                                               new SelectListItem { Text="Admin", Value="Admin" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>

                            </div> @*Password -- Status*@

                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.active_flag, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                               new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_user_note", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                
                            </div>@*Sales Flag*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div id="divdtlrole">
                        <div class="box-header">
                            <h3 class="box-title"><b>Profile Detail Role</b></h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th> @* Index 0 *@
                                            <th>No.</th> @* Index 1 *@
                                            <th>Role Code</th> @* Index 2 *@
                                            <th>Role Name</th> @* Index 3 *@
                                            <th>Special</th> @* Index 4 *@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                  
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Profile Detail Role Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Role Code</th>
                                    <th>Role Name</th>
                                    <th>Special</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK PERSON *@
    <div class="modal fade" id="modal-person">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Person Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPerson" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>NIP</th>
                                    <th>Name</th> 
                                    <th>Card No</th> 
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PERSON *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var DataDtl = null;
    $(document).ready(function () {
        var tblModalPerson = $("#tblModalPerson").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        tblModalPerson.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPerson.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#m_employee_name").val(alldata.m_employee_name);
            $("#m_employee_code").val(alldata.m_employee_code);
            $("#m_employee_id").val(alldata.m_employee_id);
            $('#modal-person').modal('hide');
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            var DataDtl = $('#DataDtl').DataTable();
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var idx = DataDtl.row($tr).data()[1] - 1;
            DataDtl.row($tr).remove().draw();
            UpdateDetail(idx);
            e.preventDefault();
        });

        if ($('#action').val() == "Update Data") {
            $('#m_user_login').attr('readonly', true);
            $("#btnsearchperson").attr("disabled", true);
            FillDetailData();
            //ChangeType();
        }
    })
    // End $(document).ready

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }
     
    function ChangeType() {
        if ($('#proftype').val() == "Admin")
            $('#divdtlrole').hide();
        else
            $('#divdtlrole').show();
    }

    $("#btnsearchperson").click(function () {
        var m_user_id = $("#m_user_id").val();
        var table = $('#tblModalPerson').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPersonData"))",
            data: { m_user_id: m_user_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.m_employee_code,
                            val.m_employee_name,
                            val.m_employee_nik
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-person').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-person').modal('hide');
            }
        });
    });

    $("#btnAddToList").click(function () {
        var m_user_id = $('#m_user_id').val();
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { m_user_id: m_user_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        val.m_user_d_seq = ++i;
                        rows.push([
                           JSON.stringify(val),
                            val.m_user_d_seq,
                            val.m_role_code,
                            val.m_role_name,
                            '<select class="form-control select2" id="isspecial-' + val.m_user_d_seq + '"><option value=\'Yes\'>Yes</option><option value=\'No\'>No</option>'
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);

            if (!IsOnDtl(alldata.m_role_id)) {
                var seq = tbldtl.rows().data().length + 1;
                alldata.m_user_d_seq = seq;
                SetDataDtl(tbldtl, alldata);
                seq++;
            }
        });
    }

    function IsOnDtl(m_role_id) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (m_role_id == alldata.m_role_id) {
                return true;
            }
        }
        return false;
    }

    function UpdateDetail(idx) {
        var DataDtl = $('#DataDtl').DataTable();
        for (var i = idx ; i < DataDtl.rows().data().length; i++) {
            var row = DataDtl.row(i).data();
            var alldata = JSON.parse(row[0]);
            alldata.m_user_d_seq = i + 1;
            SetDataDtl(DataDtl, alldata);
        }
    }

    function SetDataDtl(DataDtl, data) {
        var max = DataDtl.rows().data().length;
        var seq = parseInt(data.m_user_d_seq);
        var row = [
           JSON.stringify(data),
           data.m_user_d_seq,
           data.m_role_code,
           data.m_role_name,
           '<select class="form-control select2" id="isspecial-' + data.m_user_d_seq + '"><option value=\'Yes\'>Yes</option><option value=\'No\'>No</option>',
           '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>',
        ];
        if (seq > max)
            DataDtl.row.add(row).draw();
        else
            DataDtl.row(seq - 1).data(row).invalidate().draw();
    }

    function FillDetailData() {
        var m_user_id = $('#m_user_id').val();
        var DataDtl = $('#DataDtl').DataTable();
        DataDtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { m_user_id: m_user_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $.each(data.tbl, function (key, val) {
                        SetDataDtl(DataDtl, val);
                    });
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    } 

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();
        var closing = $("#closing").val("true");

        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtl: dtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                            else
                                location.replace("@(Url.Action("Form"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });
</script>