﻿@model MIS_MAGNA_MVC.Models.DataLogin

@{
    Layout = null;
    Session.Clear();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PT.BERSAMA UKHUWAH MEMBANGUN INDONESIA</title>
    <link rel="logo-icon" sizes="76x76" href="~/Images/fav.png">
    <link rel="icon" type="image/png" href="~/Images/fav.png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/login/css")
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("Login", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-logo">
                        <img src="~/login/images/magna_gambar_new.jpg" alt="PT.BUMI" class="login100-form-logo-img">
                    </span>

                    <span class="login100-form-title p-b-25 p-t-20">
                        PT. BERSAMA UKHUWAH MEMBANGUN INDONESIA
                    </span>

                    @Html.ValidationSummary(true, "", new { @style = "color: white; text-align: center; border: 3px solid red; margin-bottom: 25px" })

                    <div class="wrap-input100">
                        @Html.TextBoxFor(m => m.userid, new { @class = "input100", @autofocus = true, @required = "" })
                        <span class="focus-input100" data-placeholder="&#xf207; Username"></span>
                        @Html.ValidationMessageFor(m => m.userid, "", new { @class = "text-danger" })
                    </div>

                    <div class="wrap-input100">
                        @Html.PasswordFor(m => m.userpwd, new { @name = "password", @class = "input100", @required = "" })
                        <span class="focus-input100" data-placeholder="&#xf191; Password"></span>
                        <span class="fa fa-eye field-eye fa-pull-right toggle-password" style="color: white; margin-top: -21px"></span>
                        @Html.ValidationMessageFor(m => m.userpwd, "", new { @class = "text-danger" })
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/login/js")
    <script type="text/javascript">
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            if ($("#userpwd").attr("type") == "password") {
                $("#userpwd").attr("type", "text");
            } else {
                $("#userpwd").attr("type", "password");
            }
        });
    </script>
</body>

</html>
