﻿@model MIS_MAGNA_MVC.Models.tb_m_user

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Update Profile</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.HiddenFor(model => model.m_user_uid)
                        @Html.HiddenFor(model => model.m_user_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.last_edited_by)
                        @Html.HiddenFor(model => model.last_edited_at)
                        @Html.HiddenFor(model => model.m_app_limit)
                        @Html.HiddenFor(model => model.active_flag)
                        @Html.HiddenFor(model => model.m_user_type)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">User ID</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.m_user_login, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">User Name <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.m_, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" } })
                                            @Html.ValidationMessageFor(model => model.profname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @*<input type="checkbox" id="cbPassword" checked="checked" onclick="ViewDivPassword()" />*@
                                                @*<label class="control-label">Edit Password</label>*@
                                                @Html.CheckBox("cbpasswordvalue", new { htmlAttributes = new { @class = "form-control" } }) Edit Password
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divPassword">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Old Password <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.m_user_pass, new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.m_user_pass, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">New Password <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.Editor("new_m_user_pass", new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "20" } })
                                            @Html.ValidationMessage("new_m_user_pass", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm New Password <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.Editor("confirm_new_m_user_pass", new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "20" } })
                                            @Html.ValidationMessage("confirm_new_m_user_pass", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.CheckBox("cbemailvalue", new { htmlAttributes = new { @class = "form-control" } }) Edit Email
                                                <input type="checkbox" id="cbEmail" checked="checked" onclick="ViewDivEmail()" />
                                                <label class="control-label">Edit Email</label>
                                                @Html.Hidden("cbemailvalue")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divEmail">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email Address <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.Editor("m_employee_email1", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                            @Html.ValidationMessage("m_employee_email1", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        </div>
                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript"> 
    $(document).ready(function () {
        $('#divPassword').hide();
        $('#divEmail').hide();
        $('#cbpasswordvalue').change(function () {
            $('#divPassword').hide();
            if ($(this).is(':checked')) {
                $('#divPassword').show();
                $('#cbpasswordvalue').val("true");
            } else {
                $('#divPassword').hide();
                $('#cbpasswordvalue').val("false");
            }
        }); 
    });
     
    $("#btnSave").click(function () {
        event.preventDefault(); 
        var cbpasswordvalue = $('#cbpasswordvalue').val();
        var newprofpass = $('#new_m_user_pass').val();
        var confirmprofpass = $('#confirm_new_m_user_pass').val(); 
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
      
        var action = $('#action').val();
        var closing = $('#closing').val("true");

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Update"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action, cbpasswordvalue: cbpasswordvalue, newprofpass: newprofpass, confirmprofpass: confirmprofpass },
            success: function (data) { 
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                            if (closing != '')
                                location.replace("@(Url.Action("Index"))");
                            else
                            {
                                if (action == "New Data")
                                    location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                                else
                                location.replace("@(Url.Action("Form"))");
                            }
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error'); 
            }
        });
    });
</script>