﻿@model MIS_MAGNA_MVC.Models.tb_t_spr

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*<div class="box-header">
                <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
            </div>*@
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id) 
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe<label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.DropDownList("type_revisi", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TANGGAL BAYAR", Value="TANGGAL BAYAR" },
                                                new SelectListItem { Text="HAPUS DATA", Value="HAPUS DATA" },
                                            }, new { @class = "form-control select2", @onchange = "" })
                                            @*change_type()*@
                                        </div>
                                    </div>
                                </div> 
 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_code", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                          
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="hide_detail">
                        <div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                        </div>


                        <div class="box-body"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped text-sm" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer"> 
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning btn-md" id="btnSave"><b>Save Data</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
     
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            "responsive": true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.', className: "text-center" },
                { data: 'r_piutang_note', name: 'r_piutang_note', className: "text-left", title: 'Keterangan' },
                { data: 'r_piutang_ref_date', name: 'r_piutang_ref_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: "r_piutang_amt", name: "r_piutang_amt", className: "text-right", title: 'Rencana Tagihan', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },

                { data: 'r_piutang_pay_ref_no', name: 'r_piutang_pay_ref_no', className: "text-left", title: 'No. Kas / Bank' },

                { data: 'r_piutang_pay_amt', name: 'r_piutang_pay_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 'r_piutang_pay_amt', ' money', '', "width:100px;"); } },

                //{ data: "r_piutang_pay_amt", name: "r_piutang_pay_amt", className: "text-right", title: 'Realisasi Bayar', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },

                {
                    data: 'r_piutang_pay_ref_date', name: 'r_piutang_pay_ref_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) {
                        return generateinput(data, 'r_piutang_pay_ref_date', ' datepicker datemask2', 'onchange="date_change(this)"', "max-width:100px;");
                    }
                },

                { data: 'r_piutang_seq', name: 'r_piutang_seq', className: "text-center", title: 'No.', orderable: false, checkboxes: { selectRow: false } },
            ]
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });
        FillDetailData();
    });

    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return true;
        setData(this, tbl_dtl);
        e.preventDefault();
    });

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var param = GetFilterData();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_piutang_seq = i + 1;
                        data.tbl[i].r_piutang_pay_ref_date = moment(data.tbl[i].r_piutang_pay_ref_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    //$('#tbl_dtl').on('click', '.remove', function (e) {
    //    $tr = $(this).closest('tr');
    //    var del_obj = tbl_dtl.row($tr).data();
    //    tbl_dtl.row($tr).remove().draw();

    //    //Mengurutkan nomor
    //    for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
    //        tbl_dtl.cell(i, 'r_piutang_seq:name').data(i + 1).invalidate();
    //    }
    //    e.preventDefault();
    //});

    function GetFilterData() {
        var data = {
            m_cust_id: $('#m_cust_id').val(),
            m_item_id: $('#m_item_id').val(),
            m_proyek_id: $('#m_proyek_id').val(),
            type_revisi: $('#type_revisi').val(),
        };
        return data;
    }

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        //var param = GetFilterData();
        event.preventDefault();
     
        var rowsel = tbl_dtl.column(7).checkboxes.selected();
        if (!rowsel.length) return Swal('', 'Please select Data first!', 'warning');
        var token = $('input[name="__RequestVerificationToken"]').val();
        var dtDtl = [];

        Swal({
            title: 'Are you sure to Change this data?',
            text: "Change data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Change this data!'
        }).then((result) => {
            if (result.value) {
                $.each(rowsel, function (key, val) {
                    var alldata = tbl_dtl.row(val - 1).data();
                    dtDtl.push(alldata);
                    console.log(alldata);
                }); 
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SimpanData"))",
                    data: { __RequestVerificationToken: token, dtDtl },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Sukses!', 'Data has been Change!', 'success')
                            setTimeout(function () {
                                location.replace(url_Index);
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });
    });

    @*$("#btnDelete").click(function () {
        event.preventDefault();
        var param = GetFilterData();
        var rowsel = tbl_dtl.column(7).checkboxes.selected();
        if (!rowsel.length) return Swal('', 'Please select Data first!', 'warning');
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        $.each(rowsel, function (key, val) {
            var alldata = tbl_dtl.row(val - 1).data();
            tbldtl.push(alldata);
        });

        Swal({
            title: 'Yakin Ingin hapus data?',
            text: "Hapus data gagal!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Hapus ini data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url:  "@(Url.Action("HapusData"))",
                    data: { __RequestVerificationToken: token, param, tbldtl },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Confimed!', 'Data has been Close!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Close data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });

    });*@
</script> 