﻿@model MIS_MAGNA_MVC.Models.tb_t_titipan

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.m_company_id)
                    @Html.HiddenFor(model => model.t_titipan_uid)
                    @Html.HiddenFor(model => model.m_cust_id)
                    @Html.HiddenFor(model => model.m_item_id)
                    @Html.HiddenFor(model => model.m_proyek_id)
                    @Html.HiddenFor(model => model.t_spr_id)
                    @Html.HiddenFor(model => model.t_spr_awal_id)
                    @Html.HiddenFor(model => model.t_kb_no)
                    @Html.HiddenFor(model => model.t_titipan_trans_type)
                    @Html.HiddenFor(model => model.created_by)
                    @Html.HiddenFor(model => model.created_at)
                    @Html.HiddenFor(model => model.updated_by)
                    @Html.HiddenFor(model => model.updated_at)
                    @Html.Hidden("action")
                    @Html.Hidden("revisi")
                    @Html.Hidden("nomor")
                    @Html.Hidden("tableoid")
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Bisnis</label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        @Html.CheckBoxFor(model => model.t_titipan_ref_type)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Draft</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Titipan</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Proyek <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tgl. Titipan <label class="text-red">*</label></label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.t_titipan_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tipe Bayar <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.t_titipan_type_bayar, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="-- Pilih Tipe Bayar --", Value = "" },
                                            new SelectListItem { Text="PENERIMAAN", Value = "PENERIMAAN" },
                                            new SelectListItem { Text="REALISASI", Value = "REALISASI" },
                                            //new SelectListItem { Text="PENGEMBALIAN", Value="PENGEMBALIAN" }
                                        }, new { @class = "form-control select2", @onchange = "change_type_bayar()" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tipe Titipan<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(m => m.t_titipan_type, null, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_cust" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-cust">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pakai Refund / Lebih Bayar</label>
                                    <div class="col-md-8">
                                        <label class="switch">
                                            <input type="checkbox" id="t_titipan_ref_type_id">
                                            <span class="slider round"></span>
                                        </label>
                                        <label id="t_titipan_ref_type_txt" class="control-label">Ya</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" id="divrefund" style="display:none">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Refund <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("t_refund_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchrefund" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-refund"> <i class="fa fa-search"></i> </button>
                                            </span>
                                        </div>
                                        @Html.HiddenFor(model => model.r_hutang_ref_id)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div_ref" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Referensi <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            @Html.Editor("t_titipan_ref_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_ref" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-ref">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                            @Html.HiddenFor(Model => Model.t_titipan_ref_id)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Masuk</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_masuk_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div_amt" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Realisasi</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Sisa</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_os_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal<label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.t_titipan_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div_profit" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Profit <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.t_titipan_profit_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Profit</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_profit_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Debet</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_debet_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Credit</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_credit_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Keterangan</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.t_titipan_note, new { @class = "form-control", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_titipan_status } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_titipan_status == "In Process" | Model.t_titipan_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-ref">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar No. Referensi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRef" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div> 

    <div class="modal fade" id="modal-refund">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Uang Kelebihan Bayar</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRefund" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Nama' },
                { data: 'm_cust_addr', name: 'm_cust_addr', title: 'Alamat' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit / Kavling' }
            ],
            order: [],
        });
        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 't_spr_date', name: 't_spr_date', title: 'Tgl. SPR' },
            ],
            order: [],
        });
        tblModalRef = $("#tblModalRef").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_titipan_type_bayar', name: 't_titipan_type_bayar', title: 'Tipe Bayar' },
                { data: 't_titipan_type', name: 't_titipan_type', title: 'Tipe' },
                { data: 't_titipan_no', name: 't_titipan_no', title: 'No. Titipan' },
                { data: 't_titipan_date', name: 't_titipan_date', title: 'Tgl. Titipan' },
                { data: 't_titipan_amt', name: 't_titipan_amt', title: 'Nominal', render: function (data) { return addCommas(data); } },
            ],
            order: [],
        });
        tblModalRefund = $("#tblModalRefund").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_refund_no', name: 't_refund_no', title: 'No Refund' },
                { data: 't_refund_date', name: 't_refund_date', title: 'Tgl Refund', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Customer' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_refund_amt', name: 't_refund_amt', title: 'Nominal Lebih Bayar', render: function (data, type, row) { return type != "display" ? data : '<span class="money">' + data + '</span>' } },
                { data: 't_refund_sisa_amt', name: 't_refund_sisa_amt', title: 'Nominal Sisa', render: function (data, type, row) { return type != "display" ? data : '<span class="money">' + data + '</span>' } },
            ],
            order: [],
        });
        tblModalRefund.on("draw", function () {
            $('#tblModalRefund .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalRefund .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalRefund .select2').select2({ theme: 'bootstrap' });
        });
        if ($("#action").val() == "Update Data") {
            var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
            var t_titipan_type = $("#t_titipan_type option:selected").val();
            hide_show_field(t_titipan_type_bayar, t_titipan_type);
        };
        ChangeRefund();
    });
    // == Event onclick === //
    $('#t_titipan_ref_type_id').change(function () {
        var msg = "";
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        if (t_titipan_type_bayar == "") { msg = "Silakan pilih Tipe bayar..!"; }
        if (t_titipan_type_bayar == "REALISASI") { msg = "Tipe bayar REALISASI tidak bisa pakai kelebihan bayar..!"; }
        if (msg != "") {
            Swal(msg, '', 'warning');
            $('#t_titipan_ref_type_txt').html('Tidak');
            $("input[type='checkbox']").prop('checked', false);
            $("#divrefund").hide();
            return false
        }

        if ($(this).is(':checked')) {
            $("input[type='checkbox']").prop('checked', true);
            $('#t_titipan_ref_type').val(true);
        } else {
            $("input[type='checkbox']").prop('checked', false);
            $('#t_titipan_ref_type').val(false);
        }
        ChangeRefund(); GetAccount(t_titipan_type_bayar);
    });

    $('#t_titipan_amt').on('blur', function () { HitungNominal(); });
    // == End Event onclick === //

    // === End Event Button === //
    var url_GetDataCust = "@(Url.Action("GetDataCust"))"
    $("#btnsearch_cust").click(function () {
        var t_titipan_id = $('#t_titipan_id').val();
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();
        if (t_titipan_type == "0") {
            Swal('Silahkan pilih tipe titipan terlebih dahulu!', '', 'warning');
            return false
        }
        if (t_titipan_type_bayar == "") {
            Swal('Silahkan pilih tipe bayar terlebih dahulu!', '', 'warning');
            return false
        }
        tblModalCust.clear().draw();
        $.ajax({
            url: url_GetDataCust,
            data: { t_titipan_type_bayar, t_titipan_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalCust.rows.add(data.tbl).draw();
                    tblModalCust.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalCust").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalCust.row($tr).data();
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $('#modal-cust').modal('hide');
    });

    var url_GetDataItem = "@(Url.Action("GetDataItem"))"
    $("#btnsearch_item").click(function () {
        var m_cust_id = $('#m_cust_id').val();
        if (m_cust_id == 0) {
            Swal('Silahkan pilih customer terlebih dahulu!', '', 'warning');
            return false
        }

        tblModalItem.clear().draw();
        $.ajax({
            url: url_GetDataItem,
            data: { m_cust_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.tbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $('#modal-item').modal('hide');
    });

    var url_GetDataRef = "@(Url.Action("GetDataRef"))"
    $("#btnsearch_ref").click(function () {
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
        var t_titipan_type = $('#t_titipan_type').val();
        var m_item_id = $('#m_item_id').val();
        var t_titipan_id = $('#t_titipan_id').val();
        if (t_titipan_type == '') {
            Swal('Silahkan pilih tipe terlebih dahulu!', '', 'warning');
            return false
        }
        if ((m_item_id == 0) || (m_item_id == '') || (m_item_id == null) || (m_item_id == 'null')) {
            Swal('Silahkan pilih unit terlebih dahulu!', '', 'warning');
            return false
        }
        tblModalRef.clear().draw();
        $.ajax({
            url: url_GetDataRef,
            data: { t_titipan_type, m_item_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRef.rows.add(data.tbl).draw();
                    tblModalRef.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalRef").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalRef.row($tr).data();
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();

        $("#t_titipan_ref_id").val(alldata.t_titipan_id);
        $("#t_titipan_ref_no").val(alldata.t_titipan_no);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#t_titipan_pay_amt").val(alldata.t_titipan_pay_amt);
        if (t_titipan_type_bayar == "REALISASI") { HitungNominal(); }
        $("#t_titipan_masuk_amt").val(alldata.t_titipan_masuk_amt);
        $('#modal-ref').modal('hide');
        HitungNominal();
    });

    $("#btnsearchrefund").click(function () {
        var t_titipan_debet_account_id = $("#t_titipan_debet_account_id option:selected").val();
        var m_item_id = $("#m_item_id").val();
        var m_cust_id = $("#m_cust_id").val();
        var t_spr_awal_id = $("#t_spr_awal_id").val();
        if ((m_item_id == 0) || (m_item_id == '')) {
            Swal('Silahkan Pilih Unit!', '', 'warning');
            return false
        }

        tblModalRefund.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRefundData"))",
            data: { t_spr_awal_id, m_cust_id, m_item_id, t_titipan_debet_account_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRefund.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalRefund").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalRefund.row($tr).data();
        $("#r_hutang_ref_id").val(alldata.t_refund_id);
        $("#t_refund_no").val(alldata.t_refund_no);
        $("#t_titipan_amt").val(alldata.t_refund_sisa_amt);
        $("#m_item_old_id").val(alldata.m_item_old_id);
        $("#t_titipan_debet_account_id").val(alldata.r_hutang_account_id).show().trigger('change');
        $('#modal-refund').modal('hide');
    });
     
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray(); var action = $('#action').val();
        var tbl = {}; var t_titipan_ref_no = $("#t_titipan_ref_no").val();
        //alert($('#t_titipan_ref_type').val());
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        tbl['t_titipan_ref_type'] = $('#t_titipan_ref_type').val();
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, action, t_titipan_ref_no },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) { location.replace("@(Url.Action("Index"))"); }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    //$("#closing").val('');
                    $("#t_titipan_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                //$("#closing").val('');
                $("#t_titipan_status").val("In Process");
            }
        });
    });

    $("#btnSaveClose").click(function () { $("#btnSave").click(); });

    var url_Delete = "@(Url.Action("Delete"))"
    $("#btnDelete").click(function () {
        var id = $("#t_titipan_id").val();
        var revisi = $('#revisi').val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to ' + (revisi == "true" ? "REVISED" : "DELETE") + ' this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ' + (revisi == "true" ? "Revised" : "Revised") + ' this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Delete,
                    data: { __RequestVerificationToken: token, id, revisi },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('' + (revisi == "true" ? "Revised" : "Revised") + '!', 'Data has been ' + (revisi == "true" ? "Revised" : "Revised") + '!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_titipan_status").val("Post");
                    //$("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

    $("#btnShowCOA").click(function () {
        var nomor = ""; var tablename = ""; var tableoid = "0";
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
        var t_titipan_ref_type = $('#t_titipan_ref_type').is(":checked");
        //alert(t_titipan_ref_type);
        if (t_titipan_type_bayar == "PENGEMBALIAN") {
            tablename = "tb_t_kbk_h";
            tableoid = $("#tableoid").val();
            nomor = $("#nomor").val();
        } else if (t_titipan_type_bayar == "PENERIMAAN") {
            tablename = "tb_t_kbm_h";
            tableoid = $("#tableoid").val();
            nomor = $("#nomor").val();
            if (t_titipan_ref_type == true) { tablename = "tb_t_titipan"; tableoid = $("#t_titipan_id").val(); }
        } else if (t_titipan_type_bayar == "REALISASI") {
            tablename = "tb_t_titipan";
            tableoid = $("#t_titipan_id").val();
            nomor = $("#t_titipan_no").val();
        }
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });

    // === End Event Button === //

    // ====== Global function ===== //
    function ChangeRefund() {
        //var t_titipan_ref_type_id = $('#t_titipan_ref_type_id').is(":checked");
        var t_titipan_ref_type = $('#t_titipan_ref_type').is(":checked");
        if (t_titipan_ref_type == true) {
            $("input[type='checkbox']").prop('checked', true);
            $("#divrefund").show(); $('#t_titipan_ref_type_txt').html('Ya');
            $('#t_titipan_ref_type').val(true);
        } else {
            $("input[type='checkbox']").prop('checked', false);
            $("#divrefund").hide(); $('#t_titipan_ref_type_txt').html('Tidak');
            $("#r_hutang_ref_id").val("0");
            $('#t_titipan_ref_type').val(false);
        }
    }

    function HitungNominal() {
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
        var t_titipan_amt = tNumber($("#t_titipan_amt").val());
        var t_titipan_pay_amt = tNumber($("#t_titipan_pay_amt").val());
        var t_titipan_os_amt = tNumber($("#t_titipan_os_amt").val());
        var t_titipan_masuk_amt = tNumber($("#t_titipan_masuk_amt").val());
        if (t_titipan_type_bayar != "PENERIMAAN") t_titipan_os_amt = t_titipan_masuk_amt - t_titipan_pay_amt - t_titipan_amt;
        $("#t_titipan_os_amt").val(t_titipan_os_amt);
    }

    function hide_show_field(t_titipan_type_bayar, t_titipan_type) {
        $(".div_ref").hide(); $(".div_amt").hide(); $(".div_profit").hide();
        if (t_titipan_type_bayar == "PENGEMBALIAN") {
            $(".div_ref").show();
            $(".div_amt").show();
        } else if (t_titipan_type_bayar == "REALISASI") {
            $(".div_ref").show();
            $(".div_amt").show();
        } else if (t_titipan_type_bayar == "PENERIMAAN" && t_titipan_type=="PENINGKATAN") {
            $(".div_ref").show();
            $(".div_amt").show();
        }
    }

    function GetAccount(t_titipan_type_bayar) {
        var t_titipan_ref_type = $('#t_titipan_ref_type_id').is(":checked");
        $.ajax({
            url: "@(Url.Action("GetAccount"))",
            data: { t_titipan_type_bayar, t_titipan_ref_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = ""; var markup3 = "";
                    $.each(data.db, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_debet_account_id").html(markup).show().trigger('change');

                    $.each(data.cr, function (key, val) {
                        markup2 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_credit_account_id").html(markup2).show().trigger('change');

                    $.each(data.crp, function (key, val) {
                        markup3 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_profit_account_id").html(markup3).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function change_type_bayar() {
         var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
         var t_titipan_type = $("#t_titipan_type option:selected").val();
         if (t_titipan_type_bayar == "REALISASI" || t_titipan_type_bayar == "") {
             $("input[type='checkbox']").prop('checked', false);
             $('#t_titipan_ref_type_txt').html('Tidak');
             $("#divrefund").hide();
         }
         hide_show_field(t_titipan_type_bayar, t_titipan_type);
         GetAccount(t_titipan_type_bayar);
         $.ajax({
             url: "@(Url.Action("GetType"))",
             data: { t_titipan_type_bayar },
             cache: false,
             type: "POST",
             success: function (data) {
                 if (data.result == "") {
                     var markup = "";
                     $.each(data.tbl, function (key, val) {
                         markup += "<option value=\'" + val.Value + "\'>" + val.Text + "</option>";
                     });
                     $("#t_titipan_type").html(markup).show().trigger('change');
                 } else {
                     swal('', data.result, 'error');
                 }
             },
             error: function (err) {
                 swal('', err.responseText, 'error');
             }
         });
         $("#m_cust_id").val("0");
         $("#m_cust_name").val("");
         $("#m_item_id").val("0");
         $("#m_item_name").val("");
    }
    // ====== End Global function ===== //
</script>