﻿@model MIS_MAGNA_MVC.Models.tb_t_kbk_h

@{
    ViewBag.Title = "Realisasi Promo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_kbk_uid)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.posted_at)
                        @Html.HiddenFor(model => model.posted_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.t_spr_id)
                        @Html.HiddenFor(model => model.t_spr_awal_id)
                        @Html.HiddenFor(model => model.t_promo_id)
                        @Html.HiddenFor(model => model.m_company_id)
                        @Html.HiddenFor(model => model.t_refund_id)
                        @Html.HiddenFor(model => model.m_promo_id)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Real</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_kbk_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Transfer <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_kbk_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Sistem <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Referensi</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_kbk_ref_no, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Untuk</label>
                                        <div class="col-md-6">
                                            @Html.RadioButtonFor(model => model.t_kbk_type, "Promo", new { @checked = "checked", @required = "", @onchange = "ChangeUntuk()" })
                                            Promo
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6" id="divunit">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchunit" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-unit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Promo</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_promo_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row" id="divproyek">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar</label>
                                        <div class="col-md-6">
                                            @Html.RadioButtonFor(model => model.t_kbk_type_bayar, "KK", new { @checked = "checked", @required = "", @onchange = "ChangeAccount()" })
                                            KAS
                                            @Html.RadioButtonFor(model => model.t_kbk_type_bayar, "BK", new { @required = "", @onchange = "ChangeAccount()" })
                                            BANK
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_kbk_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_kbk_h_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_kbk_h_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Bayar</label>
                                        <div class="col-md-4">
                                            @Html.Editor("amt_bayar", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Editor("amt_sisa", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL
                    @Html.Hidden("t_promo_type_bayar", new { @Value = "" })
                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                if (Model.t_kbk_h_status == "In Process" | Model.t_kbk_h_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost" data-toggle="modal" data-target="#modal-coa"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }

                            }
                        </div>
                    </div>

                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Hutang Biaya Promo</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal" style="display:none">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
    @* MODAL UNTUK Unit*@
    <div class="modal fade" id="modal-unit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalUnit" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK Unit*@

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <div class="text-center"><label id="t_titipan_ref_type_txt" class="control-label"></label></div>
                </div>

                <div class="modal-body" id="modalbody">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalcoa" class="table table-striped" style="width: 100%">
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <div><label id="sText" class="control-label"></label></div>
                    <button type="button" id="btnPosting" class="btn btn-primary btn-md"><b>Post Data</b></button>
                    <button type="button" id="btnBatal" class="btn btn-warning btn-md"><b>Cancel</b></button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script language="javascript" type="text/javascript">
    var tbl_dtl = null;
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 't_kbk_d_seq', name: 't_kbk_d_seq', title: 'No.' },
                { data: 'r_promo_ref_no', name: 'r_promo_ref_no', title: 'No. SPR', className: "text-left text-nowrap" },
                { data: 'r_promo_ref_date', name: 'r_promo_ref_date', className: "text-left text-nowrap", title: 'Tgl. Promo', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: 'r_promo_amt', name: 'r_promo_amt', title: 'Tagihan', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                { data: 't_kbk_d_amt', name: 't_kbk_d_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_kbk_d_amt', ' money', ' readonly', "width:100px;"); } },
                { data: 't_kbk_d_note', name: 't_kbk_d_note', title: 'Keterangan', className: "text-left text-nowrap" },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 't_kbk_d_seq', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'r_promo_ref_no', name: 'r_promo_ref_no', title: 'No. SPR', className: "text-left text-nowrap" },
                { data: 'r_promo_ref_date', name: 'r_promo_ref_date', className: "text-left text-nowrap", title: 'Tgl. Promo', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: 'r_promo_amt', name: 'r_promo_amt', title: 'Tagihan', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                { data: 't_kbk_d_amt', name: 't_kbk_d_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_kbk_d_amt', ' money', ' readonly', "width:100px;"); } },
                { data: 't_kbk_d_note', name: 't_kbk_d_note', title: 'Keterangan', className: "text-left text-nowrap" },
            ],
            "select": { "style": 'multi' },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalUnit = $("#tblModalUnit").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Konsumen' },
                { data: 'm_promo_name', name: 'm_promo_name', title: 'Jenis Promo' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
            ],
            order: [],
        });
        tblModalUnit.on("draw", function () {
            $('#tblModalUnit .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalUnit .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalUnit .select2').select2({ theme: 'bootstrap' });
        });

        tblModalcoa = $("#tblModalcoa").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "m_account_debet_amt", name: "m_account_debet_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "m_account_credit_amt", name: "m_account_credit_amt", title: 'Credit', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: 'm_account_note', name: 'm_account_note', title: 'Keterangan', className: "text-left text-nowrap" },
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                m_account_debet_amt = api.column('m_account_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                m_account_credit_amt = api.column('m_account_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('m_account_debet_amt:name').footer()).html(addCommas(tRound(m_account_debet_amt, 2)));
                $(api.column('m_account_credit_amt:name').footer()).html(addCommas(tRound(m_account_credit_amt, 2)));
            },
            order: [],
        });

        tblModalcoa.on("draw", function () {
            $('#tblModalcoa .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        if ($("#action").val() == "Update Data") {
            FillDetailData(); ChangeUnit();
            var t_kbk_h_amt = tNumber($("#t_kbk_h_amt").val());
            $("#amt_bayar").val(t_kbk_h_amt); $("#amt_sisa").val(0);
        }
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generateselect(value, name, addAttr, dt_list) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dt_list, function (key, val) {
            var selected = "";
            if (val.Value == value) selected = ' selected'
            option += "<option value=\'" + val.Value + "\'" + selected + " data_val=\'" + (val) + "\'>" + val.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };

    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function ChangeUntuk() { ChangeUnit(); ClearUnit(); }

    function ClearUnit() {
        $("#m_item_id").val(0); $("#m_cust_id").val(0); $("#m_proyek_id").val(0); $("#t_spr_id").val(0); $("#t_spr_awal_id").val(0);
        $("#m_item_name").val(""); $("#m_cust_name").val(""); $("#m_proyek_name").val("");
    }

    function ChangeUnit() {
        var ddl = $("input:radio[name=t_kbk_type]:checked").val();
        $("#divunit").hide(); $("#divproyek").hide(); //$("#btnAddToList").show();
        if (ddl == "Promo") {
            $("#divunit").show(); $("#divproyek").show(); //$("#btnAddToList").hide();
        }
    }

    function hideshow() {
        var ddl = $("input:radio[name=t_kbk_type]:checked").val();
        tbl_dtl.column('m_account_code:name').visible(true);
        tbl_dtl.column('m_account_name:name').visible(true);
        tbl_dtl.column('t_spr_no:name').visible(false);
        tbl_dtl.column('r_piutang_ref_due_date:name').visible(false);
        tbl_dtl.column('r_piutang_amt:name').visible(false);
        tblModalDtl.column('m_account_code:name').visible(true);
        tblModalDtl.column('m_account_name:name').visible(true);
        tblModalDtl.column('t_spr_no:name').visible(false);
        tblModalDtl.column('r_piutang_ref_due_date:name').visible(false);
        tblModalDtl.column('r_piutang_amt:name').visible(false);
        if (ddl == "Proyek") {
            tbl_dtl.column('m_account_code:name').visible(false);
            tbl_dtl.column('m_account_name:name').visible(false);
            tbl_dtl.column('t_spr_no:name').visible(true);
            tbl_dtl.column('r_piutang_ref_due_date:name').visible(true);
            tbl_dtl.column('r_piutang_amt:name').visible(true);
            tblModalDtl.column('m_account_code:name').visible(false);
            tblModalDtl.column('m_account_name:name').visible(false);
            tblModalDtl.column('t_spr_no:name').visible(true);
            tblModalDtl.column('r_piutang_ref_due_date:name').visible(true);
            tblModalDtl.column('r_piutang_amt:name').visible(true);
        }
    }

    function ChangeAccount() {
        var t_kbk_account_id = $("#t_kbk_account_id option:selected").val();
        var action = $("#action").val();
        var t_kbk_type_bayar = $("input:radio[name=t_kbk_type_bayar]:checked").val();
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { t_kbk_type_bayar, action },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_kbk_account_id").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function IsOnDtl(t_kbk_ref_table, t_kbk_ref_id) {
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (t_kbk_ref_table == alldata.t_kbk_ref_table && t_kbk_ref_id == alldata.t_kbk_ref_id) {
                return true;
            }
        }
        return false;
    }

    function FillDetailData() {
        var t_kbk_h_id = $('#t_kbk_h_id').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { t_kbk_h_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function SumAmtHdr() {
        var t_kbk_h_amt = 0; var amt_bayar = $("#amt_bayar").val();
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) { var alldata = tbl_dtl.row(i).data(); t_kbk_h_amt += alldata.t_kbk_d_amt; }
        $("#amt_sisa").val(amt_bayar - t_kbk_h_amt); $("#t_kbk_h_amt").val(t_kbk_h_amt);
    }

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        //if (attrname == "t_kbm_d_amt" || attrname == "t_kbm_disc_amt") {
        //    obj.t_kbm_d_netto = obj.t_kbm_d_amt - obj.t_kbm_disc_amt;
        //    tbl.cell($tr, 't_kbm_d_netto:name').data(tRound(obj.t_kbm_d_netto, 2)).invalidate();
        //}
        tbl.draw();
        SumAmtHdr();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
    };

    function EnabledHeader() {
        var bVal = false;
        if (tbl_dtl.rows().data().length > 0) { bVal = true; tbl_dtl.columns.adjust().draw(); }
        $("#m_company_id").attr("readonly", bVal);
        $("#btnsearchunit").attr("disabled", bVal);
        $("input:radio[name=t_kbk_type]:not(:checked)").attr('disabled', bVal);
    }

    $('#amt_bayar').on('blur', function () {
        var amt_bayar = tNumber($("#amt_bayar").val());
        $("#amt_sisa").val(amt_bayar);
        tbl_dtl.clear().draw();
    });

    $("#btnsearchunit").click(function () {
        tblModalUnit.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetUnitData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalUnit.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalUnit").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalUnit.row($tr).data();

        $("#m_item_id").val(alldata.m_item_id);
        $("#t_promo_id").val(alldata.t_promo_id);
        $("#m_promo_id").val(alldata.m_promo_id);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_promo_name").val(alldata.m_promo_name);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $("#m_cust_name").val(alldata.m_cust_name);
        $('#modal-unit').modal('hide');
    });

    $("#btnAddToList").click(function () {
        var amt_bayar = $("#amt_bayar").val();
        var mst = $('form').serializeArray(); var stbl = {};
        if ((m_item_id == 0) || (m_item_id == '')) { Swal('Silahkan Pilih Unit!', '', 'warning'); return false; }
        if ((amt_bayar == 0) || (amt_bayar == '')) { Swal('Silahkan isi Total Bayar!', '', 'warning'); return false; }
        jQuery.map(mst, function (n, i) { stbl[n.name] = n.value; });

        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { stbl },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.t_kbk_d_seq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#tblModalDtl").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalDtl.row($tr).data();
        var amt_sisa = tNumber($("#amt_sisa").val());
        if (amt_sisa >= alldata.r_promo_amt) { alldata.t_kbk_d_amt = alldata.r_promo_amt; }
        else alldata.t_kbk_d_amt = amt_sisa;
        var rows = [];
        var id = tbl_dtl.data().length + 1;
        if (amt_sisa > 0) {
            if (!IsOnDtl(alldata.t_kbk_ref_table, alldata.t_kbk_ref_id)) {
                alldata.t_kbk_d_seq = id++;
                alldata.r_promo_ref_date = moment(alldata.r_promo_ref_date).format("MM/DD/YYYY");
                rows.push(alldata);
                if (alldata.t_promo_type_bayar == "tunai") {
                    $("#t_promo_type_bayar").val(alldata.t_promo_type_bayar); //ChangeAccount();
                }
            }
        }
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        tbl_dtl.draw(); SumAmtHdr(); EnabledHeader();
        $('#modal-detail').modal('hide');
    });

    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });

    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr'); tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) { tbl_dtl.cell(i, 't_kbk_d_seq:name').data(i + 1).invalidate(); }
        SumAmtHdr(); EnabledHeader(); e.preventDefault();
    });

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtl = []; var dtcoa = [];
        var action = $('#action').val();
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });

        for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            alldata.r_promo_ref_date = moment(alldata.r_promo_ref_date).format("MM/DD/YYYY");
            dtl.push(alldata);
        }

        for (var i = 0; i < tblModalcoa.rows().data().length; i++) {
            var alldata = tblModalcoa.row(i).data();
            dtcoa.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, dtl, dtcoa, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error');
                //$("#closing").val('');
            }
        });
    });

    $("#btnPost").click(function () {
        var mst = $('form').serializeArray();
        var stbl = {}; var dtl = []; var action = $('#action').val();
        jQuery.map(mst, function (n, i) { stbl[n.name] = n.value; });

        for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            alldata.r_promo_ref_date = moment(alldata.r_promo_ref_date).format("MM/DD/YYYY");
            dtl.push(alldata);
        }
        tblModalcoa.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShowCoa"))",
            data: { stbl, dtl },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#t_titipan_ref_type_txt').html(data.result);
                tblModalcoa.rows.add(data.tbl).draw();
                tblModalcoa.columns.adjust().draw();
                $("#modalbody").show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        url_Index = "@(Url.Action("Index"))";
        $("#t_kbk_h_status").val("Post");
        $("#btnSave").click();
    });

    $("#btnBatal").click(function () { tblModalcoa.clear().draw(); $('#modal-coa').modal('hide'); });
    //$("#btnPost").click(function () {
    //    var token = $('input[name="__RequestVerificationToken"]').val()
    //    Swal({
    //        title: 'Are you sure to Post this data?',
    //        text: "",
    //        type: 'warning',
    //        showCancelButton: true,
    //        confirmButtonClass: 'btn btn-success',
    //        cancelButtonClass: 'btn btn-danger',
    //        confirmButtonText: 'Yes, Post this data!'
    //    }).then((result) => {
    //        if (result.value) {
    //            setTimeout(function () {
    //                $("#t_kbk_h_status").val("Post");
    //                //$("#closing").val("true");
    //                $("#btnSave").click();
    //            }, 100)
    //        }
    //    })
    //});

    $("#btnDelete").click(function () {
        var id = $("#t_kbk_h_id").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        Swal({
        title: 'Are you sure to DELETE this data?',
        text: "Deleted data can't be returned!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success' )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning' )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_kbk_no").val();
        var tablename = "tb_t_kbk_h";
        var tableoid = $("#t_kbk_h_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });

    //$(document).on('keyup', 'input:text, textarea', function (e) {
    //    if ($(e.target).hasClass('money')) return true;
    //    var start = e.target.selectionStart;
    //    var end = e.target.selectionEnd;
    //    e.target.value = e.target.value.toUpperCase();
    //    e.target.setSelectionRange(start, end);
    //});
</script>