﻿@{
    ViewBag.Title = "Pengeluaran Kas/Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>List @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div> 
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <span id="varforlink" style="display: none"></span>
                            <table id="datatable" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";
    $("#closed_show").show();
    var ddlstatus = "=''"//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == "1") ddlstatus = "in('In Process','Revised')";
    else if (filter == "2") ddlstatus = "in('In Approval')";
    else if (filter == "3") ddlstatus = "in('Approved','Post')";
    else if (filter == "4") ddlstatus = "in('Complete','Closed')";
    else if (filter == "5") ddlstatus = "in('Rejected','Cancel')";

    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [null, null, null, null, null, null, null, { "search": ddlstatus }],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                { data: "t_kbk_h_id", name: "t_kbk_h_id", title: 'No. Draft', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.t_kbk_h_id + '" class="text-primary">' + data + '</a>'; } },
                { data: "t_kbk_no", name: "t_kbk_no", title: 'No. KBK' },
                { data: "t_kbk_date", name: "t_kbk_date", title: 'Tgl. KBK', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: "m_unit_name", name: "m_unit_name", title: 'Unit' },
                { data: "m_account_name", name: "m_account_name", title: 'Akun' },
                { data: "t_kbk_h_amt", name: "t_kbk_h_amt", title: 'Nominal', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "t_kbk_h_note", name: "t_kbk_h_note", title: 'Keterangan' },
                { data: "t_kbk_h_status", name: "t_kbk_h_status", title: 'Status' },
                { data: "t_kbk_h_id", searchable: false, orderable: false, visible: true, checkboxes: { "selectRow": false } }
            ],
            "order": []
        });
        $("div.toolbar-print").html('<button title="Print Rincian" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(\'KELUAR\')"><i class="fa fa-print"></i></button>');
    });

    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("t_kbk_date:name")
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + periodfrom + ' 00:00:00\' and \'' + periodto + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("t_kbk_h_status:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='" + ddlstatus + "'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });

    function PrintReport(stype) {
        var table = $('#datatable').DataTable();
        var rowsel = table.column(-1).checkboxes.selected();
        var ids = rowsel.join(", ");
        if (ids != "")
            window.open("@Url.Action("PrintReport")?ids=" + ids + "&stype=" + stype);
        else
            swal('', 'Please select data to be printed!', 'warning');
    };
</script>























