﻿@model MIS_MAGNA_MVC.Models.tb_t_spr
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*<div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                        </div>*@
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.m_company_id)
                    @Html.HiddenFor(model => model.t_spr_uid)
                    @Html.HiddenFor(model => model.t_spr_id)
                    @Html.HiddenFor(model => model.m_cust_id)
                    @Html.HiddenFor(model => model.m_item_id)
                    @Html.HiddenFor(model => model.m_proyek_id)
                    @Html.HiddenFor(model => model.created_by)
                    @Html.HiddenFor(model => model.created_at)
                    @Html.HiddenFor(model => model.updated_by)
                    @Html.HiddenFor(model => model.updated_at)
                    @Html.HiddenFor(model => model.m_item_old_id) 
                    @Html.Hidden("t_spr_guid")
                    @Html.Hidden("m_item_flag")
                    @Html.Hidden("m_item_new_id")
                    @Html.Hidden("m_proyek_new_id")
                    @Html.Hidden("action")
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Info</label>
                                    <div class="col-md-6">
                                        @Html.Editor("sResult", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. SPR</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.t_spr_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tgl. SPR </label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.Editor("spr_date_new", new { htmlAttributes = new { @class = "form-control datepicker_to datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row hide">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tgl. SPR </label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.t_spr_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Proyek</label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_proyek_code", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Lama</label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Lama</label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_item_old_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Baru<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Harga SPR</label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.t_spr_price, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Harga Baru</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_spr_price_new", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row hide_unit">
                            <div class="col-md-12">
                                <h4 class="box-title"><u><b>Form Input Unit Baru</b></u></h4>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Proyek<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("m_proyek_new_id", null, new { @class = "form-control select2", @required = "", @onchange = "ChangeData()" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Cluster<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("m_cluster_id", null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Type Unit<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.DropDownList("m_item_type_unit_id", null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Luas Tanah(m2)<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_item_luas_tanah", new { htmlAttributes = new { @class = "form-control  money", @type = "text", @required = "", @maxlength = "100", @onblur = "onchange_nya()" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Luas Standart(m2)<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_item_luas_standart", new { htmlAttributes = new { @class = "form-control  money", @type = "text", @required = "", @maxlength = "100", @onblur = "onchange_nya()" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Luas Bangunan(m2)<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_item_luas_bangunan", new { htmlAttributes = new { @class = "form-control  money", @type = "text", @required = "", @maxlength = "100" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelebihan Tanah(m2)<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.Editor("m_item_lebih_tanah", new { htmlAttributes = new { @class = "form-control  money", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="box-title"><u><b>Informasi Pembayaran Kartu Kontrol</b></u></h4>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal UTJ</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_amt_utj", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pembayaran UTJ</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_pay_amt_utj", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal DP</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_amt_dp", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pembayaran DP</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_pay_amt_dp", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal KT</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_amt_kt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pembayaran KT</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_pay_amt_kt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal KPR</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_amt_kpr", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pembayaran KPR</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_pay_amt_kpr", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="box-title"><u><b>Informasi Total Pembayaran Kartu Kontrol</b></u></h4>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Bayar</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Diskon</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_disc_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total (Bayar - Diskon)</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_amt_total", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sisa Piutang</label>
                                    <div class="col-md-5">
                                        @Html.Editor("r_piutang_sisa_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            } 
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-warning btn-md" id="btnSaveUnit" data-toggle="modal" data-target="#modal-coa">
                            <b>Ganti Unit</b>
                            </button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                    <div class="text-center"><label id="t_titipan_ref_type_txt" class="control-label"></label></div>
                </div>

                <div class="modal-body" id="modalbody">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalcoa" class="table table-striped" style="width: 100%">
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <div><label id="sText" class="control-label"></label></div>
                    <button type="button" id="btnSave" class="btn btn-primary btn-md"><b>Update Data</b></button>
                    <button type="button" id="btnBatal" class="btn btn-warning btn-md"><b>Cancel</b></button> 
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.hide_unit').hide(); $("#btnShowCOA").hide();
        tblModalItem = $("#tblModalItem").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_code', name: 'm_proyek_code', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_item_luas_bangunan', name: 'm_item_luas_bangunan', className: "text-right", title: 'Luas Bangunan', render: function (data) { return addCommas(data); } },
                { data: 'm_item_luas_tanah', name: 'm_item_luas_tanah', className: "text-right", title: 'Luas Tanah', render: function (data) { return addCommas(data); } },
                { data: 'm_item_flag', name: 'm_item_flag', title: 'Status' },
            ],
            order: [],
        });

        tblModalcoa = $("#tblModalcoa").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "m_account_debet_amt", name: "m_account_debet_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "m_account_credit_amt", name: "m_account_credit_amt", title: 'Credit', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                m_account_debet_amt = api.column('m_account_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                m_account_credit_amt = api.column('m_account_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('m_account_debet_amt:name').footer()).html(addCommas(tRound(m_account_debet_amt, 2)));
                $(api.column('m_account_credit_amt:name').footer()).html(addCommas(tRound(m_account_credit_amt, 2)));
            },
            order: [],
        });

        tblModalcoa.on("draw", function () {
            $('#tblModalcoa .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
    });

    $('#t_spr_price_new').on('blur', function () {
        HitungSisaAmt();
    });

    $('#m_item_name').on('blur', function () {
        //$("#btnsearch_item").click();
    });

    $("#btnsearch_item").click(function () {
        GetDataItem();
    });

    //btnSaveUnit
    $("#btnBatal").click(function () {
        tblModalcoa.clear().draw();
        $('#modal-coa').modal('hide');
    });

    $("#btnSaveUnit").click(function () {
        var param = GetFilterData();
        param.m_item_new_id = $("#m_item_new_id").val();
        tblModalcoa.clear().draw();
        if (param.m_item_new_id == "0") {
            Swal('Tolong Pilih Unit dulu..!!', '', 'warning');
            return false;
        }
        $.ajax({
            url: "@(Url.Action("GetShowCoa"))",
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "ganti_harga")
                {
                    $('#t_titipan_ref_type_txt').html('Data ini masih ada sisa piutang (Belum Lunas) dan tidak ada kelebihan bayar<br>, Berikut jurnal yang akan terbentuk jika anda akan melanjutkan transaksi dengan klik tombol Update data :');
                    $('#sText').html(data.stext);
                    tblModalcoa.rows.add(data.tbl).draw();
                    tblModalcoa.columns.adjust().draw();
                    $('#sResult').val(data.result); $("#modalbody").show();
                }
                else if (data.result == "no")
                {
                    $('#sText').html(data.stext); $("#modalbody").hide();
                    $('#t_titipan_ref_type_txt').html(data.result);
                    $("#btnSave").hide();
                }
                else if (data.result == "ganti_unit_harga_sama") {
                    $('#sText').html(data.stext); $('#sResult').val(data.result);
                    $("#modalbody").hide(); $("#btnSave").show();
                    //alert(data.result);
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_item_flag").val(alldata.m_item_flag);
        $("#m_item_new_id").val(alldata.m_item_id);
        $("#m_proyek_new_id").val(alldata.m_proyek_id);
        $('.hide_unit').hide(); $('#action').val('Update');
        $('#modal-item').modal('hide');
    });

    function HitungSisaAmt() {
        var t_spr_price_new = tNumber($('#t_spr_price_new').val());
        var r_piutang_pay_amt = tNumber($('#r_piutang_pay_amt').val());
        var r_piutang_sisa_amt = t_spr_price_new - r_piutang_pay_amt;
        $('#r_piutang_sisa_amt').val(r_piutang_sisa_amt);
    }

    function GetDataItem() {
        var param = GetFilterData();
        if (param.m_item_name == "") {
            Swal({
                type: 'warning',
                title: "Isi kolom unit baru dengan nama unit baru, lalu klik icon luv",
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.value) {
                    $('#modal-item').modal('hide');
                    $('.hide_unit').show();
                }
            });
            return false;
        }
        tblModalItem.clear().draw();
        $.ajax({
              url: "@(Url.Action("GetDataItem"))",
              data: { param },
              cache: false,
              type: "POST",
              success: function (data) {
                  if (data.result == "") {
                      tblModalItem.rows.add(data.tbl).draw();
                      tblModalItem.columns.adjust().draw();
                  } else {
                       Swal({
                           title: data.result,
                           type: 'warning',
                           showCancelButton: true,
                           confirmButtonClass: 'btn btn-success',
                           cancelButtonClass: 'btn btn-danger',
                           confirmButtonText: 'Silahkan Input Unit Baru!'
                       }).then((result) => {
                           if (result.value) {
                               $('#modal-item').modal('hide'); $("#m_item_id").val("0");
                               $('.hide_unit').show(); $('#action').val('New');
                           }
                       });
                  }
              },
              error: function (err) {
                  swal('', err.responseText, 'error');
              }
        });
    }

    function GetFilterData() {
        var data = { 
            m_cust_name: $('#m_cust_name').val(),
            m_item_name: $('#m_item_name').val(), 
            m_item_id: $('#m_item_id').val(),
            m_item_old_id: $('#m_item_old_id').val(),
            m_item_new_id: $('#m_item_new_id').val(),
            m_proyek_id: $('#m_proyek_id').val(),
            m_proyek_new_id: $('#m_proyek_new_id').val(),
            m_item_type_unit_id: $('#m_item_type_unit_id').val(),
            m_item_luas_standart: $('#m_item_luas_standart').val(),
            m_item_luas_bangunan: $('#m_item_luas_bangunan').val(),
            m_item_luas_tanah: $('#m_item_luas_tanah').val(),
            m_item_lebih_tanah: $('#m_item_lebih_tanah').val(),
            m_cluster_id: $('#m_cluster_id').val(),
            t_spr_id: $('#t_spr_id').val(),
            t_spr_price: $('#t_spr_price').val(),
            t_spr_price_new: $('#t_spr_price_new').val(),
            r_piutang_amt_utj: $('#r_piutang_amt_utj').val(),
            r_piutang_pay_amt_utj: $('#r_piutang_pay_amt_utj').val(),
            r_piutang_amt_dp: $('#r_piutang_amt_dp').val(),
            r_piutang_pay_amt_dp: $('#r_piutang_pay_amt_dp').val(),
            r_piutang_amt_kt: $('#r_piutang_amt_kt').val(),
            r_piutang_pay_amt_kt: $('#r_piutang_pay_amt_kt').val(),
            r_piutang_amt_kpr: $('#r_piutang_amt_kpr').val(),
            r_piutang_pay_amt_kpr: $('#r_piutang_pay_amt_kpr').val(),
            r_piutang_pay_amt: $('#r_piutang_pay_amt').val(),
            r_piutang_sisa_amt: $('#r_piutang_sisa_amt').val(),
            r_piutang_disc_amt: $('#r_piutang_disc_amt').val(),
            r_piutang_amt_total: $('#r_piutang_amt_total').val(),  
            spr_date_new: $('#spr_date_new').val(),
            action: $('#action').val(),
            sResult: $('#sResult').val(),
        };
        return data;
    }

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        var param = GetFilterData(); var url_action = "@(Url.Action("GantiUnit"))";
        param.sResult = $('#sResult').val(); 
        var t_spr_guid = $('#t_spr_guid').val();
        if (param.sResult == "ganti_unit_harga_sama") { url_action = "@(Url.Action("ReplaceUnit"))"; };
        var token = $('input[name="__RequestVerificationToken"]').val();
        var dtDtl = [];
        for (var i = 0; i < tblModalcoa.rows().data().length; i++) {
            var alldata = tblModalcoa.row(i).data();
            dtDtl.push(alldata);
        }
        //if (param.t_spr_price != param.t_spr_price_new) {
        //    var sisa_amt = tNumber(param.t_spr_price_new) - tNumber(param.r_piutang_pay_amt);
        //    Swal('Nominal = '+ sisa_amt +'', '', 'warning');
        //    return false
        //}
        Swal({
            title: 'Anda Yakin akan ganti unit?',
            text: "Ubah data!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ganti unit sekarang!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                type: "POST",
                url: url_action,
                    data: { __RequestVerificationToken: token, param, t_spr_guid, dtDtl },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal('Ganti!', 'Data has been Change!', 'success')
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))"); GetChannel();
                        }, 1000);
                    } else {
                        Swal('Ganti Unit gagal!', data.msg, 'warning')
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
            }
        });
    });
    // Get data utk Create Unit
    function ChangeData() {
        var m_proyek_id = $("#m_proyek_id").val();
        $.ajax({
            url: "@(Url.Action("GetDataCluster"))",
            data: { m_proyek_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.ifield + "\'>" + val.sfield + "</option>";
                    });
                    $("#m_cluster_id").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function onchange_nya() {
        var m_item_luas_tanah = tNumber($("#m_item_luas_tanah").val());
        var m_item_luas_standart = tNumber($("#m_item_luas_standart").val());
        var m_item_lebih_tanah = m_item_luas_tanah - m_item_luas_standart;
        $("#m_item_lebih_tanah").val(m_item_lebih_tanah);

    } 
    
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script language="javascript" type="text/javascript"> 
        function GetChannel() {
            var chat = $.connection.chatHub;
            $.connection.hub.start().done(function () {
                chat.server.send('gantiunit', '');
            });
        }
    </script>
}