﻿@{
    ViewBag.Title = "Ganti Unit / Harga SPR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Daftar @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary"> 
                @*@Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")*@
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <span id="varforlink" style="display: none"></span>
                            <table id="tbl_index" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_Form = "@Url.Action("Form")";
    $(document).ready(function () {
        tbl_index = $('#tbl_index').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            "responsive": true,
            "columns": [
                { data: "t_spr_no", name: "t_spr_no", title: 'No. SPR', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '?' + row.link_href + '" class="text-primary">' + data + '</a>'; } },
                { data: "t_spr_date", name: "t_spr_date", title: 'Tgl. SPR', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: "m_cust_name", name: "m_cust_name", title: 'Customer' },
                { data: "m_item_name", name: "m_item_name", title: 'Unit' },
                { data: "t_spr_price", name: "t_spr_price", title: 'Harga', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "r_piutang_disc_amt", name: "r_piutang_disc_amt", title: 'Total Diskon', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "r_piutang_pay_amt", name: "r_piutang_pay_amt", title: 'Total Bayar', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "r_piutang_sisa_amt", name: "r_piutang_sisa_amt", title: 'Kurang Bayar', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "t_spr_status", name: "t_spr_status", title: 'Harga' }
            ],
            "order": []
        });
        tbl_index.on("draw", function () {
            $('#tbl_index .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_index .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_index .select2').select2({ theme: 'bootstrap' });
        });

        GetDataSPR();
    });

    function GetDataSPR() {
        tbl_index.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataSPR"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        rows.push(val);
                    });
                    tbl_index.rows.add(rows);
                    tbl_index.columns.adjust().draw();
                } else {

                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }
</script>