﻿
@{
    ViewBag.Title = "Laporan Laba Rugi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("ViewReport", "ViewReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddltype", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tahun | Bulan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("ddlyear", null, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("ddlmonth", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md" onclick="ShowReport('')"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md" onclick="ShowReport('PDF')"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md" onclick="ShowReport('XLS')"><b>Export to Excel</b></button>
                        <a href="@Url.Action("LabaRugi")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript"> 
    function GetFilterData() {
        var data = {
            ddltype: $('#ddltype option:selected').val(),
            ddlyear: $('#ddlyear option:selected').val(),
            ddlmonth: $('#ddlmonth option:selected').val(),
            bulan: $('#ddlmonth option:selected').text()
        };
        return data;
    }

    function ShowReport(reporttype) {
        var param = GetFilterData();
        $.ajax({
            url: "@(Url.Action("ViewReportLabaRugi"))",
            data: { param: param, reporttype: reporttype },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewerNew.aspx")" + "?report=" + data.rpt_id + "&rptname=" + data.rptname + "&rpttype=" + reporttype + "");
                if (reporttype == '')
                    pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>