﻿@{
    ViewBag.Title = "Interface";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>List @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body" style="display:none">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @Html.Partial("~/Views/Shared/_FilterListMst.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";
    var ddlstatus = ""//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == 1) ddlstatus = "='ACTIVE'"
    else if (filter == 2) ddlstatus = "='INACTIVE'"

    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [null, null, { "search": ddlstatus }],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                    { data: "m_interface_name", name: "m_interface_name", title: 'Kode', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.m_interface_h_id + '" class="text-primary">' + data + '</a>'; } },
                    { data: "m_interface_note", name: "m_interface_note", title: 'Keterangan' },
                    { data: "m_interface_status", name: "m_interface_status", title: 'Status' },
                     {
                         data: "created_at", name: "created_at", title: 'Di Buat'
                        , render: function (data, type, row) {
                            return type != "display" ? data : moment(data).format('DD/MM/YYYY')
                        }
                     }
            ],
            "order": []
        });
    });

    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("created_at:name")
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + periodfrom + ' 00:00:00\' and \'' + periodto + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("m_interface_status:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='" + ddlstatus + "'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });

    function PrintReport() {
        var table = $('#datatable').DataTable();
        var rowsel = table.column(-1).checkboxes.selected();
        var ids = rowsel.join(", ");
        if (ids != "")
            window.open("@Url.Action("PrintReport")?ids=" + ids + "");
    else
            swal('', 'Please select data to be printed!', 'warning');
    };
</script>























