﻿@model MIS_MAGNA_MVC.Models.tb_t_spr
@{
    ViewBag.Title = "Surat Pemesanan Rumah (SPR) Ganti Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_spr_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_item_old_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.m_marketing_id)
                        @Html.HiddenFor(model => model.t_refund_id)
                        @Html.HiddenFor(model => model.t_utj_amt2)
                        @Html.HiddenFor(model => model.t_shm_amt2)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.Hidden("t_utj_pay_amt")
                        @Html.Hidden("action")
                        @Html.Hidden("revisi")
                        @Html.Hidden("stype")
                        @Html.Hidden("sResult")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.t_spr_reff_id)
                                    @Html.HiddenFor(model => model.t_spr_awal_id)
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_spr_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_spr" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-spr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Revisi <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.t_spr_type_trans, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="Ganti Unit", Value="Ganti Unit" },
                                               new SelectListItem { Text="Ganti Harga", Value="Ganti Harga" },
                                            }, new { @class = "form-control select2", @readonly = "" })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. SPR <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_spr_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @Html.HiddenFor(model => model.t_utj_id)
                                @Html.HiddenFor(model => model.t_utj_type)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. UTJ</label>
                                        <div class="col-md-8">
                                            @Html.Editor("t_utj_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" id="div_marketing_name">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Marketing</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_marketing_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                    <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi Kartu Kontrol</b></u></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran Real</label>
                                        <div class="col-md-5">
                                            @Html.Editor("t_refund_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Ganti Unit</label>
                                        <div class="col-md-5">
                                            @Html.Editor("Biaya_ganti_unit", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya IJB</label>
                                        <div class="col-md-5">
                                            @Html.Editor("Biaya_IJB", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Lain</label>
                                        <div class="col-md-5">
                                            @Html.Editor("Biaya_lain", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah UTJ</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_utj_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran real - Total Biaya</label>
                                        <div class="col-md-5">
                                            @Html.Editor("t_refund_total_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi Uang Muka</b></u></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Uang Muka</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.t_dp_type, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="Tidak", Value="Tidak" },
                                               new SelectListItem { Text="Ya", Value="Ya" },
                                            }, new { @class = "form-control select2", @onchange = "change_dp_type()" })
                                        </div>

                                        <div class="col-md-5 checkbox" id="div_dp_type_bayar" style="display:none">
                                            <label> @Html.RadioButtonFor(model => model.t_dp_type_bayar, "Tunai", new { @checked = "checked", @required = "" }) Tunai </label>
                                            <label> @Html.RadioButtonFor(model => model.t_dp_type_bayar, "Angsuran", new { @required = "" })  Angsuran </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_dp_lbl_1" style="display:none">Jumlah UM (Baru)</label>
                                        <label class="col-md-4 control-label" id="div_dp_lbl_2" style="display:none">Total Angsuran | Jumlah (Baru)</label>
                                        <div class="col-md-3" id="div_dp_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_dp_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_dp_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_dp_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah UM (Lama)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_dp_amt_old, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah UM (Terbayar)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_dp_amt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="div_dp_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun DP</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_dp_account_id, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Promo <label class="text-red">*</label></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.t_spr_promo_dp_type, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Promo --", Value="-" },
                                                new SelectListItem { Text="DISKON", Value="DISKON" },
                                                new SelectListItem { Text="FREE SHM", Value="FREE SHM" },
                                                new SelectListItem { Text="LAINNYA", Value="LAINNYA" }
                                            }, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                        <div class="col-md-5" id="div_promo_dp_persen" style="display:none">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_spr_promo_dp_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })<span class="input-group-addon">%</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5" id="div_promo_dp_note" style="display:none">
                                            @Html.TextAreaFor(model => model.t_spr_promo_dp_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi Kelebihan Tanah</b></u></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Kelebihan Tanah</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(m => m.t_kt_type, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="Tidak", Value="Tidak" },
                                               new SelectListItem { Text="Ya", Value="Ya" },
                                            }, new { @class = "form-control select2", @onchange = "change_kt_type()" })
                                        </div>

                                        <div class="col-md-5 checkbox" id="div_kt_type_bayar" style="display:none">
                                            <label> @Html.RadioButtonFor(model => model.t_kt_type_bayar, "Tunai", new { @checked = "checked", @required = "" }) Tunai </label>
                                            <label> @Html.RadioButtonFor(model => model.t_kt_type_bayar, "Angsuran", new { @required = "" })  Angsuran </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_kt_lbl_1" style="display:none">Jumlah KT (Baru)</label>
                                        <label class="col-md-4 control-label" id="div_kt_lbl_2" style="display:none">Total Angsuran | Jumlah (Baru)</label>
                                        <div class="col-md-3" id="div_kt_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_kt_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_kt_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_kt_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah KT (Lama)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_kt_amt_old, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah KT (Terbayar)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_kt_amt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="div_kt_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun KT</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_kt_account_id, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SHM</label>
                                        <div class="col-md-3 checkbox">
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type, "Ya", new { @required = "" }) Ya </label>
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type, "Tidak", new { /*@checked = "checked",*/ @required = "" }) Tidak </label>
                                        </div>
                                        <div class="col-md-5 checkbox" id="div_shm_type_bayar" style="display:none">
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type_bayar, "Tunai", new { @checked = "checked", @required = "" }) Tunai </label>
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type_bayar, "Angsuran", new { @required = "" })  Angsuran </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_shm_lbl_1" style="display:none">Jumlah (Baru)</label>
                                        <label class="col-md-4 control-label" id="div_shm_lbl_2" style="display:none">Total Angsuran | Jumlah (Baru)</label>
                                        <div class="col-md-3" id="div_shm_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5" id="div_shm_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="div_shm_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun SHM</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_shm_account_id, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi KPR</b></u></h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Piutang KPR</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.t_piutang_type_bayar, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="-- Pilih Tipe Bayar --", Value="-" },
                                               new SelectListItem { Text="Tunai", Value="Tunai" },
                                               new SelectListItem { Text="Angsuran", Value="Angsuran" },
                                            }, new { @class = "form-control select2", @onchange = "piutang_type_bayar()" })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_piutang_lbl_1" style="display:none">Jumlah KPR</label>
                                        <label class="col-md-4 control-label" id="div_piutang_lbl_2" style="display:none">Total Angsuran | Jumlah</label>
                                        <div class="col-md-3" id="div_piutang_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_piutang_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_piutang_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_piutang_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah KPR (Lama)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_piutang_amt_old, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah KPR (Terbayar)</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_piutang_amt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Harga SPR Baru</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_spr_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total KPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_spr_total_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.t_spr_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_spr_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_spr_status == "In Process" | Model.t_spr_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button> 
                                    <a href="@Url.Action("IndexGantiUnit")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost" data-toggle="modal" data-target="#modal-coa"><b>Post</b>
                                    </button>
                                }
                                else
                                {
                                    <a href="@Url.Action("IndexGantiUnit")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-spr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar SPR</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSPR" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <div class="text-center"><label id="t_titipan_ref_type_txt" class="control-label"></label></div>
                </div>

                <div class="modal-body" id="modalbody">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalcoa" class="table table-striped" style="width: 100%">
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <div><label id="sText" class="control-label"></label></div>
                    <button type="button" id="btnPosting" class="btn btn-primary btn-md"><b>Post Data</b></button>
                    <button type="button" id="btnBatal" class="btn btn-warning btn-md"><b>Cancel</b></button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalSPR = $("#tblModalSPR").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 't_spr_date', name: 't_spr_date', title: 'Tgl. SPR', render: function (data) { return moment(data).format("DD/MM/YYYY"); } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Customer' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_spr_price', name: 't_spr_price', className: "text-right", title: 'Jumlah', render: function (data) { return addCommas(data); } }
            ],
            order: [],
        });

        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_cluster_name', name: 'm_cluster_name', title: 'Cluster' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_item_luas_bangunan', name: 'm_item_luas_bangunan', className: "text-right", title: 'Luas Bangunan', render: function (data) { return addCommas(data); } },
                { data: 'm_item_luas_tanah', name: 'm_item_luas_tanah', className: "text-right", title: 'Luas Tanah', render: function (data) { return addCommas(data); } },
            ],
            order: [],
        });

        tblModalcoa = $("#tblModalcoa").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "m_account_debet_amt", name: "m_account_debet_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "m_account_credit_amt", name: "m_account_credit_amt", title: 'Credit', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                m_account_debet_amt = api.column('m_account_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                m_account_credit_amt = api.column('m_account_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('m_account_debet_amt:name').footer()).html(addCommas(tRound(m_account_debet_amt, 2)));
                $(api.column('m_account_credit_amt:name').footer()).html(addCommas(tRound(m_account_credit_amt, 2)));
            },
            order: [],
        });

        tblModalcoa.on("draw", function () {
            $('#tblModalcoa .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        if ($("#action").val() == "Update Data") {
            change_dp_type_bayar();
            change_kt_type_bayar();
            change_shm_type_bayar();
            piutang_type_bayar();
            change_trans();
        }
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

    function CalcSPRAmt() {
        var t_spr_price = tNumber($("#t_spr_price").val());
        var t_kt_amt = tNumber($("#t_kt_amt").val());
        var t_dp_amt = tNumber($("#t_dp_amt").val());
        var t_refund_total_amt = tNumber($("#t_refund_total_amt").val());  
        var t_piutang_amt = t_spr_price - t_refund_total_amt - t_dp_amt - t_kt_amt;
        var t_spr_total_amt = t_spr_price - t_refund_total_amt - t_dp_amt - t_kt_amt;
        $("#t_piutang_amt").val(tNumber(t_piutang_amt));
        $("#t_spr_total_amt").val(t_spr_total_amt);
    }

    function GetFilterData() {
        var data = {
            t_refund_total_amt: $('#t_refund_total_amt').val(),
            t_dp_amt: $('#t_dp_amt').val(),
            t_kt_amt: $('#t_kt_amt').val(),
            t_piutang_amt: $('#t_piutang_amt').val(),
            t_spr_price: $('#t_spr_price').val()
        };
        return data;
    }

    function change_trans() {
        $("#btnsearch_item").prop("disabled", false);
        $("#t_dp_total_angsuran").attr("readonly", false);
        $("#t_piutang_total_angsuran").attr("readonly", false);
        $("#t_kt_total_angsuran").attr("readonly", false);
        $("#t_shm_total_angsuran").attr("readonly", false);
    }

    function change_dp_type() {
        var t_dp_type = $("#t_dp_type").val();
        //$("#t_dp_amt").val(0);
        if (t_dp_type == "Ya") {
            $("#div_dp_type_bayar").show();
            $("#div_dp_amt").show();
            $("#div_dp_account_id").show();
            $("#div_dp_lbl_1").show();
        } else {
            $("#div_dp_type_bayar").hide();
            $("#div_dp_amt").hide();
            $("#div_dp_total_angsuran").hide();
            $("#div_dp_account_id").hide();
            $("#div_dp_lbl_1").hide();
            $("#div_dp_lbl_2").hide();
            $("#t_dp_total_angsuran").val(0);
        }
    }

    function change_dp_type_bayar() {
        var t_dp_type_bayar = $("input:radio[name=t_dp_type_bayar]:checked").val();
        if (t_dp_type_bayar == "Angsuran") {
            $("#div_dp_total_angsuran").show();
            $("#div_dp_amt").show();
            $("#div_dp_lbl_1").hide();
            $("#div_dp_lbl_2").show();
        } else {
            $("#div_dp_total_angsuran").hide();
            $("#div_dp_amt").show();
            $("#div_dp_lbl_1").show();
            $("#div_dp_lbl_2").hide();
            $("#t_dp_total_angsuran").val(0);
        }
    }

    function change_kt_type() {
        var t_kt_type = $("#t_kt_type").val();
        if (t_kt_type == "Ya") {
            $("#div_kt_type_bayar").show();
            $("#div_kt_amt").show();
            $("#div_kt_account_id").show();
            $("#div_kt_lbl_1").show();
        } else {
            $("#div_kt_type_bayar").hide();
            $("#div_kt_amt").hide();
            $("#div_kt_total_angsuran").hide();
            $("#t_kt_total_angsuran").val(0);
            $("#div_kt_account_id").hide();
            $("#div_kt_lbl_1").hide();
            $("#div_kt_lbl_2").hide();
            $("#t_kt_amt").val(0);
        }
    }

    function change_kt_type_bayar() {
        var t_kt_type_bayar = $("input:radio[name=t_kt_type_bayar]:checked").val();
        if (t_kt_type_bayar == "Angsuran") {
            $("#div_kt_total_angsuran").show();
            $("#div_kt_amt").show();
            $("#div_kt_lbl_1").hide();
            $("#div_kt_lbl_2").show();
        } else {
            $("#div_kt_total_angsuran").hide();
            $("#div_kt_amt").show();
            $("#div_kt_lbl_1").show();
            $("#div_kt_lbl_2").hide();
            $("#t_kt_total_angsuran").val(0);
        }
    }

    function change_shm_type() {
        var t_shm_type = $("input:radio[name=t_shm_type]:checked").val();
        if (t_shm_type == "Ya") {
            $("#div_shm_type_bayar").show();
            $("#div_shm_amt").show();
            $("#div_shm_account_id").show();
            $("#div_shm_lbl_1").show();
        } else {
            $("#div_shm_type_bayar").hide();
            $("#div_shm_amt").hide();
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_account_id").hide();
            $("#div_shm_lbl_1").hide();
            $("#div_shm_lbl_2").hide();
            $("#t_shm_amt").val(0);
            $("#t_shm_total_angsuran").val(0);
        }
    }

    function change_shm_type_bayar() {
        var t_shm_type_bayar = $("input:radio[name=t_shm_type_bayar]:checked").val();
        if (t_shm_type_bayar == "Angsuran") {
            $("#div_shm_total_angsuran").show();
            $("#div_shm_amt").show();
            $("#div_shm_lbl_1").hide();
            $("#div_shm_lbl_2").show();
        } else {
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_amt").show();
            $("#div_shm_lbl_1").show();
            $("#div_shm_lbl_2").hide();
            $("#t_shm_total_angsuran").val(0);
        }
    }

    function piutang_type_bayar() {
        //$("input:radio[name=t_piutang_type_bayar]:checked").val();
        var t_piutang_type_bayar = $("#t_piutang_type_bayar").val();
        if (t_piutang_type_bayar == "Angsuran") {
            $("#div_piutang_total_angsuran").show();
            $("#div_piutang_amt").show();
            $("#div_piutang_lbl_1").hide();
            $("#div_piutang_lbl_2").show();
        } else if (t_piutang_type_bayar == "Tunai") {
            $("#div_piutang_total_angsuran").hide();
            $("#t_piutang_total_angsuran").val(0);
            $("#div_piutang_amt").show();
            $("#div_piutang_lbl_1").show();
            $("#div_piutang_lbl_2").hide();
        } else {
            $("#div_piutang_total_angsuran").hide();
            $("#t_piutang_total_angsuran").val(0);
            $("#div_piutang_amt").show();
            $("#div_piutang_lbl_1").show();
            $("#div_piutang_lbl_2").hide();
        }
    }

    $('input[type=radio][name=t_dp_type_bayar]').on('change', function () {
        change_dp_type_bayar();
    });

    //$('input[type=radio][name=t_kt_type]').on('change', function () {
    //    change_kt_type(); //CalcSPRAmt();
    //});

    $('input[type=radio][name=t_kt_type_bayar]').on('change', function () {
        change_kt_type_bayar();
    });

    $('input[type=radio][name=t_shm_type]').on('change', function () {
        change_shm_type(); //CalcSPRAmt();
    });

    $('input[type=radio][name=t_shm_type_bayar]').on('change', function () {
        change_shm_type_bayar();
    });

    $('#t_spr_price').on('blur', function () {
        CalcSPRAmt();
    });

    $('#t_kt_amt').on('blur', function () {
        CalcSPRAmt(); var sValue = "Ya";
        var t_kt_amt = tNumber($("#t_kt_amt").val());
        if (t_kt_amt > 0) { sValue = "Ya"; }
        else { sValue = "Tidak"; }
        $("#t_kt_type").val(sValue).trigger('change');
    });

    $('#t_dp_amt').on('blur', function () {
        CalcSPRAmt(); var sValue = "Ya";
        var t_dp_amt = tNumber($("#t_dp_amt").val());
        if (t_dp_amt > 0) { sValue = "Ya"; }
        else { sValue = "Tidak"; }
        $("#t_dp_type").val(sValue).trigger('change');
    });

    var url_GetDataSPR = "@(Url.Action("GetDataSPR"))"
    $("#btnsearch_spr").click(function () {
        var stype = $("#stype").val();
        tblModalSPR.clear().draw();
        $.ajax({
            url: url_GetDataSPR,
            data: { stype },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSPR.rows.add(data.tbl).draw();
                    tblModalSPR.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#tblModalSPR").on('click', '.select', function () {
        $tr = $(this).closest('tr'); var sValue = "Tidak";
        var alldata = tblModalSPR.row($tr).data();
        var t_spr_price_new = alldata.t_refund_price_new;
        if (alldata.t_refund_price_new == 0) { t_spr_price_new = alldata.t_spr_price };
        $("#m_company_id").val(alldata.m_company_id);
        $("#t_refund_id").val(alldata.t_refund_id);
        $("#t_spr_no").val(alldata.t_spr_no_new);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#m_item_name").val(alldata.m_item_name);
        $("#t_spr_type_trans").val(alldata.t_refund_type).trigger('change');
        $("#t_spr_reff_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#t_spr_price").val(t_spr_price_new);

        if (alldata.t_refund_sisa_amt_dp > 0) { sValue = "Ya"; }
        $("#t_dp_type").val(sValue).trigger('change');

        if (alldata.t_refund_sisa_amt_kt > 0) { sValue = "Ya"; }
        $("#t_kt_type").val(sValue).trigger('change');;

        $('input:radio[name="t_dp_type_bayar"][value="' + alldata.t_dp_type_bayar + '"]').prop('checked', false);
        $('input:radio[name="t_kt_type_bayar"][value="' + alldata.t_kt_type_bayar + '"]').prop('checked', false);
        $('input:radio[name="t_shm_type"][value="' + alldata.t_shm_type + '"]').prop('checked', false);
        $('input:radio[name="t_shm_type_bayar"][value="' + alldata.t_shm_type_bayar + '"]').prop('checked', false);

        $("#t_utj_no").val(alldata.t_utj_no);
        $("#t_utj_type").val(alldata.t_utj_type);
        $("#t_utj_id").val(alldata.t_utj_id);
        $("#t_utj_amt").val(alldata.t_refund_utj_amt);
        $("#t_utj_amt2").val(alldata.t_refund_utj_amt);
        $("#t_utj_pay_amt").val(alldata.t_refund_utj_amt);

        $("#t_dp_total_angsuran").val(alldata.t_dp_total_angsuran);
        $("#t_dp_account_id").val(alldata.t_dp_account_id);
        $("#t_dp_amt_old").val(alldata.t_dp_amt);
        $("#t_dp_amt").val(alldata.t_refund_sisa_amt_dp);
        $("#t_dp_amt2").val(alldata.t_refund_pay_amt_dp);
        $("#t_dp_status").val(alldata.t_dp_status);

        $("#t_shm_total_angsuran").val(alldata.t_shm_total_angsuran);
        $("#t_shm_account_id").val(alldata.t_shm_account_id);
        $("#t_shm_amt").val(alldata.t_refund_sisa_amt_shm);
        $("#t_shm_amt2").val(alldata.t_refund_pay_amt_shm);
        $("#t_shm_status").val(alldata.t_shm_status);

        $("#t_kt_total_angsuran").val(alldata.t_kt_total_angsuran);
        $("#t_kt_account_id").val(alldata.t_kt_account_id);
        $("#t_kt_amt_old").val(alldata.t_kt_amt);
        $("#t_kt_amt").val(alldata.t_refund_sisa_amt_kt);
        $("#t_kt_amt2").val(alldata.t_refund_pay_amt_kt);
        $("#t_kt_status").val(alldata.t_kt_status);

        //$('input:radio[name="t_piutang_type_bayar"][value="' + alldata.t_piutang_type_bayar + '"]').prop('checked', false);
        $("#t_piutang_total_angsuran").val(alldata.t_piutang_total_angsuran);
        $("#t_piutang_amt_old").val(alldata.t_piutang_amt_old);
        $("#t_piutang_amt").val(alldata.t_piutang_amt);
        $("#t_piutang_amt2").val(alldata.t_refund_pay_amt_kpr);
        $("#t_piutang_status").val(alldata.t_piutang_status);

        $("#t_spr_promo_dp_type").val(alldata.t_spr_promo_dp_type).trigger('change');
        $("#t_spr_promo_dp_persen").val(alldata.t_spr_promo_dp_persen);
        $("#t_spr_promo_dp_note").val(alldata.t_spr_promo_dp_note);
        $("#t_spr_total_amt").val(alldata.t_spr_total_amt);
        $("#m_marketing_id").val(alldata.m_marketing_id);
        $("#m_marketing_name").val(alldata.m_marketing_name);
        $("#t_refund_pay_amt").val(alldata.t_refund_pay_amt);
        $("#t_spr_note").val(alldata.t_spr_note);

        $("#Biaya_ganti_unit").val(alldata.Biaya_ganti_unit);
        $("#Biaya_IJB").val(alldata.Biaya_IJB);
        $("#Biaya_lain").val(alldata.Biaya_lain);
        $("#t_refund_total_amt").val(alldata.t_refund_total_amt); 
        $('#modal-spr').modal('hide');
    });

    var url_GetDataItem = "@(Url.Action("GetDataItem"))"
    $("#btnsearch_item").click(function () {
        var m_company_id = $('#m_company_id').val();
        tblModalItem.clear().draw();
        $.ajax({
            url: url_GetDataItem,
            data: { m_company_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.tbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        change_trans();
        $('#modal-item').modal('hide');
    });

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var action = $('#action').val();
        var stype = $("#stype").val();
        if (stype == "Ganti Unit") { url_Index = "@(Url.Action("IndexGantiUnit"))"; }
        else { url_Index = "@(Url.Action("Index"))"; }

        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        tbl.t_dp_type_bayar = $("input:radio[name=t_dp_type_bayar]:checked").val();
        tbl.t_kt_type_bayar = $("input:radio[name=t_kt_type_bayar]:checked").val();
        tbl.t_shm_type = $("input:radio[name=t_shm_type]:checked").val();
        tbl.t_shm_type_bayar = $("input:radio[name=t_shm_type_bayar]:checked").val(); 
        
        for (var i = 0; i < tblModalcoa.rows().data().length; i++) {
            var alldata = tblModalcoa.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, action, dtDtl },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace(url_Index);
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#t_spr_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#t_spr_status").val("In Process");
            }
        });
    }); 

    var url_Delete = "@(Url.Action("Delete"))"
    $("#btnDelete").click(function () {
        var id = $("#t_spr_id").val();
        var revisi = $('#revisi').val();
        var stype = $("#stype").val();
        if (stype == "Ganti Unit")
            url_Index = "@(Url.Action("IndexGantiUnit"))";
        else
            url_Index = "@(Url.Action("Index"))";
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to ' + (revisi == "true" ? "REVISED" : "DELETE") + ' this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ' + (revisi == "true" ? "Revised" : "Revised") + ' this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Delete,
                    data: { __RequestVerificationToken: token, id, revisi },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('' + (revisi == "true" ? "Revised" : "Revised") + '!', 'Data has been ' + (revisi == "true" ? "Revised" : "Revised") + '!', 'success')
                            setTimeout(function () {
                                location.replace(url_Index);
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        if (stype == "Ganti Unit") { url_Index = "@(Url.Action("IndexGantiUnit"))"; } 
        else { url_Index = "@(Url.Action("Index"))"; }
        $("#t_spr_status").val("Post"); 
        $("#btnSave").click();
    });

    $("#btnPost").click(function () {
        var param = GetFilterData();
        //var mst = $('form').serializeArray();
        //var t_refund_pay_amt = $("#t_refund_pay_amt").val();
        //jQuery.map(mst, function (n, i) { param[n.name] = n.value; });
        tblModalcoa.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShowCoa"))",
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "ganti_harga")
                {
                    $('#t_titipan_ref_type_txt').html('Berikut jurnal yang akan terbentuk jika anda akan melanjutkan transaksi dengan klik tombol Post data :');
                    $('#sText').html(data.stext);
                    tblModalcoa.rows.add(data.tbl).draw();
                    tblModalcoa.columns.adjust().draw();
                    $('#sResult').val(data.result); $("#modalbody").show();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnBatal").click(function () {
        tblModalcoa.clear().draw();
        $('#modal-coa').modal('hide');
    }); 

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_spr_no").val();
        var tablename = "tb_t_spr";
        var tableoid = $("#t_spr_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script>