﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Daftar @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "FormGantiUnit", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @Html.Hidden("isCollapse") 
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Show Data : @Html.ActionLink("In Process", "IndexGantiUnit", new { filter = "1" }, new { @class = "btn btn-success btn-outline btn-sm" }) | @Html.ActionLink("Post", "IndexGantiUnit", new { filter = "2" }, new { @class = "btn btn-danger btn-outline btn-sm" }) </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="divadvfilter" class="box box-info collapsed-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Advanced Filter</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    @using (Html.BeginForm("IndexGantiUnit", null))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("filter")
                                        <div class="row small">
                                            <div class="form-group-sm">
                                                <label class="col-md-2 control-label">Filter</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("filterddl", null, new { @class = "form-control select2" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.Editor("filtertext", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"><div class="col-md-12"></div></div>
                                        <div class="row small">
                                            <div class="form-group-sm">
                                                <label class="col-md-2 control-label">@Html.CheckBox("isperiodchecked") Period</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"><div class="col-md-12"></div></div>
                                        <div class="row small">
                                            <div class="form-group-sm">
                                                <label class="col-md-2 control-label">Status</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("filterstatus", null, new { @class = "form-control select2" })
                                                </div>
                                                <div class="col-md-4">
                                                    <button id="btnFind" type="submit" class="btn btn-warning btn-sm"><b>F i n d</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <span id="varforlink" style="display: none"></span>
                            <table id="datatable" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTableGantiUnit")";
    var url_Form = "@Url.Action("FormGantiUnit")";
    var url_Index = "@(Url.Action("IndexGantiUnit"))";
    var url_Print = "@(Url.Action("PrintReport"))";  

    $("#closed_show").show();
    var ddlstatus = "=''"//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == "1") ddlstatus = "in('In Process')"; 
    else if (filter == "2") ddlstatus = "in('Post')";

    $(document).ready(function () { 
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [null, null, null, null, null, { "search": ddlstatus }],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                    { data: "t_spr_id", name: "t_spr_id", title: 'No. Draft', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.t_spr_id + '" class="text-primary">' + data + '</a>'; } },
                    { data: "t_spr_no", name: "t_spr_no", title: 'No. SPR' },
                    { data: "t_spr_date", name: "t_spr_date", title: 'Tgl. SPR', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                    { data: "m_cust_name", name: "m_cust_name", title: 'Customer' },
                    { data: "m_item_name", name: "m_item_name", title: 'Unit' },
                    { data: "t_spr_status", name: "t_spr_status", title: 'Status' },
                    { data: "t_spr_note", name: "t_spr_note", title: 'Keterangan' },
                    { data: null, name: 'select', searchable: false, render: function (data) { return '<button type="button" class="btn btn-sm btn-primary select"><i class="fa fa-print"></i></button>' } }
            ],
            "order": []
        });

        var divadvfilter = document.getElementById("divadvfilter");
        divadvfilter.classList.add("collapsed-box");
        if ($('#isCollapse').val() == "False")
            divadvfilter.classList.remove("collapsed-box");
    });

    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("t_spr_date:name")
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + periodfrom + ' 00:00:00\' and \'' + periodto + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("t_spr_status:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='"+ddlstatus+"'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });

    function PrintReport() {
        var table = $('#datatable').DataTable();
        var rowsel = table.column(-1).checkboxes.selected();
        var ids = rowsel.join(", ");
        if (ids != "")
            window.open("@Url.Action("PrintReport")?ids=" + ids);
        else
            swal('', 'Please select data to be printed!', 'warning');
    };

    $("#datatable").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = datatable.row($tr).data();
        window.open("@Url.Action("PrintReport")?ids=" + alldata.t_spr_id);
    });

    $("#btnFind").click(function () {
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        var sMsg = "";

        if (periodfrom == "")
            sMsg = "Please fill Period From!";
        if (sMsg == "" && periodto == "")
            sMsg = "Please fill Period To!";
        if (sMsg == "" && Date.parse(periodfrom) > Date.parse(periodto))
            sMsg = "Period From must be less than Period To!";

        if (sMsg != "") {
            swal('Warning', sMsg, 'warning');
            return false;
        }

        $('#filter').val('POST');
    });
</script>