﻿@model MIS_MAGNA_MVC.Models.tb_m_cust

@{
    ViewBag.Title = "Master Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title text-red"><b>@(ViewBag.action)</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.m_cust_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.last_edited_by)
                        @Html.HiddenFor(model => model.last_edited_by)
                        @Html.Hidden("action") 
                        <div class="container-fluid">

                            <div class="form-group">
                                <label class="col-md-4 control-label text-light-blue">DATA DIRI</label>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_code, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Baru</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name_new", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Lama</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_old_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                @Html.Editor("m_cust_nik_new", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.Editor("m_cust_nik_old", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Lengkap</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. KTP</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_nik, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">NPWP</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_npwp, new { htmlAttributes = new { @class = "form-control npwpmask", @maxlength = "30", @required = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jenis Kelamin</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_cust_gender, new List<SelectListItem>
                                        {
                                       new SelectListItem { Text="LAKI-LAKI", Value="LAKI-LAKI" },
                                       new SelectListItem { Text="PEREMPUAN", Value="PEREMPUAN" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.m_cust_addr, new { @class = "form-control", @maxlength = "300", @required = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_city_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp / HP 1</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_phone1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp / HP 2</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_phone2, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "email" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tempat Lahir</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_birth_city, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                        </div>
                                        <div class="col-md-6 hide">
                                            @Html.DropDownListFor(model => model.m_cust_city_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tagl. Lahir <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.m_cust_birth_date, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_employee_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_cust_flag, new List<SelectListItem>
                                        {
                                       new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                       new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label text-light-blue">DATA PEKERJAAN</label>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pekerjaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_work, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Perusahaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_office_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat Perusahaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_office_addr, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tlp Perusahaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_office_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label text-light-blue">DATA PASANGAN</label>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Pasangan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_couple_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tlp/Hp Pasangan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_couple_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pekerjaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_couple_work, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Perusahaan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_couple_office, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label text-light-blue">DATA KELUARGA</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Keluarga</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_family_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Hubungan </label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_relation_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tlp/Hp Keluarga</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_relation_phone, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat Keluarga</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cust_relation_addr, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <hr />
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(model => model.created_by)) On @(Html.DisplayFor(model => model.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(model => model.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md hidden" id="BtnDelete"><b>Delete</b></button>
                                    <button type="button" class="btn btn-success btn-md" id="btnPrintSI"><b>Print SI</b></button>
                                }
                            }
                        </div>
                    </div>

                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    // PAGE LOAD DOCUMENT READY //
    $(document).ready(function () {
        $('#m_cust_phone1').keypress(function (e) {
            NumericOnly(e);
        });

        $('#m_cust_phone2').keypress(function (e) {
            NumericOnly(e);
        });

        $('#m_cust_office_phone').keypress(function (e) {
            NumericOnly(e);
        });

        $('#m_cust_couple_phone').keypress(function (e) {
            NumericOnly(e);
        });

        $('#m_cust_relation_phone').keypress(function (e) {
            NumericOnly(e);
        });
    });
    // PAGE LOAD DOCUMENT READY //

    function isValidEmailAddress(emailAddress) {
        var res = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return res.test(emailAddress);
    }

    function NumericOnly(e) {
        var regex = new RegExp("^[0-9]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    };

    $('#m_cust_name').on('blur', function () {
        var m_cust_name = $('#m_cust_name').val();
        $('#m_cust_name_new').val(m_cust_name);
    });

    $('#m_cust_nik').on('blur', function () {
        var m_cust_nik = $('#m_cust_nik').val();
        $('#m_cust_nik_new').val(m_cust_nik);
    });

    function GetFilterData() {
        var data = {
            m_cust_name_new: $('#m_cust_name_new').val(),
            m_cust_old_name: $('#m_cust_old_name').val(),
            m_cust_nik_new: $('#m_cust_nik_new').val(),
            m_cust_nik_old: $('#m_cust_nik_old').val()
        };
        return data;
    }

    $("#btnSave").click(function () {
        event.preventDefault(); 
        InputUnit();
    });

    var url_Delete = "@(Url.Action("Delete"))"
    $("#BtnDelete").click(function () {
        var m_cust_uid = $("#m_cust_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Delete,
                    data: { __RequestVerificationToken: token, m_cust_uid: m_cust_uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success')
                            setTimeout(function () {
                                  location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPrintSI").click(function () {
        var m_cust_id = $("#m_cust_id").val();
        window.open("@Url.Action("PrintReport")?m_cust_id=" + m_cust_id);
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

</script> 

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script language="javascript" type="text/javascript">
        function InputUnit() {
            var param = GetFilterData(); var sAction = "";
             var email = $("#m_cust_email").val();
             if (!isValidEmailAddress(email) && email != "") {
                 Swal('WARNING!', 'Maaf, Tolong isi email dengan format yang benar..!!', 'warning');
                 return false;
             }

             var token = $('input[name="__RequestVerificationToken"]').val();
             var mst = $('form').serializeArray();
             var tbl = {};
             jQuery.map(mst, function (n, i) {
                 tbl[n.name] = n.value;
             }); 
             var action = $('#action').val();
             $.ajax({
                 type: "POST",
                 url: "@(Url.Action("Form"))",
                 data: { __RequestVerificationToken: token, tbl, action, param },
                 success: function (data) {
                     if (data.result == 'success') {
                         Swal('Data has been saved!', data.msg, 'success').then((result) => {
                             location.replace("@(Url.Action("Index"))"); GetChannel(data.ref_code);
                         });
                     } else {
                         Swal('Save data failed!', data.msg, 'error'); 
                     }
                 },
                 error: function (err) {
                     swal('', err.responseText, 'error'); 
                 }
             }); 
        }

        function GetChannel(ref_code) {
            if (action != "New Data") {
                var chat = $.connection.chatHub;
                $.connection.hub.start().done(function () {
                    chat.server.send('customer', ref_code);
                });
            }
        } 
    </script>
}