﻿@model MIS_MAGNA_MVC.Models.tb_m_employee

@{
    ViewBag.Title = "Master Pegawai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                   
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.m_employee_uid)
                    @Html.HiddenFor(model => model.m_employee_id)
                    @Html.HiddenFor(model => model.created_by)
                    @Html.HiddenFor(model => model.created_at)
                    @Html.HiddenFor(model => model.m_employee_marital)
                    @Html.Hidden("action")
                    @Html.Hidden("closing")
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kode <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_code, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama Lengkap<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "500" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. KTP</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_nik, new { htmlAttributes = new { @class = "form-control", @maxlength = "30", @required = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Jenis Kelamin</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.m_employee_gender, new List<SelectListItem>
                                    {
                                       new SelectListItem { Text="LAKI-LAKI", Value="LAKI-LAKI" },
                                       new SelectListItem { Text="PEREMPUAN", Value="PEREMPUAN" }
                                    }, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Alamat Lengkap<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_addr, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Telp / HP 1</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_phone1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Email</label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "email" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tempat Lahir<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.m_employee_birth_city, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "500" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tagl. Lahir <label class="text-red">*</label></label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.m_employee_birth_date, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.m_employee_flag, new List<SelectListItem>
                                        {
                                       new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                       new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                        }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                    // AKHIR BAGIAN HEADER
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(model => model.created_by)) On @(Html.DisplayFor(model => model.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(model => model.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md hidden" id="BtnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>

                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>
     
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () { 
        if ($('#action').val() == "Update Data") {
            $('#m_employee_code').attr('readonly', true);
        }

        $('#m_employee_nik').keypress(function (e) {
            NumericOnly(e);
        });

        $('#m_employee_phone1').keypress(function (e) {
            NumericOnly(e);
        }); 
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }
     
    function isValidEmailAddress(emailAddress) {
        var res = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return res.test(emailAddress);
    }

    function NumericOnly(e) {
        var regex = new RegExp("^[0-9]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    };

    $("#btnSave").click(function () {
        event.preventDefault();
        var email = $("#m_employee_email").val();
        if (!isValidEmailAddress(email) && email != "") {
            Swal('WARNING!', 'Maaf, Tolong isi email dengan format yang benar..!!', 'warning');
            return false;
        }
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();
        var closing = $("#closing").val("true");

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                            else
                                location.replace("@(Url.Action("Form"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnDelete").click(function () {
        var m_employee_uid = $("#m_employee_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, m_employee_uid: m_employee_uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    //$(document).on('keyup', 'input:text, textarea', function (e) {
    //    if ($(e.target).hasClass('money')) return true;
    //    var start = e.target.selectionStart;
    //    var end = e.target.selectionEnd;
    //    e.target.value = e.target.value.toUpperCase();
    //    e.target.setSelectionRange(start, end);
    //});
</script>