﻿
@model MIS_MAGNA_MVC.Models.tb_t_utj

@{
    ViewBag.Title = "Uang Tanda Jadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                   
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        @Html.HiddenFor(model => model.t_utj_uid)
                        @Html.HiddenFor(model => model.t_utj_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.m_manager_id)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. UTJ <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_utj_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. UTJ <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_utj_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @onchange = "ChangeDate()" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. JT</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                              @Html.EditorFor(model => model.t_utj_due_date, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Konsumen</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })<span class="input-group-btn"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-cust" id="btnsearch_cust"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.m_cust_id)
                                    </div>
                                </div>
                                                             
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit/Produk</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })<span class="input-group-btn"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-item" id="btnsearch_item"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.m_item_id)
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Proyek <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.HiddenFor(model => model.m_proyek_id)
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6"> 
                                    @*<div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_sales_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })<span class="input-group-btn"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-sales" id="btnsearch_sales"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.m_sales_id)
                                    </div>*@
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.t_utj_type_bayar, new List<SelectListItem>
                                        {
                                       new SelectListItem { Text="TUNAI", Value="TUNAI" },
                                       new SelectListItem { Text="TRANSFER", Value="TRANSFER" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun UTJ</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_utj_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nominal</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_utj_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Marketing</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_marketing_id, null, new { @class = "form-control select2", @required = "", @onchange = "ChangeData()" })
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.m_marketing_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_utj_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_utj_note, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER 
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_utj_status == "In Process" | Model.t_utj_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" class="btn btn-success btn-md" id="btnPrintSI"><b>Print Kwitansi</b></button>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    
                    </div>
                   
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>
     
    @* MODAL UNTUK CUSTOMER*@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Konsumen</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK CUSTOMER*@

    @* MODAL UNTUK UNIT*@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit/Produk</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK UNIT*@

    @* MODAL UNTUK Sales*@
    <div class="modal fade" id="modal-sales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Sales</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSales" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK UNIT*@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    /*Document Ready*/
    $(document).ready(function () {
        if ($('#action').val() != "Update Data")
            ChangeData();

        tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columns": [
                {
                    data: null,
                    name: 'select',
                    render: function (data) {
                        return '<button type="button" class="btn btn-link text-primary select">Select</button>'
                    }
                },
                { data: 'm_cust_code', name: 'm_cust_code', title: 'Kode' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Konsumen' },
                { data: 'm_cust_addr', name: 'm_cust_addr', title: 'Alamat' }
            ],
            order: [],
        });
        tblModalCust.on("draw", function () {
            $('#tblModalCust .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalCust .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalCust .select2').select2({ theme: 'bootstrap' });
        });

        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                {
                    data: null,
                    name: 'select',
                    render: function (data) {
                        return '<button type="button" class="btn btn-link text-primary select">Select</button>'
                    }
                },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit/Produk' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' }, 
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Type Unit' },
                { data: 'm_item_luas_tanah', name: 'm_item_luas_tanah', title: 'L. Tanah' },
                { data: 'm_item_luas_standart', name: 'm_item_luas_standart', title: 'L. Standart' },
                { data: 'm_item_lebih_tanah', name: 'm_item_lebih_tanah', title: 'Kelebihan Tanah' },
                { data: 'm_item_luas_bangunan', name: 'm_item_luas_bangunan', title: 'L. Bangunan' },
            ],
            order: [],
        });

        tblModalItem.on("draw", function () {
            $('#tblModalItem .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalItem .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalItem .select2').select2({ theme: 'bootstrap' });
        });

        tblModalSales = $("#tblModalSales").DataTable({
            "deferRender": true,
            "columns": [
                {
                    data: null,
                    name: 'select',
                    render: function (data) {
                        return '<button type="button" class="btn btn-link text-primary select">Select</button>'
                    }
                },
                { data: 'm_employee_code', name: 'm_employee_code', title: 'Kode' },
                { data: 'm_employee_name', name: 'm_employee_name', title: 'Sales' },
                { data: 'm_employee_gender', name: 'm_employee_gender', title: 'Gender' },
            ],
            order: [],
        });
        tblModalSales.on("draw", function () {
            $('#tblModalSales .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalSales .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalSales .select2').select2({ theme: 'bootstrap' });
        });

    });
    /*End Document Ready*/

    function ChangeData() {
        var m_marketing_name = $("#m_marketing_id option:selected").text(); 
        if (m_marketing_name == "Lain-Lain") {
            $("#m_marketing_name").val("");
            $('#m_marketing_name').attr('readonly', false);
        } else {
            $("#m_marketing_name").val(m_marketing_name);
            $('#m_marketing_name').attr('readonly', true);
        }
    }

    var url_GetDataCust = "@(Url.Action("GetDataCust"))"
    $("#btnsearch_cust").click(function () {
        tblModalCust.clear().draw();
        $.ajax({
            url: url_GetDataCust,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalCust.rows.add(data.tbl).draw();
                tblModalCust.columns.adjust().draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCust").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalCust.row($tr).data();
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $('#modal-cust').modal('hide');
    });

    var url_GetDataItem = "@(Url.Action("GetDataItem"))"
    $("#btnsearch_item").click(function () {
        tblModalItem.clear().draw();
        $.ajax({
            url: url_GetDataItem,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalItem.rows.add(data.tbl).draw();
                tblModalItem.columns.adjust().draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $('#modal-item').modal('hide');
    });

    var url_GetDataSales = "@(Url.Action("GetDataSales"))"
    $("#btnsearch_sales").click(function () {
        tblModalSales.clear().draw();
        $.ajax({
            url: url_GetDataSales,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalSales.rows.add(data.tbl).draw();
                tblModalSales.columns.adjust().draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSales").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalSales.row($tr).data();
        $("#m_sales_id").val(alldata.m_employee_id);
        $("#m_sales_name").val(alldata.m_employee_name);
        $('#modal-sales').modal('hide');
    });

    function generateinput(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    var url_GenerateNo = "@(Url.Action("GenerateNo"))";
    function ChangeDate() {
        var t_utj_date = $('#t_utj_date').val();
        $.ajax({
            url: "@(Url.Action("GenerateNo"))",
            data: { t_utj_date: t_utj_date },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#t_utj_no').val(data);
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var action = $('#action').val();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_utj_status").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var t_utj_uid = $("#t_utj_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, t_utj_uid: t_utj_uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPrintSI").click(function () {
        var t_utj_id = $("#t_utj_id").val();
        window.open("@Url.Action("PrintReport")?ids=" + t_utj_id);
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_utj_no").val();
        var tablename = "tb_t_utj";
        var tableoid = $("#t_utj_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
    //$(document).on('keyup', 'input:text, textarea', function (e) {
    //    if ($(e.target).hasClass('money')) return true;
    //    var start = e.target.selectionStart;
    //    var end = e.target.selectionEnd;
    //    e.target.value = e.target.value.toUpperCase();
    //    e.target.setSelectionRange(start, end);
    //});
</script>