﻿@{
    ViewBag.Title = "List Uang Tanda Jadi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Data @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-left">No. UTJ</th>
                                        <th class="text-left">Tgl. UTJ</th>
                                        <th class="text-left">Tgl. JT</th>
                                        <th class="text-left">Konsumen</th>
                                        <th class="text-left">Type Unit</th>
                                        <th class="text-left">Luas Tanah(m3)</th>
                                        <th class="text-left">Luas Bangunan(m3)</th>
                                        <th class="text-left">Proyek</th>
                                        <th class="text-left">Alamat</th> 
                                        <th class="text-center">Status</th>
                                        <th class="text-left">Created</th> 
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";
    $("#closed_show").show();
    var ddlstatus = "=''"//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == "1") ddlstatus = "in('In Process','Revised')";
    else if (filter == "2") ddlstatus = "in('In Approval')";
    else if (filter == "3") ddlstatus = "in('Approved','Post')";
    else if (filter == "4") ddlstatus = "in('Complete','Closed')";
    else if (filter == "5") ddlstatus = "in('Rejected','Cancel')";
    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [
                null, null, null, null, null, null, null, null, null, { "search": ddlstatus }
            ],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                     {
                         data: "t_utj_no",
                         name: "t_utj_no",
                         className: "text-left text-nowrap",
                         searchable: true,
                         render: function (data, type, row) {
                             return type != "display" ? data : '<a href="' + url_Form + '/' + row.t_utj_uid + '" class="text-primary">' + data + '</a>';
                         }
                     },
                     {
                         data: "t_utj_date", name: "t_utj_date",
                         render: function (data, type, row) {
                             return type != "display" ? data : moment(data).format('MM/DD/YYYY')
                         }
                     },
                     {
                         data: "t_utj_due_date", name: "t_utj_due_date",
                         render: function (data, type, row) {
                             return type != "display" ? data : moment(data).format('MM/DD/YYYY')
                         }
                     },
                     { data: "m_cust_name", name: "m_cust_name" },
                     { data: "m_type_unit_name", name: "m_type_unit_name" },
                     { data: "m_item_luas_tanah", name: "m_item_luas_tanah" },
                     { data: "m_item_luas_bangunan", name: "m_item_luas_bangunan" },
                     { data: "m_proyek_name", name: "m_proyek_name" },
                     { data: "m_proyek_addr", name: "m_proyek_addr" },
                     { data: "t_utj_status", name: "t_utj_status" },
                     {
                         data: "created_at",
                         name: "created_at",
                         render: function (data, type, row) {
                             return type != "display" ? data : moment(data).format('MM/DD/YYYY')
                         }
                     },
                      
            ],
            "select": {
                "style": 'multi'
            },
            "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>><"row"<"col-sm-12"<"pull-right"<"toolbar-print">>>><"row"<"col-sm-12"t>><"row"<"col-sm-5"i><"col-sm-7"p>>',
            "order": []
        });
    });

    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("created_at:name")
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + $('#filterperiodfrom').val() + ' 00:00:00\' and \'' + $('#filterperiodto').val() + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("t_utj_status:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='"+ddlstatus+"'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });
</script>