﻿@model MIS_MAGNA_MVC.Models.tb_t_spr

@{
    ViewBag.Title = "Surat Pemesanan Rumah (SPR)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_spr_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.t_spr_type_trans)
                        @Html.HiddenFor(model => model.t_utj_amt2)
                        @Html.HiddenFor(model => model.t_dp_amt2)
                        @Html.HiddenFor(model => model.t_kt_amt2)
                        @Html.HiddenFor(model => model.t_shm_amt2)
                        @Html.HiddenFor(model => model.t_piutang_amt2)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.m_company_id)
                        @Html.HiddenFor(model => model.t_spr_promo_id)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_type)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_amt)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_persen)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_note)
                        @Html.Hidden("action")
                        @Html.Hidden("revisi")

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. SPR <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_spr_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="hide">@Html.CheckBoxFor(model => model.is_promo) </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ada Promo</label>
                                        <div class="col-md-8">
                                            <label class="switch">
                                                <input type="checkbox" id="is_promo_id">
                                                <span class="slider round"></span>
                                            </label>
                                            <label id="is_promo_txt" class="control-label">Ya</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    @Html.HiddenFor(model => model.t_utj_id)
                                    @Html.HiddenFor(model => model.t_utj_type)
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. UTJ </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("t_utj_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_utj" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-utj">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah UTJ</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_utj_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_cust" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Marketing</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_marketing_id, null, new { @class = "form-control select2", @required = "", @onchange = "chnage_marketing()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_marketing_name">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.m_marketing_name, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Uang Muka</label>
                                        <div class="col-md-3 checkbox">
                                            @Html.DropDownListFor(model => model.t_dp_type, null, new { @class = "form-control select2", @required = "", @onchange = "change_dp_type()" })
                                        </div>

                                        <div class="col-md-5 checkbox" id="div_dp_type_bayar" style="display:none">
                                            @Html.DropDownListFor(model => model.t_dp_type_bayar, null, new { @class = "form-control select2", @required = "", @onchange = "change_dp_type_bayar()" })
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_dp_lbl_1">Jumlah</label>
                                        @*<label class="col-md-4 control-label" id="div_dp_lbl_2" style="display:none">Total Angsuran | Jumlah</label>*@
                                        <div class="col-md-3" id="div_dp_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_dp_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_dp_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_dp_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="div_dp_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun DP</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_dp_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelebihan Tanah</label>
                                        <div class="col-md-3 checkbox">
                                            @Html.DropDownListFor(model => model.t_kt_type, null, new { @class = "form-control select2", @required = "", @onchange = "change_kt_type()" })
                                        </div>
                                       
                                        <div class="col-md-5 checkbox" id="div_kt_type_bayar" style="display:none">
                                            @Html.DropDownListFor(model => model.t_kt_type_bayar, null, new { @class = "form-control select2", @required = "", @onchange = "change_kt_type_bayar()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_kt_lbl_1">Jumlah</label>
                                        @*<label class="col-md-4 control-label" id="div_kt_lbl_2" style="display:none">Total Angsuran | Jumlah</label>*@
                                        <div class="col-md-3" id="div_kt_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_kt_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_kt_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_kt_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="div_kt_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun KT</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_kt_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SHM</label>
                                        <div class="col-md-3 checkbox">
                                            @Html.DropDownListFor(model => model.t_shm_type, null, new { @class = "form-control select2", @required = "", @onchange = "change_shm_type()" })
                                        </div>

                                        <div class="col-md-5 checkbox" id="div_shm_type_bayar" style="display:none">
                                            @Html.DropDownListFor(model => model.t_shm_type_bayar, null, new { @class = "form-control select2", @required = "", @onchange = "change_shm_type_bayar()" })
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_shm_lbl_1">Jumlah</label> 
                                        <div class="col-md-3" id="div_shm_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_shm_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="div_shm_account_id" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun SHM</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_shm_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Piutang</label>
                                        <div class="col-md-5 checkbox">
                                            @Html.DropDownListFor(model => model.t_piutang_type_bayar, null, new { @class = "form-control select2", @required = "", @onchange = "piutang_type_bayar()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_piutang_lbl_1">Jumlah</label> 
                                        <div class="col-md-3" id="div_piutang_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_piutang_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_piutang_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_piutang_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Harga SPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_spr_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total KPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_spr_total_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.t_spr_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_spr_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    // BAGIAN DETAIL
                    <div class="div_promo"> 
                        @Html.Hidden("m_promo_seq")
                        <div class="box-header">
                            <h3 class="box-title"><b>Promo Detail</b></h3>
                        </div>

                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Jenis Promo <label class="text-red">*</label></label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("m_promo_id", null, "-- Pilih Promo --", new { @class = "form-control select2", @required = "", @onchange = "" })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tipe Bayar <label class="text-red">*</label></label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("t_promo_type_bayar", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text="Tunai", Value="Tunai" },
                                                    new SelectListItem { Text="Angsuran", Value="Angsuran" },
                                                }, new { @class = "form-control select2", @onchange = "change_promo_type_bayar()" })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Nominal Promo<label class="text-red">*</label></label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_promo_total_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total Angsuran</label>
                                            <div class="col-md-3">
                                                @Html.Editor("t_promo_total_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.Editor("t_promo_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Keterangan</label>
                                            <div class="col-md-8">
                                                @Html.TextArea("t_promo_note", new { @class = "form-control", @maxlength = "100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" onclick="AddToDetail()">Add To Detail</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br> @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_spr_status == "In Process" | Model.t_spr_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="BtnUpdate"><b>Update Promo</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="modal-cust">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Daftar Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalCust" class="table table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-item">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Daftar Unit</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-utj">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Daftar Uang Tanda Jadi</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalUtj" class="table table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<!----script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script--> 
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Nama' },
                { data: 'm_cust_addr', name: 'm_cust_addr', title: 'Alamat' }
            ],
            order: [],
        });
        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_cluster_name', name: 'm_cluster_name', title: 'Cluster' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_item_luas_bangunan', name: 'm_item_luas_bangunan', className: "text-right", title: 'Luas Bangunan', render: function (data) { return addCommas(data); } },
                { data: 'm_item_luas_tanah', name: 'm_item_luas_tanah', className: "text-right", title: 'Luas Tanah', render: function (data) { return addCommas(data); } },
            ],
            order: [],
        });
        tblModalUtj = $("#tblModalUtj").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Customer' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_utj_no', name: 't_utj_no', title: 'No. UTJ' },
                { data: 't_utj_date', name: 't_utj_date', title: 'Tgl. UTJ', render: function (data) { return moment(data).format("DD/MM/YYYY"); } },
                { data: 't_utj_type_bayar', name: 't_utj_type_bayar', title: 'Tipe' },
                { data: 't_utj_amt', name: 't_utj_amt', className: "text-right", title: 'Jumlah', render: function (data) { return addCommas(data); } }
            ],
            order: [],
        });
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_promo_seq', name: 'm_promo_seq', title: 'No.' },
                { data: 'm_promo_name', name: 'm_promo_name', title: 'Jenis Promo' },
                { data: 't_promo_type_bayar', name: 't_promo_type_bayar', title: 'Tipe Bayar' },
                { data: 't_promo_total_angsuran', name: 't_promo_total_angsuran', title: 'Angsuran', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                { data: 't_promo_total_amt', name: 't_promo_total_amt', title: 'Nominal Promo', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                { data: 't_promo_amt', name: 't_promo_amt', title: 'Nominal per bulan', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                { data: 't_promo_note', name: 't_promo_note', title: 'Keterangan' },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });
       
        if ($("#action").val() == "Update Data") { FillDetailData(); } 
        change_dp_type(); //change_dp_type_bayar();
        change_kt_type(); //change_kt_type_bayar();
        change_shm_type(); change_shm_type_bayar();
        piutang_type_bayar();
        ChangePromo();
    });

    function change_promo_type_bayar() {
        var t_promo_total_angsuran = tNumber(1); var t_promo_amt = tNumber(0);
        var t_promo_type_bayar = $("#t_promo_type_bayar option:selected").val();
        var t_promo_total_amt = tNumber($("#t_promo_total_amt").val());
        if (t_promo_type_bayar == "Angsuran") { t_promo_total_angsuran = tNumber($("#t_promo_total_angsuran").val()); $("#t_promo_amt").show(); }
        else { $("#t_promo_total_angsuran").val(t_promo_total_angsuran); $("#t_promo_amt").hide(); }
        t_promo_amt = t_promo_total_amt / t_promo_total_angsuran;
        $("#t_promo_amt").val(t_promo_amt);
    }

    function ChangePromo() {
        var is_promo = $('#is_promo').is(":checked"); var t_spr_status = $("#t_spr_status").val();
        if (is_promo == true) {
            $("input[type='checkbox']").prop('checked', true);
            $('#is_promo_txt').html('Ya');
            $('#is_promo').val(true); $(".div_promo").show();
            if (t_spr_status == "Post") { $("#BtnUpdate").show(); }
        } else {
            $("input[type='checkbox']").prop('checked', false);
            $('#is_promo_txt').html('Tidak');
            $('#is_promo').val(false); $(".div_promo").hide();
            $("#BtnUpdate").hide();
        }
        change_promo_type_bayar();
    }

    function GetFilterData() {
        var data = {
            m_promo_seq: $('#m_promo_seq').val(),
            m_promo_id: $('#m_promo_id option:selected').val(),
            m_promo_name: $('#m_promo_id option:selected').text(),
            t_promo_type_bayar: $('#t_promo_type_bayar option:selected').val(),
            t_promo_amt: $('#t_promo_amt').val(),
            t_promo_total_amt: $('#t_promo_total_amt').val(),
            t_promo_total_angsuran: $('#t_promo_total_angsuran').val(),
            t_promo_note: $('#t_promo_note').val(),
        };
        return data;
    }

    function IsOnDtl(m_promo_id) {
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (m_promo_id == alldata.m_promo_id) { return true; }
        }
        return false;
    }

    function AddToDetail() {
        var param = GetFilterData();
        if (param.m_promo_name == "-- Pilih Promo --") { return Swal('', 'Pilih promo dulu !', 'warning'); }
        var rows = [];
        var id = tbl_dtl.data().length + 1;
        if (!IsOnDtl(param.m_promo_id)) {
            param.m_promo_seq = tbl_dtl.data().length + 1;
            rows.push(param);
        }
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        tbl_dtl.draw();
    }

    function change_marketing() {
        var m_marketing_id = $("#m_marketing_id option:selected").text();
        if (m_marketing_id == "Lain-Lain") $("#div_marketing_name").show();
        else $("#div_marketing_name").hide();
        $("#m_marketing_name").val((m_marketing_id == "Lain-Lain" ? "" : m_marketing_id));
    }

    function change_dp_type() {
        var t_dp_type = $("#t_dp_type option:selected").text();
        if (t_dp_type == "Ya") {
            $("#div_dp_type_bayar").show(); 
            $("#div_dp_account_id").show(); 
            $("#t_dp_amt").prop('readonly', false);
        } else {
            $("#div_dp_type_bayar").hide(); 
            $("#div_dp_total_angsuran").hide(); 
            $("#t_dp_amt").val(0);
            $("#t_dp_total_angsuran").val(0);
            $("#t_dp_amt").prop('readonly', true);
        }
        change_dp_type_bayar();
    }

    function change_dp_type_bayar() {
        var t_dp_type_bayar = $("#t_dp_type_bayar option:selected").text();
        var t_dp_type = $("#t_dp_type option:selected").text(); 
        if (t_dp_type == "Ya" && t_dp_type_bayar == "Angsuran") {
            $("#div_dp_total_angsuran").show();
            $("#div_dp_amt").show();
            $("#div_dp_lbl_1").html('Total Angsuran | Jumlah'); 
        } else {
            $("#div_dp_total_angsuran").hide();
            $("#div_dp_amt").show();
            $("#div_dp_lbl_1").html('Jumlah'); 
            $("#t_dp_total_angsuran").val(0);
        }
    }

    function change_kt_type() {
        var t_kt_type = $("#t_kt_type option:selected").val(); 
        if (t_kt_type == "Ya") {
            $("#div_kt_type_bayar").show(); 
            $("#div_kt_account_id").show();
            $("#t_kt_amt").prop('readonly', false);
        } else {
            $("#div_kt_type_bayar").hide(); 
            $("#div_kt_total_angsuran").hide();
            $("#div_kt_account_id").hide(); 
            $("#t_kt_amt").val(0);
            $("#t_kt_total_angsuran").val(0);
            $("#t_kt_amt").prop('readonly', true);
        }
        change_kt_type_bayar();
    }

    function change_kt_type_bayar() {
        var t_kt_type_bayar = $("#t_kt_type_bayar option:selected").val();
        var t_kt_type = $("#t_kt_type option:selected").val(); 
        if (t_kt_type == "Ya" && t_kt_type_bayar == "Angsuran") {
            $("#div_kt_total_angsuran").show();
            $("#div_kt_amt").show();
            $("#div_kt_lbl_1").html('Total Angsuran | Jumlah'); 
        }
        else
        {
            $("#div_kt_total_angsuran").hide();
            $("#div_kt_amt").show();
            $("#div_kt_lbl_1").html('Jumlah');
            $("#t_kt_total_angsuran").val(0);
        }
    }

    function change_shm_type() {
        var t_shm_type = $("#t_shm_type option:selected").text();
        if (t_shm_type == "Ya") {
            $("#div_shm_type_bayar").show(); 
            $("#div_shm_account_id").show(); 
            $("#t_shm_amt").prop('readonly', false);
        } else {
            $("#div_shm_type_bayar").hide(); 
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_account_id").hide(); 
            $("#t_shm_amt").val(0);
            $("#t_shm_total_angsuran").val(0);
            $("#t_shm_amt").prop('readonly', true);
        }
        change_shm_type_bayar();
    }

    function change_shm_type_bayar() {
        var t_shm_type = $("#t_shm_type option:selected").text();
        var t_shm_type_bayar = $("#t_shm_type_bayar option:selected").text();
        if (t_shm_type == "Ya" && t_shm_type_bayar == "Angsuran") {
            $("#div_shm_total_angsuran").show();
            $("#div_shm_amt").show();
            $("#div_shm_lbl_1").html('Total Angsuran | Jumlah');  
        } else {
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_amt").show(); 
            $("#div_shm_lbl_1").html('Jumlah');
            $("#t_shm_total_angsuran").val(0);
        }
    }

    function piutang_type_bayar(){
        var t_piutang_type_bayar = $("#t_piutang_type_bayar option:selected").val();
        if (t_piutang_type_bayar == "Angsuran") {
            $("#div_piutang_total_angsuran").show();
            $("#div_piutang_amt").show();
            $("#div_piutang_lbl_1").html('Total Angsuran | Jumlah'); 
        } else {
            $("#div_piutang_total_angsuran").hide();
            $("#div_piutang_amt").show();
            $("#div_piutang_lbl_1").html('Jumlah'); 
            $("#t_piutang_total_angsuran").val(0);
        }
    }

    function CalcPiutangAmt() {
        var t_spr_price = tNumber($("#t_spr_price").val());
        var t_utj_amt = tNumber($("#t_utj_amt").val());
        var t_dp_amt = tNumber($("#t_dp_amt").val());
        var t_kt_amt = tNumber($("#t_kt_amt").val());

        var t_utj_amt2 = tNumber($("#t_utj_amt2").val());
        var t_dp_amt2 = tNumber($("#t_dp_amt2").val());
        var t_kt_amt2 = tNumber($("#t_kt_amt2").val());

        var t_piutang_amt = t_spr_price - t_utj_amt - t_dp_amt - t_kt_amt;
        $("#t_piutang_amt").val(t_piutang_amt);
    }

    function CalcSPRAmt() {
        var t_spr_price = tNumber($("#t_spr_price").val());
        var t_utj_amt = tNumber($("#t_utj_amt").val());
        var t_dp_amt = tNumber($("#t_dp_amt").val());
        var t_kt_amt = tNumber($("#t_kt_amt").val());
        var t_shm_amt = tNumber($("#t_shm_amt").val());
        var t_piutang_amt = tNumber($("#t_piutang_amt").val());
        var t_utj_amt2 = tNumber($("#t_utj_amt2").val());
        var t_dp_amt2 = tNumber($("#t_dp_amt2").val());
        var t_kt_amt2 = tNumber($("#t_kt_amt2").val());
        var t_shm_amt2 = tNumber($("#t_shm_amt2").val());

        var t_spr_total_amt = t_utj_amt + t_dp_amt + t_kt_amt + t_shm_amt + t_piutang_amt;
        //    t_spr_price - (t_utj_amt + t_utj_amt2) - (t_dp_amt + t_dp_amt2) - (t_kt_amt + t_kt_amt2) + (t_shm_amt + t_shm_amt2);
        $("#t_spr_total_amt").val(t_spr_total_amt);
    }
     
    function FillDetailData() {
        var t_spr_id = $('#t_spr_id').val();
        var m_cust_id = $("#m_cust_id").val();
        tbl_dtl.clear().draw(); 
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { t_spr_id, m_cust_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.tbl.length; i++) { data.tbl[i].m_promo_seq = i + 1; }
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw(); 
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };


    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr'); tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) { tbl_dtl.cell(i, 'm_promo_seq:name').data(i + 1).invalidate(); }
        e.preventDefault();
    });

    $('#is_promo_id').change(function () {
        if ($(this).is(':checked')) { $("input[type='checkbox']").prop('checked', true); $('#is_promo').val(true); }
        else { $("input[type='checkbox']").prop('checked', false); $('#is_promo').val(false); } ChangePromo();
    });
    $('#t_promo_total_amt, #t_promo_total_angsuran').on('blur', function () { change_promo_type_bayar(); });  
    $('#t_spr_price, #t_dp_amt, #t_kt_amt').on('blur', function () { CalcPiutangAmt(); CalcSPRAmt(); });
    $('#t_shm_amt').on('blur', function () { CalcSPRAmt(); });

    $("#btnsearch_cust").click(function () {
        var m_company_id = $('#m_company_id').val();
        tblModalCust.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataCust"))",
            data: { m_company_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalCust.rows.add(data.tbl).draw();
                    tblModalCust.columns.adjust().draw();
                } else { swal('', data.result, 'error'); }
            },
            error: function (err) { swal('', err.responseText, 'error'); }
        });
    });
    $("#tblModalCust").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalCust.row($tr).data();
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $('#modal-cust').modal('hide');
    });

    $("#btnsearch_item").click(function () {
        var m_company_id = $('#m_company_id').val();
        tblModalItem.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataItem"))",
            data: { m_company_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.tbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $('#modal-item').modal('hide');
    });

    $("#btnsearch_utj").click(function () {
        var m_company_id = $('#m_company_id').val();
        var m_cust_id = $('#m_cust_id').val();
        var m_item_id = $('#m_item_id').val();

        tblModalUtj.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataUtj"))",
            data: { m_company_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalUtj.rows.add(data.tbl).draw();
                    tblModalUtj.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalUtj").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalUtj.row($tr).data();
        $("#t_utj_id").val(alldata.t_utj_id);
        $("#t_utj_no").val(alldata.t_utj_no);
        $("#t_utj_type").val(alldata.t_utj_type_bayar);
        $("#t_utj_amt").val(alldata.t_utj_amt);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        CalcSPRAmt();
        $('#modal-utj').modal('hide');
    });

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray(); var tbl = {};
        var action = $('#action').val(); var dtl = [];
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });          
        //tbl.t_piutang_type_bayar = $("input:radio[name=t_piutang_type_bayar]:checked").val();
        tbl.is_promo = $('#is_promo').val();
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) { var alldata = tbl_dtl.row(i).data(); dtl.push(alldata); }
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, dtl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) { location.replace("@(Url.Action("Index"))"); }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#t_spr_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#t_spr_status").val("In Process");
            }
        });
    });

    $("#btnSaveClose").click(function () { $("#btnSave").click(); });

    $("#BtnUpdate").click(function () {
        event.preventDefault();
        var id = $("#t_spr_id").val(); var is_promo = $('#is_promo').val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var tbl = {}; var dtl = [];
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) { var alldata = tbl_dtl.row(i).data(); dtl.push(alldata); }
        $.ajax({
            type: "POST",
            url: "@(Url.Action("UpdatePromo"))",
            data: { __RequestVerificationToken: token, id, is_promo, dtl },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data sudah di update!', data.msg, data.result).then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Update data failed!', data.msg, 'warning');
                }
            },
            error: function (error) {
                console.dir(error)
            }
        });

    });

    $("#btnDelete").click(function () {
        var id = $("#t_spr_id").val();
        var revisi = $('#revisi').val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to ' + (revisi == "true" ? "DELETE" : "DELETE") + ' this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ' + (revisi == "true" ? "Revised" : "Revised") + ' this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('' + (revisi == "true" ? "Revised" : "Revised") + '!', 'Data has been ' + (revisi == "true" ? "Deleted" : "Deleted") + '!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_spr_status").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_spr_no").val();
        var tablename = "tb_t_spr";
        var tableoid = $("#t_spr_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });
</script>