﻿@model MIS_MAGNA_MVC.Models.tb_m_cluster

@{
    ViewBag.Title = "Master Cluster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER

                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.m_cluster_uid)
                        @Html.HiddenFor(model => model.m_cluster_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.m_cluster_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_proyek_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.m_cluster_flag, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                           new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                @*if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md hidden" id="btnDelete"><b>Delete</b></button>
                                    }*@
                            }
                        </div>

                    </div>

                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

</section>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($('#action').val() == "Update Data") {
            $('#m_cluster_name').attr('readonly', true);
        }
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    var chat = $.connection.chatHub;
                    $.connection.hub.start().done(function () {
                        chat.server.send('', '');
                    });
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnDelete").click(function () {
        var m_cluster_uid = $("#m_cluster_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, m_cluster_uid: m_cluster_uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });
    </script>
}
