﻿@model MIS_MAGNA_MVC.Models.tb_t_peningkatan_h

@{
    ViewBag.Title = "Peningkatan Mutu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_peningkatan_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.t_spr_id)
                        @Html.HiddenFor(model => model.t_spr_awal_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.m_company_id)
                        @Html.HiddenFor(model => model.t_kb_id)
                        @Html.HiddenFor(model => model.t_peningkatan_ref_id)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_peningkatan_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Peningkatan</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_peningkatan_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Transaksi <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.t_peningkatan_trans_type, new List<SelectListItem> { new SelectListItem { Text = "SALDO", Value = "SALDO" }, }, new { @class = "form-control select2", @onchange = "change_trans_type()", @readonly = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Peningkatan<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_peningkatan_ref_type, null, new { @class = "form-control select2", @onchange = "GetAccount()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Peningkatan <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_peningkatan_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 div_duedate">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Angsuran <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_peningkatan_due_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @onchange = "hitung_angsuran()" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_cust" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit / Kavling <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6 div_type_bayar">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Angsuran <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.t_peningkatan_type_bayar, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Tipe Angsuran --", Value="none" },
                                                new SelectListItem { Text="Tunai", Value="Tunai" },
                                                new SelectListItem { Text="Angsuran", Value="Angsuran" },
                                            }, new { @class = "form-control select2", @onchange = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nominal<label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_peningkatan_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="div_spr">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total Angsuran<label class="text-red">*</label></label>
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.t_peningkatan_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Rencana Tagihan<label class="text-red">*</label></label>
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.t_peningkatan_amt_bln, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun Debet</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_account_debet_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun Credit</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_account_credit_id, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_peningkatan_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_peningkatan_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="hide_detail">
                        <div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                        </div>

                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList"><b>Generate</b></button>
                                    <button type="button" class="btn btn-danger" id="btnReset" style="display:none"><b>Reset Data</b></button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped text-sm" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_peningkatan_status == "In Process" | Model.t_peningkatan_status == "Revised")
                                {
                                    <button type="button" class="btn btn-success btn-md" id="btnSaveData"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost" data-toggle="modal" data-target="#modal-coa"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <div class="text-center"><label id="result_type_txt" class="control-label"></label></div>
                </div>

                <div class="modal-body" id="modalbody">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalcoa" class="table table-striped" style="width: 100%">
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Total</th>
                                    <th></th><th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <div><label id="sText" class="control-label"></label></div>
                    <button type="button" id="BtnPostData" class="btn btn-primary btn-md"><b>Save Data</b></button>
                    <button type="button" id="btnBatal" class="btn btn-warning btn-md"><b>Cancel</b></button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $(".div_spr").hide(); $(".div_duedate").hide(); $(".div_type_bayar").hide();
        tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Nama' },
                { data: 'm_cust_addr', name: 'm_cust_addr', title: 'Alamat' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit / Kavling' }
            ],
            order: [],
        });

        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 't_spr_date', name: 't_spr_date', title: 'Tgl. SPR' },
            ],
            order: [],
        });

        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 't_peningkatan_d_seq', name: 't_peningkatan_d_seq', title: 'No.', className: "text-center" },
                { data: 'm_item_name', name: 'm_item_name', className: "text-left", title: 'Unit / Kavling' },
                { data: 't_peningkatan_d_note', name: 't_peningkatan_d_note', className: "text-left", title: 'Keterangan' },
                { data: 't_peningkatan_due_date', name: 't_peningkatan_due_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) { return generateinput(data, 't_peningkatan_due_date', ' datepicker datemask2', 'onchange="date_change(this)"', "max-width:100px;"); } },
                { data: 't_peningkatan_d_amt', name: 't_peningkatan_d_amt', title: 'Rencana Tagihan', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_peningkatan_d_amt', ' money', '', "max-width:150px;"); } },
            ]
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalcoa = $("#tblModalcoa").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "m_account_debet_amt", name: "m_account_debet_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "m_account_credit_amt", name: "m_account_credit_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                m_account_debet_amt = api.column('m_account_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                m_account_credit_amt = api.column('m_account_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('m_account_debet_amt:name').footer()).html(addCommas(tRound(m_account_debet_amt, 2)));
                $(api.column('m_account_credit_amt:name').footer()).html(addCommas(tRound(m_account_credit_amt, 2)));
            },
            order: [],
        });

        tblModalcoa.on("draw", function () {
            $('#tblModalcoa .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        hide_show_field("SALDO");
        if ($("#action").val() == "Update Data") { FillDetailData(); $('#btnReset').show(); $('#btnAddToList').hide(); $('#btnDelete').show(); }
        else { $('#btnDelete').hide(); }
    });

    function FillDetailData() {
        var t_peningkatan_id = $('#t_peningkatan_id').val();
        var m_item_name = $('#m_item_name').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { t_peningkatan_id, m_item_name },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.tbl.length; i++) {
                        data.tbl[i].t_peningkatan_due_date = moment(data.tbl[i].t_peningkatan_due_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generateinputTextArea(value, name, addAttr) {
        if (addAttr == null) { addAttr = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0 || value.length > 25) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + value + '</textarea>'
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) addAttr += ' rows="2"';
        else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    function hide_show_field(t_peningkatan_trans_type) {
        if (t_peningkatan_trans_type == "SALDO") {
            $(".div_spr").show();
            $(".div_duedate").show();
            $(".div_type_bayar").show();
        } else {
            $(".div_spr").hide();
            $(".div_duedate").hide();
            $(".div_type_bayar").hide();
        }
    }

    function GetAccount() {
        var t_peningkatan_ref_type = $("#t_peningkatan_ref_type option:selected").val(); 
        //alert(t_peningkatan_ref_type);
        $.ajax({
            url: "@(Url.Action("GetAccount"))",
            data: { t_peningkatan_ref_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = "";
                    $.each(data.db, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#m_account_debet_id").html(markup).show().trigger('change');
                    $.each(data.cr, function (key, val) {
                        markup2 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#m_account_credit_id").html(markup2).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function change_trans_type() {
        var t_peningkatan_trans_type = $("#t_peningkatan_trans_type option:selected").val();
        $("#m_cust_id").val("0"); $("#m_cust_name").val("");
        $("#m_item_id").val("0"); $("#m_item_name").val("");
        hide_show_field(t_peningkatan_trans_type);
        GetAccount();
    }

    function hitung_angsuran() {
        var t_peningkatan_amt_bln = tNumber($("#t_peningkatan_amt").val());
        var t_peningkatan_type_bayar = $("#t_peningkatan_type_bayar option:selected").val();
        var t_peningkatan_angsuran = tNumber($("#t_peningkatan_angsuran").val());
        var t_peningkatan_amt = tNumber($("#t_peningkatan_amt").val());
        if (t_peningkatan_type_bayar == "none") {
            $("#t_peningkatan_angsuran").val("1"); $("#t_peningkatan_amt_bln").val("0");
            Swal('Silakan pilih Tipe Angsuran terlebih dahulu!', '', 'warning');
            return false;
        }

        if (t_peningkatan_type_bayar == "Angsuran") {
            t_peningkatan_amt_bln = (t_peningkatan_amt / t_peningkatan_angsuran).toFixed(0);
        }
        $("#t_peningkatan_amt_bln").val(t_peningkatan_amt_bln);
        $("#btnReset").click();
    }

    function DirectSave() {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = []; var action = $('#action').val();
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        var dtcoa = [];
        for (var i = 0; i < tblModalcoa.rows().data().length; i++) {
            var alldata = tblModalcoa.row(i).data();
            dtcoa.push(alldata);
        }
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, dtDtl, dtcoa, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) { location.replace("@(Url.Action("Index"))"); }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#t_peningkatan_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#t_peningkatan_status").val("In Process");
            }
        });
    }

    $('#t_peningkatan_amt_bln').on('blur', function () {
        $("#btnReset").click();
    });

    $('#t_peningkatan_amt, #t_peningkatan_angsuran').on('blur', function () {
        hitung_angsuran();
    });

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return true;
        setData(this, tbl_dtl);
        e.preventDefault();
    });

    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl.row($tr).data();
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
            tbl_dtl.cell(i, 'r_piutang_seq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    });

    $("#btnReset").click(function () {
        tbl_dtl.clear().draw();
        $('#btnReset').hide(); $('#btnAddToList').show();
    });

    $("#btnAddToList").click(function () {
        var mst = $('form').serializeArray();
        var tbl = {}; tbl_dtl.clear().draw();
        var t_peningkatan_due_date = $("#t_peningkatan_due_date").val();
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { tbl, t_peningkatan_due_date },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.dtl.length; i++) {
                        data.dtl[i].t_peningkatan_due_date = moment(data.dtl[i].t_peningkatan_due_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.dtl).draw();
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnsearch_cust").click(function () {
        var t_peningkatan_trans_type = $("#t_peningkatan_trans_type option:selected").val();
        if (t_peningkatan_trans_type == "") {
            Swal('Silakan pilih tipe peningkatan terlebih dahulu!', '', 'warning');
            return false
        }

        tblModalCust.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataCust"))",
            data: { t_peningkatan_trans_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalCust.rows.add(data.tbl).draw();
                    tblModalCust.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalCust").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalCust.row($tr).data();
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $('#modal-cust').modal('hide');
    });

    $("#btnsearch_item").click(function () {
        var m_cust_id = $('#m_cust_id').val();
        if ((m_cust_id == 0) || (m_cust_id == '') || (m_cust_id == null) || (m_cust_id == 'null')) {
            Swal('Silahkan pilih customer terlebih dahulu!', '', 'warning');
            return false
        }

        tblModalItem.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataItem"))",
            data: { m_cust_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.tbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $('#modal-item').modal('hide');
    });

    $("#btnBatal").click(function () {
        tblModalcoa.clear().draw();
        $('#modal-coa').modal('hide');
    });

    $("#btnPost").click(function () {
        var stbl = {}; var mst = $('form').serializeArray();
        jQuery.map(mst, function (n, i) { stbl[n.name] = n.value; });
        tblModalcoa.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShowCoa"))",
            data: { stbl },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $('#result_type_txt').html('Berikut jurnal yang akan terbentuk jika anda akan melanjutkan transaksi dengan klik tombol Save Data :');
                    $('#sText').html(data.stext);
                    tblModalcoa.rows.add(data.tbl).draw();
                    tblModalcoa.columns.adjust().draw();
                    //$('#modal-coa').modal('show');
                }
                else if (data.result != "") { $(".modal-body").hide(); $("#btnSave").hide(); $('#result_type_txt').html(data.result); }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnSave").click(function () { DirectSave(); });

    $("#btnSaveData").click(function () { DirectSave(); });

    $("#BtnPostData").click(function () { $("#t_peningkatan_status").val("Post"); DirectSave(); });

    $("#btnDelete").click(function () {
        var id = $("#t_peningkatan_id").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Deleted this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id, revisi },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success')
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });
    });    

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_peningkatan_no").val();
        var tablename = "tb_t_peningkatan_h";
        var tableoid = $("#t_peningkatan_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script>