﻿@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Daftar @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @*@Html.Partial("~/Views/Shared/_FilterListProduk.cshtml")*@
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group hide">
                                <label class="col-md-2 control-label">Periode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.Editor("periodstart", new { htmlAttributes = new { @class = "form-control datepicker_from datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border">-</span>@Html.Editor("periodend", new { htmlAttributes = new { @class = "form-control datepicker_to datemask2", @type = "text" } })
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label"><button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Search</b></button></label>
                            </div>
                        </div>

                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_index" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_Form = "@Url.Action("Form")";
    var url_Print = "@(Url.Action("PrintReport"))";
    $(document).ready(function () {
        tbl_index = $("#tbl_index").DataTable({
            "deferRender": true,
            "columns": [
                { data: "t_peningkatan_id", name: "t_peningkatan_id", title: 'No. Draft', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.t_peningkatan_id + '" class="text-primary">' + data + '</a>'; } },
                { data: "t_peningkatan_no", name: "t_peningkatan_no", title: 'No. Transaksi', className: "text-left text-nowrap" },
                { data: "t_peningkatan_date", name: "t_peningkatan_date", title: 'Tgl. Transaksi', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: "t_peningkatan_trans_type", name: "t_peningkatan_trans_type", title: 'Tipe Transaksi' },
                { data: "t_peningkatan_ref_type", name: "t_peningkatan_ref_type", title: 'Tipe Peningkatan' },
                { data: "t_peningkatan_type_bayar", name: "t_peningkatan_type_bayar", title: 'Tipe Bayar' },
                { data: "m_cust_name", name: "m_cust_name", title: 'Customer', className: "text-left text-nowrap" },
                { data: "m_item_name", name: "m_item_name", title: 'Unit' },
                { data: "t_spr_no", name: "t_spr_no", title: 'No. SPR', className: "text-left text-nowrap" },
                { data: "t_peningkatan_amt", name: "t_peningkatan_amt", title: 'Nominal', render: function (data) { return addCommas(data); } },
                { data: "t_peningkatan_status", name: "t_peningkatan_status", title: 'Status' }, 
                { data: null, name: 'select', searchable: false, render: function (data) { return '<button type="button" class="btn btn-sm btn-primary select"><i class="fa fa-print"></i></button>' } }
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tbl_index.on("draw", function () {
            $('#tbl_index .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_index .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_index .select2').select2({ theme: 'bootstrap' });
        });
        GetDataIndex();
    });

    function GetDataIndex() {
        var periodstart = $('#periodstart').val();
        var periodend = $('#periodend').val();
        tbl_index.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataIndex"))",
            data: { periodstart, periodend },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_index.rows.add(data.tbl).draw();
                    tbl_index.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }; 

    $("#tbl_index").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tbl_index.row($tr).data();
        window.open("@Url.Action("PrintReport")?ids=" + alldata.t_peningkatan_id);
    });

    $("#btnPost").click(function () {
        GetDataIndex();
    });
</script>