﻿@model MIS_MAGNA_MVC.Models.tb_m_role

@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form Role</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Role Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        @Html.HiddenFor(model => model.m_role_uid)
                        @Html.HiddenFor(model => model.m_role_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Code <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.m_role_code, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "10" } })
                                            @Html.ValidationMessageFor(model => model.m_role_code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.m_role_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" } })
                                            @Html.ValidationMessageFor(model => model.m_role_name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.m_role_flag, new List<SelectListItem>
                                            {
                                               new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                               new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Role Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Module</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("menumodule", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("menutype", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th> @* Index 0 *@
                                        <th>No.</th> @* Index 1 *@
                                        <th>Module</th> @* Index 2 *@
                                        <th>Type</th> @* Index 3 *@
                                        <th>Menu Name</th> @* Index 4 *@
                                        <th>URL</th> @* Index 5 *@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Role Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Menu Name</th>
                                    <th>Menu Type</th>
                                    <th>Menu Modul</th> 
                                    <th>URL</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div> 
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
             var DataDtl = $('#DataDtl').DataTable();
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var idx = DataDtl.row($tr).data()[1] - 1;
            DataDtl.row($tr).remove().draw();
            UpdateDetail(idx);
            e.preventDefault();
        }); 

        if ($('#action').val() == "Update Data") {
            $('#m_role_code').attr('readonly', true);
            FillDetailData();
        }
            
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    //look up get data role detail
    $("#btnAddToList").click(function () {
        var menumodule = $("#menumodule").val();
        var menutype = $("#menutype").val(); 
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { menumodule: menumodule, menutype: menutype },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        val.m_role_d_seq = ++i;
                        rows.push([
                            JSON.stringify(val),
                            val.m_role_d_seq,
                            val.menuname,
                            val.menutype,
                            val.menumodule,
                            val.menuurl
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });
    //End look up GetDataDetails role detail

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable(); 
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);

            if (!IsOnDtl(alldata.m_menu_id)) {
                var seq = tbldtl.rows().data().length + 1;
                alldata.m_role_d_seq = seq;
                SetDataDetail(tbldtl, alldata);
                seq++;
            }
        });
    }

    function IsOnDtl(m_menu_id) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (m_menu_id == alldata.m_menu_id) {
                return true;
            }
        }
        return false;
    }

    function UpdateDetail(idx) {
        var DataDtl = $('#DataDtl').DataTable();
        for (var i = idx ; i < DataDtl.rows().data().length; i++) {
            var row = DataDtl.row(i).data();
            var alldata = JSON.parse(row[0]); 
            alldata.m_role_d_seq = i + 1;
            SetDataDetail(DataDtl, alldata);
        }
    }

    function SetDataDetail(datadtl, data) {
        var max = datadtl.rows().data().length;
        var seq = parseInt(data.m_role_d_seq);
        var row = [
            JSON.stringify(data),
            data.m_role_d_seq,
            data.menumodule,
            data.menutype,
            data.menuname,
            data.menuurl,
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ];

        if (seq > max)
            datadtl.row.add(row).draw();
        else
            datadtl.row(seq - 1).data(row).invalidate().draw();
    }

    function FillDetailData() {
        var m_role_uid = $('#m_role_uid').val();
        var DataDtl = $('#DataDtl').DataTable();
        DataDtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { m_role_uid: m_role_uid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $.each(data.tbl, function (key, val) {
                        SetDataDetail(DataDtl, val);
                    });
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();
        var closing = $('#closing').val();

        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]); 
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                            else
                                location.replace("@(Url.Action("Form"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnDelete").click(function () {
        var id = $("#roleoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });
</script>