﻿@model MIS_MAGNA_MVC.Models.tb_t_spr

@{
    ViewBag.Title = "Pengajuan (SHM)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_spr_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.t_spr_type_trans)
                        @Html.HiddenFor(model => model.t_utj_amt2)
                        @Html.HiddenFor(model => model.t_dp_amt2)
                        @Html.HiddenFor(model => model.t_kt_amt2)
                        @Html.HiddenFor(model => model.t_shm_amt2)
                        @Html.HiddenFor(model => model.t_piutang_amt2)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.t_spr_id)
                        @Html.HiddenFor(model => model.t_spr_date)
                        @Html.HiddenFor(model => model.t_utj_id)
                        @Html.HiddenFor(model => model.t_utj_type)
                        @Html.HiddenFor(model => model.t_utj_amt)
                        @Html.HiddenFor(model => model.m_marketing_id)
                        @Html.HiddenFor(model => model.m_marketing_name)
                        @Html.HiddenFor(model => model.t_dp_type)
                        @Html.HiddenFor(model => model.t_dp_type_bayar)
                        @Html.HiddenFor(model => model.t_dp_total_angsuran)
                        @Html.HiddenFor(model => model.t_dp_amt)
                        @Html.HiddenFor(model => model.t_dp_account_id)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_type)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_persen)
                        @Html.HiddenFor(model => model.t_spr_promo_dp_note)
                        @Html.HiddenFor(model => model.t_kt_type)
                        @Html.HiddenFor(model => model.t_kt_type_bayar)
                        @Html.HiddenFor(model => model.t_kt_total_angsuran)
                        @Html.HiddenFor(model => model.t_kt_amt)
                        @Html.HiddenFor(model => model.t_kt_account_id)
                        @Html.HiddenFor(model => model.t_piutang_type_bayar)
                        @Html.HiddenFor(model => model.t_piutang_total_angsuran)
                        @Html.HiddenFor(model => model.t_piutang_amt)
                        @Html.HiddenFor(model => model.t_spr_price)
                        @Html.HiddenFor(model => model.t_spr_total_amt)
                        @Html.HiddenFor(model => model.t_spr_status)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_spr_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit</label>
                                        <div class="col-md-4">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SHM</label>
                                        <div class="col-md-2 checkbox">
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type, "Ya", new { @required = "" }) Ya </label>
                                        </div>

                                        <div class="col-md-6 checkbox" id="div_shm_type_bayar" style="display:none">
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type_bayar, "Tunai", new { @checked = "checked", @required = "" }) Tunai </label>
                                            <label> @Html.RadioButtonFor(model => model.t_shm_type_bayar, "Angsuran", new { @required = "" })  Angsuran </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="div_shm_lbl_1" style="display:none">Jumlah</label>
                                        <label class="col-md-4 control-label" id="div_shm_lbl_2" style="display:none">Total Angsuran | Jumlah</label>
                                        <div class="col-md-3" id="div_shm_total_angsuran" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-5" id="div_shm_amt" style="display:none">
                                            @Html.EditorFor(model => model.t_shm_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" id="div_shm_account_id" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun SHM</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.t_shm_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_shm_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.t_spr_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_shm_status == "" | Model.t_shm_status == "In Process")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button> 
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else if (Model.t_shm_status == "Post" | Model.t_shm_status == "Complete")
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>
                   
                            }
            </div>
        </div>
    </div>
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($("#action").val() == "Update Data") {             
            change_shm_type(); change_shm_type_bayar();
        }
    }); 

    $('input[type=radio][name=t_shm_type]').on('change', function () {
        change_shm_type(); CalcSPRAmt();
    });

    $('input[type=radio][name=t_shm_type_bayar]').on('change', function () {
        change_shm_type_bayar();
    });

    function change_shm_type() {
        var t_shm_type = $("input:radio[name=t_shm_type]:checked").val();
        if (t_shm_type == "Ya") {
            $("#div_shm_type_bayar").show();
            $("#div_shm_amt").show();
            $("#div_shm_account_id").show();
            $("#div_shm_lbl_1").show();
        }
        else {
            $("#div_shm_type_bayar").hide();
            $("#div_shm_amt").hide();
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_account_id").hide();
            $("#div_shm_lbl_1").hide();
            $("#div_shm_lbl_2").hide();
            $("#t_shm_amt").val(0);
            $("#t_shm_total_angsuran").val(0);
        }
    }

    function change_shm_type_bayar() {
        var t_shm_type_bayar = $("input:radio[name=t_shm_type_bayar]:checked").val();
        if (t_shm_type_bayar == "Angsuran") {
            $("#div_shm_total_angsuran").show();
            $("#div_shm_amt").show();
            $("#div_shm_lbl_1").hide();
            $("#div_shm_lbl_2").show();
        } else {
            $("#div_shm_total_angsuran").hide();
            $("#div_shm_amt").show();
            $("#div_shm_lbl_1").show();
            $("#div_shm_lbl_2").hide();
            $("#t_shm_total_angsuran").val(0);
        }
    }

    $('#t_shm_amt').on('blur', function () {
        CalcSPRAmt();
    });
     
    function CalcSPRAmt() {
        var t_spr_price = tNumber($("#t_spr_price").val());
        var t_utj_amt = tNumber($("#t_utj_amt").val());
        var t_dp_amt = tNumber($("#t_dp_amt").val());
        var t_kt_amt = tNumber($("#t_kt_amt").val());
        var t_shm_amt = tNumber($("#t_shm_amt").val());

        var t_utj_amt2 = tNumber($("#t_utj_amt2").val());
        var t_dp_amt2 = tNumber($("#t_dp_amt2").val());
        var t_kt_amt2 = tNumber($("#t_kt_amt2").val());
        var t_shm_amt2 = tNumber($("#t_shm_amt2").val());

        var t_spr_total_amt = t_spr_price - (t_utj_amt + t_utj_amt2) - (t_dp_amt + t_dp_amt2) - (t_kt_amt + t_kt_amt2) + (t_shm_amt + t_shm_amt2);
        $("#t_spr_total_amt").val(t_spr_total_amt);
    }
   
    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        tbl.t_shm_type = $("input:radio[name=t_shm_type]:checked").val();
        tbl.t_shm_type_bayar = $("input:radio[name=t_shm_type_bayar]:checked").val();
         
        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error'); 
                    $("#t_shm_status").val("");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                //$("#closing").val('');
                $("#t_shm_status").val("");
            }
        });
    });

    $("#btnSaveClose").click(function () { 
        $("#btnSave").click();
    }); 

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_shm_status").val("Post"); 
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_spr_no").val();
        var tablename = "tb_t_spr";
        var tableoid = $("#t_spr_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script>