﻿@model MIS_MAGNA_MVC.Models.tb_t_refund

@{
    ViewBag.Title = "SPR Pengajuan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_refund_uid)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.m_item_new_id)
                        @Html.HiddenFor(model => model.t_refund_ref_id)
                        @Html.HiddenFor(model => model.t_refund_ref_table)
                        @Html.HiddenFor(model => model.t_spr_awal_id)
                        @Html.HiddenFor(model => model.t_refund_norek)
                        @Html.HiddenFor(model => model.t_refund_bank_name)
                        @Html.HiddenFor(model => model.t_refund_atas_nama)
                        @Html.HiddenFor(model => model.t_refund_price_new)
                        @Html.HiddenFor(model => model.t_refund_disc_amt_dp)
                        @Html.HiddenFor(model => model.t_refund_disc_amt_kt)
                        @Html.HiddenFor(model => model.t_refund_disc_amt_kpr)
                        @Html.HiddenFor(model => model.t_refund_sisa_amt_shm)
                        @Html.HiddenFor(model => model.t_refund_disc_amt_shm) 
                        @Html.HiddenFor(model => model.t_refund_pay_bphtb_amt)
                        @Html.HiddenFor(model => model.t_refund_pay_balik_nama_amt) 
                        @Html.HiddenFor(model => model.t_refund_disc_jasa_bangun_amt) 
                        @Html.HiddenFor(model => model.t_refund_disc_peningkatan_amt) 
                        @Html.HiddenFor(model => model.t_refund_cost1_account_id)
                        @Html.Hidden("action")
                        @Html.Hidden("revisi")
                        @Html.Hidden("r_gl_ref_table")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_refund_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Pengajuan</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_refund_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Pengajuan </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_refund_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Pengajuan<label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.t_refund_type, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Ganti Unit", Value="Ganti Unit" },
                                                new SelectListItem { Text="Ganti Harga", Value="Ganti Harga" },
                                                //new SelectListItem { Text="Ganti Tenor DP", Value="Ganti Tenor DP" },
                                                //new SelectListItem { Text="Ganti Tenor KPR", Value="Ganti Tenor KPR" },
                                                //new SelectListItem { Text="Ganti Tenor KT", Value="Ganti Tenor KT" },
                                                //new SelectListItem { Text="Ganti Tenor SHM", Value="Ganti Tenor SHM" },
                                            }, new { @class = "form-control select2", @onchange = "change_type()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("t_spr_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar | Total Angsuran</label>
                                        <div class="col-md-4 div_type_bayar">
                                            @Html.DropDownListFor(model => model.t_refund_type_bayar, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Tunai", Value="Tunai" },
                                                new SelectListItem { Text="Angsuran", Value="Angsuran" }
                                            }, new { @class = "form-control select2", @onchange = "change_type_bayar()" })
                                        </div>
                                        <div class="col-md-4 div_total_angsuran" style="display:none">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_refund_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })<span class="input-group-addon"><b style="color:red">Bulan</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label t_refund_price">Harga SPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_price, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi Pembayaran Kartu Kontrol</b></u></h4>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran Real</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran UTJ</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_utj_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>
                                                         
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran DP</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_dp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa DP</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_sisa_amt_dp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran KPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_kpr, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa KPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_sisa_amt_kpr, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran KT</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_kt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa KT</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_sisa_amt_kt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Diskon</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_disc_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun Hutang Refund</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_refund_account_id, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun Biaya</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_refund_cost_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Ganti Unit</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_cost_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "hitungAmt()" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="box-title"><u><b>Informasi Pembayaran Titipan & Peningkatan Mutu</b></u></h4>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Titipan PPN</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_ppn_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Peningkatan Bangunan</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_peningkatan_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa Peningkatan Bangunan</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_sisa_peningkatan_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jasa Bangunan</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_jasa_bangun_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa Jasa Bangunan</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_sisa_jasa_bangun_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun Biaya Lain</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_refund_cost1_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Lain</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_cost_other1_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "hitungAmt()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya IJB</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_cost_other_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "hitungAmt()" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Uang Masuk</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_total_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_refund_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_refund_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_refund_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_refund_status == "In Process" | Model.t_refund_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost" data-toggle="modal" data-target="#modal-coa">
                                        <b>Post</b>
                                    </button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    <div class="text-center"><label id="t_titipan_ref_type_txt" class="control-label"></label></div>
                </div>

                <div class="modal-body" id="modalbody">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalcoa" class="table table-striped" style="width: 100%">
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2" class="text-right">Total</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <div><label id="sText" class="control-label"></label></div>
                    <button type="button" id="btnPosting" class="btn btn-primary btn-md"><b>Post Data</b></button>
                    <button type="button" id="btnBatal" class="btn btn-warning btn-md"><b>Cancel</b></button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Customer' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 't_spr_price', name: 't_spr_price', className: "text-right", title: 'Harga SPR', render: function (data) { return addCommas(data); } },
                { data: 't_refund_pay_amt', name: 't_refund_pay_amt', className: "text-right", title: 'Pembayaran Real', render: function (data) { return addCommas(data); } },
                { data: 'r_piutang_sisa_amt', name: 'r_piutang_sisa_amt', className: "text-right", title: 'Sisa SPR', render: function (data) { return addCommas(data); } },
            ],
            order: [],
        });

        tblModalcoa = $("#tblModalcoa").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_desc', name: 'm_account_desc', title: 'Akun' },
                { data: "m_account_debet_amt", name: "m_account_debet_amt", title: 'Debet', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } },
                { data: "m_account_credit_amt", name: "m_account_credit_amt", title: 'Credit', className: "text-right text-nowrap", render: function (data) { return addCommas(data); } }
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                m_account_debet_amt = api.column('m_account_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                m_account_credit_amt = api.column('m_account_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('m_account_debet_amt:name').footer()).html(addCommas(tRound(m_account_debet_amt, 2)));
                $(api.column('m_account_credit_amt:name').footer()).html(addCommas(tRound(m_account_credit_amt, 2)));
            },
            order: [],
        });

        tblModalcoa.on("draw", function () {
            $('#tblModalcoa .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        if ($("#action").val() == "Update Data") {
            var t_refund_type = $("#t_refund_type").val();
            if (t_refund_type == "Batal SPR") $(".div_type_bayar").show();
            else $(".div_type_bayar").hide();

            var t_refund_type_bayar = $("#t_refund_type_bayar").val();
            if (t_refund_type_bayar == "Angsuran") $(".div_total_angsuran").show();
            else $(".div_total_angsuran").hide();

            if (t_refund_type == "Ganti Unit") {
                $(".t_refund_price").text("Harga SPR");
                $(tblModalItem.column('t_spr_price:name').header()).text('Harga SPR');
            } else if (t_refund_type == "Ganti Harga") {
                $(".t_refund_price").text("Harga SPR");
                $(tblModalItem.column('t_spr_price:name').header()).text('Harga SPR');
            }
            else if (t_refund_type == "Ganti Tenor DP") {
                $(".t_refund_price").text("Jumlah Uang Muka");
                $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah UM');
                $(tblModalItem.column('sisa_amt:name').header()).text('Sisa UM');
            }
            else if (t_refund_type == "Ganti Tenor KPR") {
                $(".t_refund_price").text("Jumlah KPR");
                $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah KPR');
                $(tblModalItem.column('sisa_amt:name').header()).text('Sisa KPR');
            }
            else if (t_refund_type == "Ganti Tenor KT") {
                $(".t_refund_price").text("Jumlah Kelebihan Tanah");
                $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah KT');
                $(tblModalItem.column('sisa_amt:name').header()).text('Sisa KT');
            }
            else if (t_refund_type == "Ganti Tenor SHM") {
                $(".t_refund_price").text("Jumlah SHM");
                $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah SHM');
                $(tblModalItem.column('sisa_amt:name').header()).text('Sisa SHM');
            }
        }
    });

    function clear_header() {
        $("#t_spr_no").val(""); $("#m_item_id").val(0); $("#m_item_name").val(""); $("#t_refund_pay_amt_kt").val(0);
        $("#m_proyek_id").val(0); $("#m_proyek_name").val(""); $("#m_cust_id").val(0);
        $("#m_cust_name").val(""); $("#t_refund_price").val(0); $("#t_refund_pay_amt").val(0);
        $("#t_refund_total_amt").val(0); $("#t_refund_ref_id").val(0); $("#t_refund_ref_table").val("");
        $("#t_spr_awal_id").val(0); $("#t_refund_pay_amt_dp").val(0); $("#t_refund_pay_amt_kpr").val(0);
    }

    function change_type() {
        var t_refund_type = $("#t_refund_type").val();
        if (t_refund_type == "Batal SPR")
            $(".div_type_bayar").show();
        else
            $(".div_type_bayar").hide();

        if (t_refund_type == "Ganti Unit") {
            $(".t_refund_price").text("Harga SPR");
            $(tblModalItem.column('t_spr_price:name').header()).text('Harga SPR');
        } else if (t_refund_type == "Ganti Harga") {
            $(".t_refund_price").text("Harga SPR");
            $(tblModalItem.column('t_spr_price:name').header()).text('Harga SPR');
        }
        else if (t_refund_type == "Ganti Tenor DP") {
            $(".t_refund_price").text("Jumlah Uang Muka");
            $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah UM');
            $(tblModalItem.column('sisa_amt:name').header()).text('Sisa UM');
        }
        else if (t_refund_type == "Ganti Tenor KPR") {
            $(".t_refund_price").text("Jumlah KPR");
            $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah KPR');
            $(tblModalItem.column('sisa_amt:name').header()).text('Sisa KPR');
        }
        else if (t_refund_type == "Ganti Tenor KT") {
            $(".t_refund_price").text("Jumlah Kelebihan Tanah");
            $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah KT');
            $(tblModalItem.column('sisa_amt:name').header()).text('Sisa KT');
        }
        else if (t_refund_type == "Ganti Tenor SHM") {
            $(".t_refund_price").text("Jumlah SHM");
            $(tblModalItem.column('t_spr_price:name').header()).text('Jumlah SHM');
            $(tblModalItem.column('sisa_amt:name').header()).text('Sisa SHM');
        }
        clear_header();
    }

    function change_type_bayar() {
        var t_refund_type_bayar = $("#t_refund_type_bayar").val();
        if (t_refund_type_bayar == "Angsuran") $(".div_total_angsuran").show();
        else $(".div_total_angsuran").show();
    }

    function hitungAmt() {
        var t_refund_pay_amt = $('#t_refund_pay_amt').val();
        var t_refund_cost_amt = $('#t_refund_cost_amt').val();
        var t_refund_cost_other_amt = $('#t_refund_cost_other_amt').val();
        var t_refund_cost_other1_amt = $('#t_refund_cost_other1_amt').val();
        var t_refund_pay_ppn_amt = $('#t_refund_pay_ppn_amt').val();
        var total = t_refund_pay_amt - t_refund_cost_amt - t_refund_cost_other_amt - t_refund_cost_other1_amt + t_refund_total_amt;
        $('#t_refund_total_amt').val(total);
    }

    function ChangeAccount() {
        var action = $("#action").val();
        var t_refund_type_bayar = $("input:radio[name=t_refund_type_bayar]:checked").val();
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { t_refund_type_bayar, action },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "";
                    $.each(data.tbl, function (key, val) { markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>"; });
                    $("#t_refund_account_id").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function GetDataKartu() {
        var mst = $('form').serializeArray(); var tbl = {};
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });

        $.ajax({
            url: "@(Url.Action("GetDataItem"))",
            data: { tbl },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.stbl.length; i++) {
                        $("#t_refund_total_angsuran").val(data.stbl[i].t_refund_total_angsuran);
                        $("#t_refund_disc_amt").val(data.stbl[i].t_refund_disc_amt);
                        $("#t_refund_pay_amt_dp").val(data.stbl[i].t_refund_pay_amt_dp);
                        $("#t_refund_pay_amt_kpr").val(data.stbl[i].t_refund_pay_amt_kpr);
                        $("#t_refund_pay_amt_kt").val(data.stbl[i].t_refund_pay_amt_kt);
                        $("#t_refund_total_amt").val(data.stbl[i].t_refund_total_amt);
                        $("#t_refund_pay_amt").val(data.stbl[i].t_refund_pay_amt);

                        $("#t_refund_utj_amt").val(data.stbl[i].t_refund_utj_amt);
                        $("#t_refund_disc_amt_dp").val(data.stbl[i].t_refund_disc_amt_dp);
                        $("#t_refund_disc_amt_kt").val(data.stbl[i].t_refund_disc_amt_kt);
                        $("#t_refund_disc_amt_kpr").val(data.stbl[i].t_refund_disc_amt_kpr);

                        $("#t_refund_sisa_amt_dp").val(data.stbl[i].t_refund_sisa_amt_dp);
                        $("#t_refund_sisa_amt_kt").val(data.stbl[i].t_refund_sisa_amt_kt);
                        $("#t_refund_sisa_amt_kpr").val(data.stbl[i].t_refund_sisa_amt_kpr); 
                        $("#t_refund_pay_ppn_amt").val(data.stbl[i].t_refund_pay_ppn_amt);

                        $("#t_refund_pay_peningkatan_amt").val(data.stbl[i].t_refund_pay_peningkatan_amt);
                        $("#t_refund_sisa_peningkatan_amt").val(data.stbl[i].t_refund_sisa_peningkatan_amt);
                        $("#t_refund_pay_jasa_bangun_amt").val(data.stbl[i].t_refund_pay_jasa_bangun_amt);
                        $("#t_refund_sisa_jasa_bangun_amt").val(data.stbl[i].t_refund_sisa_jasa_bangun_amt);
                    }
                    //GetDDLType(t_type_bayar);
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function GetFilterData() {
        var data = {
            t_refund_price: $('#t_refund_price').val(),
            t_refund_utj_amt: $('#t_refund_utj_amt').val(),
            t_refund_sisa_amt_dp: $('#t_refund_sisa_amt_dp').val(),
            t_refund_sisa_amt_kpr: $('#t_refund_sisa_amt_kpr').val(),
            t_refund_sisa_amt_kt: $('#t_refund_sisa_amt_kt').val(),
            t_refund_total_amt: $('#t_refund_total_amt').val(),
            t_refund_cost_amt: $('#t_refund_cost_amt').val(),
            t_refund_cost_other1_amt: $('#t_refund_cost_other1_amt').val(),
            t_refund_cost_other_amt: $('#t_refund_cost_other_amt').val(),
            t_refund_disc_amt: $('#t_refund_disc_amt').val(),
        };
        return data;
    }

    $("#btnsearch_item").click(function () {
        var t_refund_type = $('#t_refund_type').val();
        tblModalItem.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataSPR"))",
            data: { t_refund_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.stbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else { swal('', data.result, 'error'); }
            },
            error: function (err) { swal('', err.responseText, 'error'); }
        });
    });

    $("#tblModalItem").on('click', '.select', function () {
        //change_type();
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#t_spr_no").val(alldata.t_spr_no);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#t_refund_price").val(alldata.t_spr_price);
        $("#t_refund_ref_id").val(alldata.t_refund_ref_id);
        $("#t_refund_ref_table").val(alldata.t_refund_ref_table);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#t_refund_pay_amt").val(alldata.t_refund_total_amt);
        GetDataKartu(); $('#modal-item').modal('hide');
    });

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray(); var action = $('#action').val();
        var tbl = {}; var dtDtl = [];
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        for (var i = 0; i < tblModalcoa.rows().data().length; i++) {
            var alldata = tblModalcoa.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, action, dtDtl },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        location.replace(url_Index);
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#t_refund_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#t_refund_status").val("In Process");
            }
        });
    });

    $("#btnDelete").click(function () {
        var t_refund_id = $("#t_refund_id").val();
        var revisi = $('#revisi').val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to ' + (revisi == "true" ? "REVISED" : "DELETE") + ' this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ' + (revisi == "true" ? "Revised" : "Revised") + ' this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, t_refund_id, revisi },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('' + (revisi == "true" ? "Delete" : "Delete") + '!', 'Data has been ' + (revisi == "true" ? "Delete" : "Delete") + '!', 'success')
                            setTimeout(function () {
                                location.replace(url_Index);
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var mst = $('form').serializeArray(); var tbl = {};
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        tblModalcoa.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShowCoa"))",
            data: tbl,
            cache: false,
            type: "POST",
            success: function (data) {
                $('#t_titipan_ref_type_txt').html('Berikut jurnal yang akan terbentuk jika anda akan melanjutkan transaksi dengan klik tombol Post data :');
                $('#sText').html(data.stext);
                tblModalcoa.rows.add(data.stbl).draw();
                tblModalcoa.columns.adjust().draw();
                $("#modalbody").show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        url_Index = "@(Url.Action("Index"))";
        $("#t_refund_status").val("Post");
        $("#btnSave").click();
    });

    $("#btnBatal").click(function () { tblModalcoa.clear().draw(); $('#modal-coa').modal('hide'); });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_refund_no").val();
        var tablename = $("#r_gl_ref_table").val();
        var tableoid = $("#t_refund_id").val();
        //if (t_refund_ref_table != "tb_t_refund") { tablename = "tb_t_spr_new" };
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script> 