﻿
@model MIS_MAGNA_MVC.Models.tb_r_piutang

@{
    ViewBag.Title = "Revisi Pembayaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at) 
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="box-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Unit</label>
                                            <div class="col-md-4">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Customer</label>
                                            <div class="col-md-6">
                                                @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">No. SPR</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_spr_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Harga SPR</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_spr_price", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div> 
                                </div>  

                            </div>                           

                            <div class="box-header" id="data_dp" style="display:none">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-light-blue">Informasi Booking Fee & Uang Muka</label>
                                </div>
                                <hr />

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Uang Tanda Jadi</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_utj_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Uang Muka</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_dp_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type Uang Muka</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_dp_type", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type Bayar</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_dp_type_bayar", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tenor Uang Muka</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_dp_total_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-header">

                                <div class="form-group">
                                    <label class="col-md-4 control-label text-light-blue">Informasi Kredit Pemilikan Rumah (KPR)</label>
                                </div>
                                <hr />

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type Bayar</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_piutang_type_bayar", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tenor KPR</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_piutang_total_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total KPR</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_piutang_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>                              

                            <div class="box-header" id="data_kt" style="display:none">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-light-blue">Informasi Kelebihan Tanah (KT)</label>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type KT</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_kt_type", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type Bayar</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_kt_type_bayar", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total KT</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_kt_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tenor</label>
                                            <div class="col-md-4">
                                                @Html.Editor("t_kt_total_angsuran", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>                               

                            <div class="box-header">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-light-blue">Informasi Total Sisa Piutang</label>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total Piutang</label>
                                            <div class="col-md-4">
                                                @Html.Editor("r_piutang_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Total Bayar</label>
                                            <div class="col-md-4">
                                                @Html.Editor("r_piutang_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sisa Piutang</label>
                                            <div class="col-md-4">
                                                @Html.Editor("r_piutang_amt_sisa", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div> 
                                </div> 

                            </div>


                        </div>
                    </div>

                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>

                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_dtl1" class="table table-striped text-sm" style="width: 100%"></table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at)) 
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Delete</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        </div>
                    </div>
                   
                            }
            </div>
        </div>
    </div> 
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script> 
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        ChangeLabel();
        tbl_dtl1 = $('#tbl_dtl1').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.', className: "text-center" },
                { data: 'r_piutang_pay_ref_no', name: 'r_piutang_pay_ref_no', className: "text-left", title: 'No. Pembayaran' },
                { data: 'r_piutang_note', name: 'r_piutang_note', className: "text-left", title: 'Keterangan' },
                { data: 'r_piutang_ref_due_date', name: 'r_piutang_ref_due_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: "r_piutang_amt", name: "r_piutang_amt", className: "text-right", title: 'Rencana Tagihan', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: "r_piutang_pay_amt", name: "r_piutang_pay_amt", className: "text-right", title: 'Realisasi Bayar', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: "r_piutang_disc_amt", name: "r_piutang_disc_amt", className: "text-right", title: 'Potongan', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: 'r_piutang_pay_ref_date', name: 'r_piutang_pay_ref_date', title: 'Tanggal Bayar', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: 'r_piutang_seq', name: 'r_piutang_seq', className: "text-center", title: 'No.', orderable: false, checkboxes: { selectRow: false } },
            ]
        });
        tbl_dtl1.on("draw", function () {
            $('#tbl_dtl1 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl1 .select2').select2({ theme: 'bootstrap' });
        });
        FillDetailData();
    });

    function ChangeLabel() { 
        if ($('#t_dp_type').val() == "Ya") { 
            $('#data_dp').show(); 
        } else {
            $('#data_dp').hide();
        }

        if ($('#t_kt_type').val() == "Ya") {
            $('#data_kt').show();
        } else {
            $('#data_kt').hide();
        }
    }

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generateinputTextArea(value, name, addAttr) {
        if (addAttr == null) { addAttr = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0 || value.length > 25) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + value + '</textarea>'
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) addAttr += ' rows="2"';
        else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    $('#tbl_dtl1').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl1)
        e.preventDefault();
    });

    $('#tbl_dtl1').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl1.row($tr).data();
        tbl_dtl1.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl1.rows().data().length; i++) {
            tbl_dtl1.cell(i, 'r_piutang_seq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    });

    function IsOnDtl1(r_piutang_id) {
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            if (r_piutang_id == alldata.r_piutang_id) {
                return true;
            }
        }
        return false;
    };

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var m_item_id = $('#m_item_id').val();
        tbl_dtl1.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { m_item_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++)
                        data.tbl[i].r_piutang_seq = i + 1;
                    tbl_dtl1.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };


    var url_Confirm = "@(Url.Action("HapusData"))"
    var url_Form = "@(Url.Action("Form"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var m_item_id = $("#m_item_id").val();
        var rowsel = tbl_dtl1.column(8).checkboxes.selected();
        if (!rowsel.length) return Swal('', 'Please select Data first!', 'warning');
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        $.each(rowsel, function (key, val) {
            var alldata = tbl_dtl1.row(val - 1).data();
            dtDtl.push(alldata);
        });

        Swal({
            title: 'Yakin Ingin hapus data?',
            text: "Hapus data gagal!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Hapus ini data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Confirm,
                    data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Confimed!', 'Data has been Close!', 'success')
                            setTimeout(function () {
                                location.replace(url_Form);
                            }, 1000);
                        } else {
                            Swal('Close data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });

    });
</script>
