﻿@{
    ViewBag.Title = "Revisi Pembayaran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>List @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary"> 
                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped" style="width: 100%;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script language="javascript" type="text/javascript">
   var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";
    $("#closed_show").show();
    var ddlstatus = "=''"//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == "1") ddlstatus = "in('In Process','Revised')";
    else if (filter == "2") ddlstatus = "in('In Approval')";
    else if (filter == "3") ddlstatus = "in('Approved','Post')";
    else if (filter == "4") ddlstatus = "in('Complete','Closed','Cancel')";
    else if (filter == "5") ddlstatus = "in('Rejected','Cancel')";

    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [null, null, null, null, null, null, { "search": ddlstatus }],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                    { data: "m_item_name", name: "m_item_name", title: 'Unit', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.m_item_id + '" class="text-primary">' + data + '</a>'; } },
                    { data: "r_piutang_ref_no", name: "r_piutang_ref_no", title: 'No. SPR' },
                    { data: "m_cust_name", name: "m_cust_name", title: 'Customer' },
                    { data: "m_proyek_name", name: "m_proyek_name", title: 'Proyek' },
                    { data: "t_spr_date", name: "t_spr_date", title: 'Tanggal SPR', render: function (data, type, row) { return type != "display" ? data : moment(data).format('MM/DD/YYYY') } },
                    { data: "t_spr_price", name: "t_spr_price", title: 'Harga SPR', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                    { data: "t_spr_status", name: "t_spr_status", title: "Status" },
            ],
            "order": []
        });
        datatable.draw();
    });

    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("t_spr_date:name")
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + periodfrom + ' 00:00:00\' and \'' + periodto + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("t_spr_status:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='" + ddlstatus + "'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });

    function PrintReport() {
        var table = $('#datatable').DataTable();
        var rowsel = table.column(-1).checkboxes.selected();
        var ids = rowsel.join(", ");
        if (ids != "")
            window.open("@Url.Action("PrintReport")?ids=" + ids);
        else
            swal('', 'Please select data to be printed!', 'warning');
    };
</script>
