﻿
@model MIS_MAGNA_MVC.Models.tb_t_spr

@{
    ViewBag.Title = "Tambah Data SHM & KT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.Hidden("action")
                        @Html.Hidden("t_spr_id")
                        @Html.Hidden("r_pay_amt")
                        @Html.Hidden("t_spr_nominal")
                        <div class="container-fluid">
                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Kartu</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("r_piutang_ref_table", new List<SelectListItem>
                                            {
                                                //new SelectListItem { Text="-- Pilih Type Kartu --", Value="None" },
                                                new SelectListItem { Text="Sertifikat Hak Milik (SHM)", Value="SHM" },
                                                new SelectListItem { Text="Kelebihan Tanah", Value="KT" },
                                                //new SelectListItem { Text="Uang Muka", Value="DP" },
                                                //new SelectListItem { Text="Kredit Pemilikan Rumah (KPR)", Value="KPR" },
                                            }, new { @class = "form-control select2", @required = "", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" id="div_tgl">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Angsuran <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("t_tanggal_angsuran", new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR</label>
                                        <div class="col-md-6">
                                            @Html.Editor("t_spr_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit</label>
                                        <div class="col-md-4">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Harga SPR</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_spr_price", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Piutang</label>
                                        <div class="col-md-4">
                                            @Html.Editor("r_piutang_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Bayar</label>
                                        <div class="col-md-4">
                                            @Html.Editor("r_piutang_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa Piutang</label>
                                        <div class="col-md-4">
                                            @Html.Editor("r_piutang_amt_sisa", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Rencana Tagihan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_spr_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Angsuran(Tenor)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_total_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="label_shm">Nominal SHM</label>
                                        <label class="col-md-4 control-label" id="label_kt" style="display:none">Nominal KT</label>
                                        <label class="col-md-4 control-label" id="label_dp" style="display:none">Nominal DP</label>
                                        <label class="col-md-4 control-label" id="label_kpr" style="display:none">Nominal KPR</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_amount_kartu", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rencana Tagihan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_per_bln_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div> 

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Revisi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("r_piutang_type_revisi", new List<SelectListItem>
                                           {
                                               new SelectListItem { Text="-- Pilih Type Revisi --", Value="None" },
                                               //new SelectListItem { Text="Revisi Angsuran", Value="ANGSURAN" },
                                               //new SelectListItem { Text="Revisi Tanggal", Value="TANGGAL" },
                                               //new SelectListItem { Text="Revisi Nominal", Value="NOMINAL" },
                                               new SelectListItem { Text="Tambah Data", Value="TAMBAH" },
                                           }, new { @class = "form-control select2", @required = "", @onchange = "ChangeButton()" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" id="div_ddl_type_bayar" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Bayar</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("ddl_type_bayar", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Type Bayar --", Value="None" },
                                                new SelectListItem { Text="Bayar Tunai", Value="Tunai" },
                                                new SelectListItem { Text="Bayar Angsuran", Value="Angsuran" },
                                            }, new { @class = "form-control select2", @required = "", @onchange = "ChangeBayar()" })
                                        </div>

                                        <div class="col-md-4" id="div_t_type_bayar" style="display:none">
                                            @Html.Editor("t_type_bayar", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="hide_detail">
                        <div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                        </div>


                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList"><b>Generate Ulang</b></button>
                                    <button type="button" class="btn btn-danger" id="btnReset" style="display:none"><b>Reset Detail Data</b></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl1" class="table table-striped text-sm" style="width: 100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-md" id="btnSave" style="display:none"><b>Revisi Data</b></button>
                            <button type="button" class="btn btn-success btn-md" id="btnTambah"><b>Tambah Data</b></button>
                            <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Batal Proses</b></a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div> 
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script> 
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#hide_detail').hide();
        tbl_dtl1 = $('#tbl_dtl1').DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.', className: "text-center" },
                { data: 'r_piutang_note', name: 'r_piutang_note', className: "text-left", title: 'Keterangan' },
                { data: 'r_piutang_ref_due_date', name: 'r_piutang_ref_due_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) { return generateinput(data, 'r_piutang_ref_due_date', ' datepicker datemask2', 'onchange="date_change(this)"', "max-width:100px;"); } }, 
                { data: 'r_piutang_amt', name: 'r_piutang_amt', title: 'Rencana Tagihan', className: "text-right", render: function (data, type, row) { return generateinput(data, 'r_piutang_amt', ' money', '', "max-width:150px;"); } }, 
                { data: "r_piutang_pay_amt", name: "r_piutang_pay_amt", className: "text-right", title: 'Realisasi Bayar', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: "r_piutang_disc_amt", name: "r_piutang_disc_amt", className: "text-right", title: 'Potongan', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } },
                { data: 'r_piutang_pay_ref_date', name: 'r_piutang_pay_ref_date', title: 'Tanggal Bayar', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: 'r_piutang_seq', name: 'r_piutang_seq_cb', className: "text-center", title: 'Action', orderable: false, checkboxes: { selectRow: false } },
            ]
        });
        tbl_dtl1.on("draw", function () {
            $('#tbl_dtl1 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl1 .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl1 .select2').select2({ theme: 'bootstrap' });
        });
        //FillDetailData();
    });

    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generateinputTextArea(value, name, addAttr) {
        if (addAttr == null) { addAttr = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0 || value.length > 25) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + value + '</textarea>'
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) addAttr += ' rows="2"';
        else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        CalcPayAmt();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    $('#tbl_dtl1').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return true;
        setData(this, tbl_dtl1);
        e.preventDefault();
    });

    $('#tbl_dtl1').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl1.row($tr).data();
        tbl_dtl1.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl1.rows().data().length; i++) {
            tbl_dtl1.cell(i, 'r_piutang_seq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    });

    function IsOnDtl1(r_piutang_id) {
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            if (r_piutang_id == alldata.r_piutang_id) {
                return true;
            }
        }
        return false;
    };
    
    function ChangeBayar() {
        $("#t_total_angsuran").val(0);
        tbl_dtl1.clear().draw();
        var ddl_type_bayar = $("#ddl_type_bayar option:selected").val();
        if (ddl_type_bayar == "Angsuran") {
            $('#hide_detail').show();
        }
        else {
            $('#hide_detail').hide();
        }
            
    }

    function ChangeGroup() {
        tbl_dtl1.clear().draw();
        GetDataKartu();
        var r_piutang_ref_table = $("#r_piutang_ref_table option:selected").val();
        if (r_piutang_ref_table == "DP") {
            $('#label_dp').show();
            $('#label_kt').hide();
            $('#label_kpr').hide();
            $('#label_shm').hide();
        } else if (r_piutang_ref_table == "KT") {
            $('#label_dp').hide();
            $('#label_kt').show();
            $('#label_kpr').hide();
            $('#label_shm').hide();
        } else if (r_piutang_ref_table == "KPR") {
            $('#label_dp').hide();
            $('#label_kt').hide();
            $('#label_kpr').show();
            $('#label_shm').hide();
        } else if (r_piutang_ref_table == "SHM") {
            $('#label_dp').hide();
            $('#label_kt').hide();
            $('#label_kpr').hide();
            $('#label_shm').show();
        }
        //GetDDLType();
    }

    function GetDDLType(t_type_bayar) { 
        $.ajax({
            url: "@(Url.Action("GetDDLType"))",
            data: { t_type_bayar },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.Value + "\'>" + val.Text + "</option>";
                    });
                    $("#r_piutang_type_revisi").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function ChangeButton() {
        var r_piutang_type_revisi = $("#r_piutang_type_revisi option:selected").val();
        var t_type_bayar = $("#t_type_bayar").val();
        $("#t_spr_price").attr("readonly", false);
        if (r_piutang_type_revisi == "ANGSURAN" && t_type_bayar=="Angsuran") {
            $('#hide_detail').show(); 
            $('#btnSave').show();
            $('#btnTambah').hide();
            $('#div_ddl_type_bayar').hide();
            $('#div_t_type_bayar').show();            
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(false);
        } else if (r_piutang_type_revisi == "ANGSURAN" && t_type_bayar == "Tunai") {
            $('#hide_detail').hide(); 
            $('#btnSave').show();
            $('#btnTambah').hide();
            $('#div_ddl_type_bayar').hide();
            $('#div_t_type_bayar').show();
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(false);
        } else if (r_piutang_type_revisi == "ANGSURAN") {
            $('#hide_detail').show();
            $('#btnSave').show();
            $('#btnTambah').hide();
            $('#div_ddl_type_bayar').hide();
            $('#div_t_type_bayar').show(); 
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(false);
        } else if (r_piutang_type_revisi == "TANGGAL") {
            $('#hide_detail').hide();
            $('#btnSave').show();
            $('#btnTambah').hide();
            $('#div_ddl_type_bayar').hide();
            $('#div_t_type_bayar').show();
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(true);
        } else if (r_piutang_type_revisi == "NOMINAL") {
            $('#hide_detail').hide();
            $('#btnSave').show();
            $('#btnTambah').hide();
            $('#div_ddl_type_bayar').hide();
            $('#div_t_type_bayar').show();
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(true);
        } else if (r_piutang_type_revisi == "TAMBAH") {
            $('#hide_detail').show();
            $('#btnSave').hide();
            $('#btnTambah').show();
            $('#div_ddl_type_bayar').show();
            $('#div_t_type_bayar').hide();
            $("#t_spr_price").attr("readonly", true);
            tbl_dtl1.columns(['r_piutang_seq_cb:name']).visible(false);
        }
        FillDetailData();
    }

    function CalcPayAmt() {
        var r_piutang_amt = 0;
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            r_piutang_amt += alldata.r_piutang_amt;
        }
        $("#t_spr_amt").val(r_piutang_amt.toFixed(2));
    }

    $('#t_amount_kartu, #t_total_angsuran').on('blur', function () {
        HitungNominal();
    });

    function HitungNominal() {
        var t_amount_kartu = $('#t_amount_kartu').val();
        var t_total_angsuran = $('#t_total_angsuran').val();
        if ($("#t_total_angsuran").val() == 0) t_total_angsuran = 1;
        var t_per_bln_angsuran = t_amount_kartu / t_total_angsuran;
        $("#t_per_bln_angsuran").val(t_per_bln_angsuran.toFixed(2));
    }

    var url_GetDataKartu = "@(Url.Action("GetDataKartu"))";
    function GetDataKartu() {
        var param = GetFilterData();
        var t_type_bayar = "";
        $.ajax({
            url: url_GetDataKartu,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        $('#t_tanggal_angsuran').val(moment(data.tbl[i].r_piutang_ref_due_date).format("MM/DD/YYYY"));
                        $('#t_total_angsuran').val(data.tbl[i].t_total_angsuran);
                        $('#t_type_bayar').val(data.tbl[i].t_type_bayar);
                        $('#t_amount_kartu').val(data.tbl[i].t_amount_kartu);
                        $('#r_pay_amt').val(data.tbl[i].r_pay_amt);
                        $('#t_spr_nominal').val(data.tbl[i].t_amount_kartu);
                        t_type_bayar = data.tbl[i].t_type_bayar;
                        if (data.tbl[i].t_type_bayar == "Tunai")
                            $('#t_per_bln_angsuran').val(data.tbl[i].t_amount_kartu);
                        else
                            $('#t_per_bln_angsuran').val(data.tbl[i].t_amount_kartu / data.tbl[i].t_total_angsuran);
                    } 
                    //GetDDLType(t_type_bayar);
                }
            },error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
        HitungNominal();
        //FillDetailData();
    };

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var r_piutang_ref_table = $("#r_piutang_ref_table option:selected").val();
        var m_item_id = $('#m_item_id').val(); 
        tbl_dtl1.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { m_item_id, r_piutang_ref_table },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_piutang_seq = i + 1;
                        data.tbl[i].r_piutang_ref_due_date = moment(data.tbl[i].r_piutang_ref_due_date).format("MM/DD/YYYY"); 
                    }
                    tbl_dtl1.rows.add(data.tbl).draw();
                    CalcPayAmt(); 
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function GetFilterData() {
        var data = {
            r_piutang_ref_table: $('#r_piutang_ref_table option:selected').val(),
            r_piutang_type_revisi: $('#r_piutang_type_revisi option:selected').val(),
            m_item_id: $('#m_item_id').val(),
            t_spr_id: $('#t_spr_id').val(),
            t_spr_id: $('#t_spr_id').val(),
            t_total_angsuran: $("#t_total_angsuran").val(),
            t_tanggal_angsuran: $('#t_tanggal_angsuran').val(),
            t_type_bayar: $('#t_type_bayar').val(),
            t_amount_kartu: $('#t_amount_kartu').val(),
            t_per_bln_angsuran: $('#t_per_bln_angsuran').val(),
            r_pay_amt: $('#r_pay_amt').val(),
            t_spr_price: $('#t_spr_price').val(),
            t_spr_nominal: $('#t_spr_nominal').val(),
            ddl_type_bayar: $('#ddl_type_bayar option:selected').val(),
        };
        return data;
    }

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () { 
        var param = GetFilterData();
        if (param.t_total_angsuran == 0 || param.t_total_angsuran == null) return Swal('', 'Total angsuran tidak boleh nol..!', 'warning');
        if (param.r_piutang_type_revisi == "TAMBAH" && param.ddl_type_bayar == "Tunai")
            return Swal('', 'Bayar Tunai tidak bisa di generated ulang..!', 'warning');

        t_per_bln_angsuran = param.t_amount_kartu / param.t_total_angsuran;
        t_per_bln_angsuran = t_per_bln_angsuran.toFixed(0);
        var data = [];
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            data.push(alldata);
        }
        tbl_dtl1.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { param, data, t_per_bln_angsuran },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_piutang_ref_due_date = moment(data.tbl[i].r_piutang_ref_due_date).format("MM/DD/YYYY"); 
                    }
                    tbl_dtl1.rows.add(data.tbl).draw();
                    tbl_dtl1.columns.adjust().draw();
                    CalcPayAmt();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
        //$('#btnReset').show(); $('#btnAddToList').hide();
    });

    var url_Confirm = "@(Url.Action("RevisiData"))"
    var url_Form = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var param = GetFilterData();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var t_tanggal_angsuran = $('#t_tanggal_angsuran').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];

        if (param.r_piutang_type_revisi == "TANGGAL" || param.r_piutang_type_revisi == "NOMINAL") {
            var rowsel = tbl_dtl1.column(7).checkboxes.selected();
            if (!rowsel.length) return Swal('', 'Tolong untuk centang salah satu data..!', 'warning');
            $.each(rowsel, function (key, val) {
                var alldata = tbl_dtl1.row(val - 1).data();
                dtDtl.push(alldata);
            });
        } else {
            for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
                var alldata = tbl_dtl1.row(i).data();
                dtDtl.push(alldata);
            }
        }

        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        Swal({
            title: 'Yakin Ingin revisi data?',
            /*text: "Hapus data gagal!",*/
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Revisi Sekarang!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Confirm,
                    data: { __RequestVerificationToken: token, dtDtl: dtDtl, param: param, t_tanggal_angsuran: t_tanggal_angsuran },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Sukses!', 'Data berhasil di revisi!', 'success')
                            setTimeout(function () {
                                location.replace(url_Form);
                            }, 1000);
                        } else {
                            Swal('Revisi data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });

    });

    var url_Tambah = "@(Url.Action("TambahData"))"
    $("#btnTambah").click(function () {
        event.preventDefault();
        var param = GetFilterData();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var t_tanggal_angsuran = $('#t_tanggal_angsuran').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            dtDtl.push(alldata);
        }

        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        Swal({
            title: 'Yakin Ingin revisi data?',
            /*text: "Hapus data gagal!",*/
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Revisi Sekarang!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Tambah,
                    data: { __RequestVerificationToken: token, dtDtl,  param, t_tanggal_angsuran },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Sukses!', 'Data berhasil di revisi!', 'success')
                            setTimeout(function () {
                                location.replace(url_Form);
                            }, 1000);
                        } else {
                            Swal('Revisi data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });

    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_spr_no").val();
        var tablename = "tb_t_spr";
        var tableoid = $("#t_spr_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script>