﻿@{
    ViewBag.Title = "List Unit/Produk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Data @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @*@Html.Partial("~/Views/Shared/_FilterListProduk.cshtml")*@
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <span id="varforlink" style="display: none"></span>
                            <table id="tbl_index" class="table table-striped datatable" style="width:100%"></table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript"> 
    var url_Form = "@Url.Action("Form")";
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";

    $(document).ready(function () {
        tbl_index = $("#tbl_index").DataTable({
            "deferRender": true,
            "columns": [
                { data: "m_item_name", name: "m_item_name", title: 'Unit', searchable: true, render: function (data, type, row) { return type != "display" ? data : '<a href="' + url_Form + '/' + row.m_item_uid + '" class="text-primary">' + data + '</a>'; } },
                { data: "m_type_unit_name", name: "m_type_unit_name", title: 'Tipe Unit' },
                { data: "m_item_luas_tanah", name: "m_item_luas_tanah", title: 'Luas tanah' },
                { data: "m_item_luas_bangunan", name: "m_item_luas_bangunan", title: 'Luas bangunan' },
                { data: "m_proyek_name", name: "m_proyek_name", title: 'Proyek' },
                { data: "m_proyek_addr", name: "m_proyek_addr", title: 'Alamat' },
                { data: "m_item_flag", name: "m_item_flag", title: 'Status' },
                { data: "created_at", name: "created_at", title: 'Tanggal Buat', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
            ],
            order: [],
        });

        GetDataIndex(); 
    });

    function GetDataIndex() {
        tbl_index.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataIndex"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_index.rows.add(data.tbl).draw();
                    tbl_index.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }
</script>
 