﻿@model MIS_MAGNA_MVC.Models.tb_t_refund

@{
    ViewBag.Title = "Refund Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_refund_uid)
                        @Html.HiddenFor(model => model.t_spr_awal_id)
                        @Html.HiddenFor(model => model.t_refund_id)
                        @Html.HiddenFor(model => model.m_cust_id)
                        @Html.HiddenFor(model => model.m_item_id)
                        @Html.HiddenFor(model => model.m_proyek_id)
                        @Html.HiddenFor(model => model.t_refund_ref_id)
                        @Html.HiddenFor(model => model.t_refund_ref_table)
                        @Html.HiddenFor(model => model.t_refund_type)
                        @Html.HiddenFor(model => model.t_refund_bank_name)
                        @Html.HiddenFor(model => model.t_refund_norek)
                        @Html.HiddenFor(model => model.t_refund_atas_nama)
                        @Html.HiddenFor(model => model.t_refund_note)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.updated_at)
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Revisi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("ddl_type_bayar", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Type Revisi --", Value="None" },
                                                new SelectListItem { Text="Ganti Tenor", Value="Angsuran" },
                                            }, new { @class = "form-control select2", @required = "", @onchange = "change_type()" })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Refund</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_refund_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Refund </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_refund_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 div_tgl_angsuran">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Angsuran </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("t_angsuran_refund_date", new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_spr_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar | Total Angsuran</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.t_refund_type_bayar, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Tunai", Value="Tunai" },
                                                new SelectListItem { Text="Angsuran", Value="Angsuran" }
                                            }, new { @class = "form-control select2", @onchange = "change_type_bayar()", @readonly = "" })
                                        </div>
                                        <div class="col-md-4 div_total_angsuran" style="display:none">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_refund_total_angsuran, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })<span class="input-group-addon"><b style="color:red">Bulan</b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label t_refund_price">Harga SPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_price, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran Real</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pembayaran UTJ</label>
                                        <div class="col-md-5">
                                            @Html.Editor("t_utj_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran DP</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_dp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran KPR</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_kpr, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pembayaran KT</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_pay_amt_kt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Diskon</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_disc_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Refund</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_cost_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Biaya Lain</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_cost_other_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Uang Refund</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.t_refund_total_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>

                    <div class="hide_detail" style="display:none">
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList"><b>Generate Ulang</b></button> 
                                </div>
                            </div> 
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_dtl1" class="table table-striped text-sm" style="width: 100%"></table>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success btn-md" id="btnSave" style="display:none"><b>Revisi Bayar</b></button>
                            <button type="button" class="btn btn-warning btn-md" id="btnPost" style="display:none"><b>Ganti Tenor</b></button> 
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl1 = $('#tbl_dtl1').DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'r_hutang_seq', name: 'r_hutang_seq', title: 'No.', className: "text-center" },
                { data: 'r_hutang_note', name: 'r_hutang_note', className: "text-left text-nowrap", title: 'Keterangan' },
                { data: 'r_hutang_ref_due_date', name: 'r_hutang_ref_due_date', title: 'Kewajiban Tanggal Bayar', className: "text-center", render: function (data, type, row) { return generateinput(data, 'r_hutang_ref_due_date', ' datepicker datemask2', 'onchange="date_change(this)"', "max-width:100px;"); } },

                { data: 'r_hutang_amt', name: 'r_hutang_amt', title: 'Rencana Tagihan', className: "text-right", render: function (data, type, row) { return generateinput(data, 'r_hutang_amt', ' money', '', "max-width:150px;"); } },

                { data: "r_hutang_pay_amt", name: "r_hutang_pay_amt", className: "text-right", title: 'Realisasi Bayar', render: function (data, type, row) { return type != "display" ? data : addCommas(data) } }, 
                { data: 'r_hutang_pay_ref_date', name: 'r_hutang_pay_ref_date', title: 'Tanggal Bayar', className: "text-center", render: function (data, type, row) { return moment(data).format('DD/MM/YYYY'); } },
                { data: 'r_hutang_seq', name: 'r_hutang_seq_cb', className: "text-center", title: 'Action', orderable: false, checkboxes: { selectRow: false } },
            ]
        });
        tbl_dtl1.on("draw", function () {
            $('#tbl_dtl1 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl1 .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl1 .select2').select2({ theme: 'bootstrap' });
        });
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generateinputTextArea(value, name, addAttr) {
        if (addAttr == null) { addAttr = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0 || value.length > 25) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + value + '</textarea>'
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) addAttr += ' rows="2"';
        else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        //CalcPayAmt();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    $('#tbl_dtl1').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return true;
        setData(this, tbl_dtl1);
        e.preventDefault();
    });

    $('#tbl_dtl1').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl1.row($tr).data();
        tbl_dtl1.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl1.rows().data().length; i++) {
            tbl_dtl1.cell(i, 'r_hutang_seq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    });

    function IsOnDtl1(r_hutang_id) {
        for (var i = 0; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            if (r_hutang_id == alldata.r_hutang_id) {
                return true;
            }
        }
        return false;
    };

    function GetFilterData() {
        var data = {
            m_item_id : $('#m_item_id').val(),
            m_cust_id : $('#m_cust_id').val(),
            ddl_type_bayar: $('#ddl_type_bayar option:selected').val(),
            t_refund_total_angsuran: $("#t_refund_total_angsuran").val(),
            t_angsuran_refund_date: $("#t_angsuran_refund_date").val(),
            t_refund_total_amt: parseFloat($("#t_refund_total_amt").val()),
            t_per_bln_angsuran: 0,

        };
        return data;
    }

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var param = GetFilterData();
        if (param.t_refund_total_angsuran == 0 || param.t_refund_total_angsuran == null)
            return Swal('', 'Total angsuran tidak boleh nol..!', 'warning');

        param.t_per_bln_angsuran = param.t_refund_total_amt / param.t_refund_total_angsuran;
        param.t_per_bln_angsuran = param.t_per_bln_angsuran.toFixed(0);
        var data = [];
        for (var i = 0 ; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            data.push(alldata);
        }
        tbl_dtl1.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_hutang_ref_due_date = moment(data.tbl[i].r_hutang_ref_due_date).format("MM/DD/YYYY"); 
                    }
                    tbl_dtl1.rows.add(data.tbl).draw();
                    tbl_dtl1.columns.adjust().draw(); 
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
        //$('#btnReset').show(); $('#btnAddToList').hide();
    });
     
    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var param = GetFilterData(); 
        if (param.ddl_type_bayar == "None")
            return Swal('', 'Pilih Type revisi..!', 'warning'); 
        tbl_dtl1.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_hutang_seq = i + 1;
                        data.tbl[i].r_hutang_ref_due_date = moment(data.tbl[i].r_hutang_ref_due_date).format("MM/DD/YYYY"); 
                    }
                    tbl_dtl1.rows.add(data.tbl).draw();
                    //CalcPayAmt(); 
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    function clear_header() { 
    }

    function change_type() {
        var ddl_type_bayar = $("#ddl_type_bayar option:selected").val();
        if (ddl_type_bayar == "None") {
            tbl_dtl1.clear().draw();
            tbl_dtl1.columns(['r_hutang_seq_cb:name']).visible(true);
            $("#t_refund_type_bayar").attr("readonly", true);            
            $(".hide_detail").hide();
            $("#btnPost").hide();
            $("#btnSave").hide();
        }
        else if (ddl_type_bayar == "Bayar") {
            tbl_dtl1.columns(['r_hutang_seq_cb:name']).visible(true);
            $("#t_refund_type_bayar").attr("readonly", true);
            $(".hide_detail").hide();
            $("#btnPost").hide();
            $("#btnSave").show();
            FillDetailData();
        }
        else {
            $("#t_refund_type_bayar").attr("readonly", false);            
            $(".hide_detail").show();
            $("#btnPost").show();
            $("#btnSave").hide();
            tbl_dtl1.columns(['r_hutang_seq_cb:name']).visible(false);
            FillDetailData();
            change_type_bayar();
        } 
    }

    function change_type_bayar() { 
        var t_refund_type_bayar = $("#t_refund_type_bayar").val();
        if (t_refund_type_bayar == "Angsuran") {
            $(".div_total_angsuran").show();
            $(".hide_detail").show();
            $(".div_tgl_angsuran").show();
        }
        else
        {
            tbl_dtl1.clear().draw();
            $(".div_total_angsuran").hide();
            $(".hide_detail").hide();
            $(".div_tgl_angsuran").hide();
            $("#t_refund_total_angsuran").val(0);
        } 
    }
    
    var url_Index = "@(Url.Action("Form"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var rowsel = tbl_dtl1.column(6).checkboxes.selected();
        if (!rowsel.length) return Swal('', 'Please select Data first!', 'warning');
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        }); 

        Swal({
            title: 'Are you sure to OPEN this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, OPEN this data!'
        }).then((result) => {
            if (result.value) {
                $.each(rowsel, function (key, val) {
                    var alldata = tbl_dtl1.row(val - 1).data();
                    dtDtl.push(alldata);
                });
                $.ajax({
                    type: "POST",
                    url: url_Index,
                    data: { __RequestVerificationToken: token, tbl, dtDtl },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Data has been Opened!', data.msg, 'success').then((result) => {
                                if (result.value) {
                                    location.replace("@(Url.Action("Form"))");
                                }
                            });
                        } else {
                            Swal('Save data failed!', data.msg, 'error');
                        }
                    },
                    error: function (err) {
                        swal('', err.responseText, 'error');
                    }
                });
            }
        });

    });     

    var url_Confirm = "@(Url.Action("GantiTenor"))"
    var url_Form = "@(Url.Action("Form"))";
    $("#btnPost").click(function () {
        event.preventDefault();
        var param = GetFilterData();
        var t_refund_id = $('#t_refund_id').val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {}; var dtDtl = [];
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        for (var i = 0; i < tbl_dtl1.rows().data().length; i++) {
            var alldata = tbl_dtl1.row(i).data();
            dtDtl.push(alldata);
        } 

        Swal({
            title: 'Yakin Ingin edit data?', 
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Edit ini data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Confirm,
                    data: { __RequestVerificationToken: token, t_refund_id, tbl, dtDtl, param },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Confimed!', 'Data has been Close!', 'success')
                            setTimeout(function () {
                                location.replace(url_Form);
                            }, 1000);
                        } else {
                            Swal('Close data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        });

    });
     
</script>