﻿@model MIS_MAGNA_MVC.Models.tb_m_account

@{
    ViewBag.Title = "Form Chart Of Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Tittle</h1>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.m_account_uid)
                        @Html.HiddenFor(model => model.m_account_id) 
                        @Html.HiddenFor(model => model.m_account_level)
                        @Html.HiddenFor(model => model.m_account_report_lvl)
                        @Html.HiddenFor(model => model.m_account_parent_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row"> @* Kategori | empty *@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Laporan</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(m => m.m_account_report_type, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="NERACA", Value="NERACA" },
                                                 new SelectListItem { Text="LABA RUGI", Value="LABA RUGI" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Kategori</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(m => m.m_account_type, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="AKTIVA", Value="AKTIVA" },
                                                 new SelectListItem { Text="PASIVA", Value="PASIVA" },
                                                 new SelectListItem { Text="PENDAPATAN", Value="PENDAPATAN" },
                                                 new SelectListItem { Text="BIAYA", Value="BIAYA" },
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="row"> @* COA Induk |  *@
                                <div class="col-sm-6">
                                    <div class="form-group">                                            
                                        <label class="col-sm-4 control-label">
                                        @Html.CheckBox("parentflag", new { htmlAttributes = new { @class = "form-control", @Value = "Y" } })  Induk Code COA
                                        </label>

                                        <div class="col-sm-6" id="divParentCode" style="visibility: hidden">
                                            <div class="input-group"> 
                                                @Html.Editor("acctgparentcode", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })

                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchparent" class="btn btn-flat" data-toggle="modal" data-target="#modal-coa">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group" id="divParentName" style="visibility: hidden">
                                        <label class="col-sm-4 control-label">Induk COA Nama</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("acctgparentdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="row"> @* No COA | No COA Lama  *@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Kode</label>
                                        <div class="col-sm-4" id="SpanParentCode">
                                            <div class="input-group" >
                                                    @Html.Editor("acctgcode1", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @width = "100", @visible = "false" } })
                                                
                                            </div>
                                        </div>

                                        <div class="col-md-4" style="display:none">
                                            <div class="input-group">
                                                @Html.Editor("acctgcode2", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30" } })
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="input-group">                                                
                                                @Html.EditorFor(model=> model.m_account_code, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30" } })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            
                                @* Nama COA | - *@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama</label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model=> model.m_account_desc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.m_account_desc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.m_account_note, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.m_account_note, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(m => m.active_flag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>

                        @*// USER & TOMBOL ACTION*@
                        <div class="box-footer">
                            <div class="pull-left">
                                Created By @(Html.DisplayFor(m => m.created_at)) On @(Html.DisplayFor(m => m.created_by))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <br />
                                        @:Last Updated By @(Html.DisplayFor(m => m.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                                }
                            </div>
                            <div class="pull-right">
                                @{
                                    <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        @*<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>*@
                                    }
                                }
                            </div>
                        </div>
                        @*// AKHIR USER & TOMBOL ACTION*@
                    </div>
                    }
            </div>    
        </div>

        @* MODAL UNTUK PARENT COA *@
        <div class="modal fade" id="modal-coa">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">List of Parent COA</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK PARENT COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function ()
    {
        document.getElementById("SpanParentCode").style.visibility = "hidden";
        $("#tblModalCOA").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "order": [[2, 'asc']]
        });

        var tblModalCOA = $("#tblModalCOA").DataTable();
        tblModalCOA.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCOA.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#m_account_parent_id").val(alldata.m_account_id);
            $("#acctgparentcode").val(alldata.m_account_code);
            $("#acctgparentdesc").val(alldata.m_account_desc);
            $("#acctgcode1").val(alldata.m_account_code);
            $("#m_account_level").val(alldata.m_account_level + 1);
            $('#modal-coa').modal('hide');
        });

        if ($("#action").val() == "Update Data")
        {
            if ($("#m_account_parent_id").val() != 0)
            {
                $("#parentflag").prop("checked", true);
            }
            else
            {
                $("#parentflag").prop("checked", false);
            }
        }

        $("#parentflag").change(function () {
            if ($(this).is(':checked')) {
                document.getElementById("divParentCode").style.visibility = "visible";
                $("#divParentCode").fadeIn(200);
                document.getElementById("divParentName").style.visibility = "visible";
                $("#divParentName").fadeIn(200);
                document.getElementById("SpanParentCode").style.visibility = "visible";
                $("#SpanParentCode").fadeIn(200);
            }
            else {
                $("#divParentCode").fadeOut(200);
                document.getElementById("divParentCode").style.visibility = "hidden";
                $("#divParentName").fadeOut(200);
                document.getElementById("divParentName").style.visibility = "hidden";
                $("#SpanParentCode").fadeOut(200);
                document.getElementById("SpanParentCode").style.visibility = "hidden";
                ClearCOAParent();
            }
        }).change();
    })

    $("#btnsearchparent").click(function () {
        var table = $('#tblModalCOA').DataTable();
        var m_account_type = $("#m_account_type option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetParentCOA"))",
            data: {
                m_account_type: m_account_type
            },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.m_account_code,
                        val.m_account_desc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function ClearCOAParent() {
        $("#m_account_parent_id").val("");
        $("#acctgparentcode").val("");
        $("#acctgparentdesc").val("");
        $("#acctgcode1").val("");
        $("#m_account_level").val(1);
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var acctgcode2 = "";
        if($("#acctgcode1").val() != "")
            acctgcode2 = $("#acctgcode1").val() + "" + $("#m_account_code").val();
        else
            acctgcode2 = $("#m_account_code").val();

        console.log(acctgcode2);

        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();
        var closing = $('#closing').val("true");

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: {
                __RequestVerificationToken: token,
                tbl: tbl,
                action: action,
                acctgcode2: acctgcode2
            },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                        else
                                location.replace("@(Url.Action("Form"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $('#closing').val("");
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error');
                $('#closing').val("");
            }
        });
    });

    $("#btnDelete").click(function () {
        var m_account_uid = $("#m_account_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, m_account_uid: m_account_uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    }); 
</script>
