﻿@model MIS_MAGNA_MVC.Models.tb_t_memo_h

@{
    ViewBag.Title = "Jurnal umum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_memo_h_uid)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.posted_at)
                        @Html.HiddenFor(model => model.posted_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.Hidden("action") 
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 company_hs">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_memo_h_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Jurnal</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_memo_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_memo_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6" id="divunit">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchunit" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-unit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.m_item_id) 
                                            @Html.HiddenFor(model => model.m_proyek_id)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                                           
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_memo_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_memo_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_memo_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width:100%">
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="3" class="text-right">Total</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                if (Model.t_memo_status == "In Process" | Model.t_memo_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }

                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Akun COA</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
    @* MODAL UNTUK Unit*@
    <div class="modal fade" id="modal-unit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalUnit" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK Unit*@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script language="javascript" type="text/javascript">
    var tbl_dtl = null;
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 't_memo_seq', name: 't_memo_seq', title: 'No.' },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_name', name: 'm_account_name', title: 'Akun', className: "text-left text-nowrap"},
                { data: 't_memo_debet_amt', name: 't_memo_debet_amt', title: 'Debet', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_memo_debet_amt', ' money', '', "width:100px;"); } },
                { data: 't_memo_credit_amt', name: 't_memo_credit_amt', title: 'Credit', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_memo_credit_amt', ' money', '', "width:100px;"); } },
                { data: 't_memo_d_note', name: 't_memo_d_note', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generatetextarea(data, 't_memo_d_note', '', 'maxlength="100"'); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // Total over all pages
                t_memo_debet_amt = api.column('t_memo_debet_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                t_memo_credit_amt = api.column('t_memo_credit_amt:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                // Update footer
                $(api.column('t_memo_debet_amt:name').footer()).html(addCommas(tRound(t_memo_debet_amt, 2)));
                $(api.column('t_memo_credit_amt:name').footer()).html(addCommas(tRound(t_memo_credit_amt, 2)));
            },
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 't_memo_seq', name: 't_memo_seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_name', name: 'm_account_name', title: 'Akun', className: "text-left text-nowrap" },
                { data: 't_memo_debet_amt', name: 't_memo_debet_amt', title: 'Debet', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_memo_debet_amt', ' money', '', "width:100px;"); } },
                { data: 't_memo_credit_amt', name: 't_memo_credit_amt', title: 'Credit', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_memo_credit_amt', ' money', '', "width:100px;"); } },
                { data: 't_memo_d_note', name: 't_memo_d_note', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generatetextarea(data, 't_memo_d_note', '', 'maxlength="100"'); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalUnit = $("#tblModalUnit").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Konsumen' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
            ],
            order: [],
        });
        tblModalUnit.on("draw", function () {
            $('#tblModalUnit .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalUnit .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalUnit .select2').select2({ theme: 'bootstrap' });
        });

        if ($("#action").val() == "Update Data") {
            FillDetailData();
        }
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, addAttr, dt_list) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dt_list, function (key, val) {
            var selected = "";
            if (val.Value == value) selected = ' selected'
            option += "<option value=\'" + val.Value + "\'" + selected + " data_val=\'" + (val) + "\'>" + val.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    }; 
     
    var url_GetUnitData = "@(Url.Action("GetUnitData"))"
    $("#btnsearchunit").click(function () {
        var m_company_id = $("#m_company_id option:selected").val();
        tblModalUnit.clear().draw();
        $.ajax({
            url: url_GetUnitData,
            data: { m_company_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalUnit.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalUnit").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalUnit.row($tr).data();

        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name); 
        $("#m_cust_name").val(alldata.m_cust_name);
        $('#modal-unit').modal('hide');
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var m_company_id = $("#m_company_id option:selected").val();
        tblModalDtl.column(0).checkboxes.deselect();
        //hideshow();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.t_memo_seq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.t_memo_account_id)) {
                obj.t_memo_seq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw(); 
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(t_memo_account_id) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (t_memo_account_id == alldata.t_memo_account_id) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var t_memo_h_id = $('#t_memo_h_id').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { t_memo_h_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 't_memo_seq:name').data(i + 1).invalidate();
        } 
        e.preventDefault();
        EnabledHeader();
    }); 

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        if (attrname == "t_memo_debet_amt") {
            obj.t_memo_credit_amt = 0;
        } else if (attrname == "t_memo_credit_amt") {
            obj.t_memo_debet_amt = 0;
        }
        tbl.cell($tr, 't_memo_debet_amt:name').data(obj.t_memo_debet_amt).draw();
        tbl.cell($tr, 't_memo_credit_amt:name').data(obj.t_memo_credit_amt).draw();
        tbl.draw(); 

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
    };

    function EnabledHeader() {
        var bVal = false;
        if (tbl_dtl.rows().data().length > 0) {
            bVal = true
            tbl_dtl.columns.adjust().draw();
        } 
        $("#btnsearchunit").attr("disabled", bVal); 
    } 

    $("#btnSave").click(function () {
        event.preventDefault();
        var action = $('#action').val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        }); 

        var dtl = [];
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, dtl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error'); 
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error'); 
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_memo_status").val("Post"); 
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var id = $("#t_memo_h_id").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        Swal({
        title: 'Are you sure to DELETE this data?',
        text: "Deleted data can't be returned!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success' )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning' )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_memo_no").val();
        var tablename = "tb_t_memo_h";
        var tableoid = $("#t_memo_h_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });

    //$(document).on('keyup', 'input:text, textarea', function (e) {
    //    if ($(e.target).hasClass('money')) return true;
    //    var start = e.target.selectionStart;
    //    var end = e.target.selectionEnd;
    //    e.target.value = e.target.value.toUpperCase();
    //    e.target.setSelectionRange(start, end);
    //});
</script>