﻿@{
    ViewBag.Title = "Form Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form Filter</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Filter Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Table Name <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("tblname", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessage("tblname", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Filter Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th> @* Index 0 *@
                                        <th>No.</th> @* Index 1 *@
                                        <th>Field Name</th> @* Index 3 *@
                                        <th>Label Name</th> @* Index 4 *@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="pull-right">
                        @{
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            if (ViewBag.action == "Update Data")
                            {
                                <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Colum Name Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Field Name</th>
                                    <th>Label Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });

        FillDetailData();
    })

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var bVal = false;
        if (table != null) {
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#tblname").attr("readonly", bVal);
    }

    $("#btnAddToList").click(function () {
        var tablename = $("#tblname").val();
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { tablename: tablename },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            '<input type="text" class="form-control" style="max-width: 150px" id="tblfield-' + i + '" name="tblfield-' + i + '" value="' + (val.tblfield == null ? "" : val.tblfield) + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="fieldlabel-' + i + '" name="fieldlabel-' + i + '" value="' + (val.fieldlabel == null ? "" : val.fieldlabel) + '">',
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var tblfield = table.$("#tblfield-" + val).val();
            var fieldlabel = table.$("#fieldlabel-" + val).val();

            if (!IsOnDtl(alldata.tblfield)) {
                var id = tbldtl.rows().data().length + 1;
                alldata.seq = id;
                alldata.tblfield = tblfield;
                alldata.fieldlabel = fieldlabel;

                tbldtl.row.add([
                    JSON.stringify(alldata),
                    id,
                    '<input type="text" class="form-control" style="max-width: 150px" id="tblfield-' + id + '" name="tblfield-' + id + '" value="' + (tblfield == null ? "" : tblfield) + '">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="fieldlabel-' + id + '" name="fieldlabel-' + id + '" value="' + (fieldlabel == null ? "" : fieldlabel) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
        });
        EnabledHeader();
    }

    function IsOnDtl(tblfield) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (tblfield == alldata.tblfield) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var tblfield = table.$("#tblfield-" + alldata.seq).val();
            var fieldlabel = table.$("#fieldlabel-" + alldata.seq).val();
            alldata.seq = i + 1;
            alldata.tblfield = (tblfield == null ? "" : tblfield);
            alldata.fieldlabel = (fieldlabel == null ? "" : fieldlabel);
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ tbl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            $.each(data, function (key, val) {
                table.row.add([
                    JSON.stringify(val),
                    val.seq,
                    '<input type="text" class="form-control" style="max-width: 150px" id="tblfield-' + val.seq + '" name="tblfield-' + val.seq + '" value="' + (val.tblfield == null ? "" : val.tblfield) + '">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="fieldlabel-' + val.seq + '" name="fieldlabel-' + val.seq + '" value="' + (val.fieldlabel == null ? "" : val.fieldlabel) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            });
            EnabledHeader();
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnDelete").click(function () {
        var tablename = $("#tblname").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, tablename: tablename },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>