﻿@model MIS_MAGNA_MVC.Models.tb_t_angsuran_refund_h

@{
    ViewBag.Title = "Refund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_angsuran_refund_uid)
                        @Html.HiddenFor(model => model.m_company_id)
                        @Html.HiddenFor(model => model.t_angsuran_refund_h_id)
                        @Html.HiddenFor(model => model.t_refund_id)
                        @Html.HiddenFor(model => model.t_promo_id)
                        @Html.HiddenFor(model => model.m_promo_id)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Refund <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_angsuran_refund_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Refund <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_angsuran_refund_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @onchange = "ChangeDate()" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Kartu <label class="text-red">*</label></label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.t_angsuran_refund_type, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="-- Pilih Kartu --", Value="0" },
                                                new SelectListItem { Text="Refund", Value="Refund" },
                                                new SelectListItem { Text="Promo", Value="Promo" },
                                            }, new { @class = "form-control select2", @onchange = "ChangeTypeKartu()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("t_refund_type_bayar", new List<SelectListItem>
                                        {
                                       new SelectListItem { Text="Angsuran", Value="Angsuran" }
                                        }, new { @class = "form-control select2", @readonly = "", @onchange = "ChangeData()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SPR</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("t_spr_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })<span class="input-group-btn"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal-spr" id="btnsearch_spr"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.t_spr_id)
                                        @Html.HiddenFor(model => model.t_spr_awal_id)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.m_cust_id)
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.HiddenFor(model => model.m_proyek_id)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit/Kavling</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.HiddenFor(model => model.m_item_id)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_type_unit_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Angsuran</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_refund_total_angsuran", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nominal Refund</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_refund_total_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Angsuran Refund/Bln</label>
                                        <div class="col-md-4">
                                            @Html.Editor("t_angsuran_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "resetDetail()" } })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_angsuran_refund_h_note, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_angsuran_refund_h_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // BAGIAN DETAIL
                    <div id="hide_detail">
                        <div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList"><b>Generate Angsuran</b></button>
                                    <button type="button" class="btn btn-danger" id="btnReset" style="display:none"><b>Reset Detail Data</b></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                if (Model.t_angsuran_refund_h_status == "In Process")
                                {
                                    <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                @*<button type="button" class="btn btn-success btn-md" id="btnPrintSI"><b>Print Nota</b></button>*@
                            }
                        </div>
                    </div>
                   
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>
    @* MODAL UNTUK SPR*@
    <div class="modal fade" id="modal-spr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Surat Pesanan Rumah</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSPR" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK SPR*@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 't_angsuran_refund_d_seq', name: 't_angsuran_refund_d_seq', title: 'No.' },
                { data: 't_angsuran_refund_due_date', name: 't_angsuran_refund_due_date', className: "text-right", title: 'Jatuh Tempo', render: function (data) { return moment(data).format("MM/DD/YYYY"); } },
                { data: 't_angsuran_refund_d_amt', name: 't_angsuran_refund_d_amt', title: 'Nominal', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_angsuran_refund_d_amt', ' money', '', "width:100px;"); } },
                { data: 't_angsuran_refund_d_status', name: 't_angsuran_refund_d_status', title: 'Status' },
                { data: 't_angsuran_refund_d_note', name: 't_angsuran_refund_d_note', title: 'Keterangan' },
                //{ data: 't_angsuran_refund_d_note', name: 't_angsuran_refund_d_note', title: 'Keterangan', render: function (data, type, row, cell) { return type != 'display' ? data : generatetexarea(data, 't_angsuran_refund_d_note', cell.row, '', 'maxlength="100"', ""); } },
            ]
        });

        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalSPR = $("#tblModalSPR").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 't_spr_date', name: 't_spr_date', title: 'Tanggal' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Konsumen' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit/Kavling' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
            ],
            order: [],
        });
        tblModalSPR.on("draw", function () {
            $('#tblModalSPR .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalSPR .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalSPR .select2').select2({ theme: 'bootstrap' });
        });

        if ($("#action").val() == "Update Data") { FillDetailData(); $('#btnReset').show(); $('#btnAddToList').hide(); }
        //ChangeTypeKartu();
    });

    function ChangeTypeKartu() { ChangeData(); ChangeDate(); }

    function ChangeData() {
        $("#t_spr_id").val(0); $("#t_spr_awal_id").val(0); $("#t_spr_no").val("");
        $("#m_cust_id").val(0); $("#m_cust_name").val(""); $("#m_proyek_id").val(0);
        $("#m_proyek_name").val(""); $("#m_item_id").val(0); $("#t_promo_id").val(0);
        $("#m_promo_id").val(0); $("#m_item_name").val(""); $("#m_type_unit_name").val("");
        $("#t_refund_total_angsuran").val(0); $("#t_refund_total_amt").val(0);
        $("#t_angsuran_amt").val(0); tbl_dtl.clear().draw();
        $('#btnReset').hide(); $('#btnAddToList').show();
    }

    function resetDetail() { $('#btnAddToList').click(); }

    function BlurDataTable($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
    }

    function FillDetailData() {
        var t_angsuran_refund_h_id = $('#t_angsuran_refund_h_id').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { t_angsuran_refund_h_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.tbl.length; i++) {
                        data.tbl[i].t_angsuran_refund_due_date = moment(data.tbl[i].t_angsuran_refund_due_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function ChangeDate() {
        var param = GetFilterData();
        $.ajax({
            url: "@(Url.Action("GenerateNo"))",
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) { $('#t_angsuran_refund_no').val(data); },
            error: function (err) { swal('', err.responseText, 'error'); }
        });
    }

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function GetFilterData() {
        var data = {
            t_spr_id: $('#t_spr_id').val(),
            t_angsuran_refund_date: $("#t_angsuran_refund_date").val(),
            t_refund_total_angsuran: parseInt($("#t_refund_total_angsuran").val()),
            t_angsuran_amt: parseFloat($("#t_angsuran_amt").val()),
            t_refund_type_bayar: $("#t_refund_type_bayar").val(),
            t_refund_amt: tRound($("#t_refund_total_amt").val(), 0),
            t_angsuran_refund_type: $("#t_angsuran_refund_type").val()
        };
        return data;
    }

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) { BlurDataTable($(this), tbl_dtl); e.preventDefault(); });

    $("#btnsearch_spr").click(function () {
        var param = GetFilterData();
        if (param.t_angsuran_refund_type == "0") { Swal('Pilih Tipe Kartu terlebih dahulu!', '', 'warning'); return false; }
        tblModalSPR.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataSPR"))",
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalSPR.rows.add(data.tbl).draw();
                tblModalSPR.columns.adjust().draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalSPR").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalSPR.row($tr).data();
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#t_spr_no").val(alldata.t_spr_no);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_promo_id").val(alldata.m_promo_id);
        $("#t_promo_id").val(alldata.t_promo_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_type_unit_name").val(alldata.m_type_unit_name);
        $("#t_refund_total_angsuran").val(alldata.t_refund_total_angsuran);
        $("#t_refund_total_amt").val(tRound(alldata.t_refund_total_amt, 0));
        $("#t_refund_id").val(alldata.t_refund_id);
        var angsuran = alldata.t_refund_total_amt / alldata.t_refund_total_angsuran;
        $("#t_angsuran_amt").val(tRound(angsuran, 0));
        $('#modal-spr').modal('hide');
    });

    $("#btnAddToList").click(function () {
        var param = GetFilterData();
        if (param.t_spr_id == 0) { Swal('Pilih Nama Data SPR terlebih dahulu!', '', 'warning'); return false; }
        tbl_dtl.clear().draw();
        $.ajax({
            url:  "@(Url.Action("GetDataDetails"))",
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].t_angsuran_refund_due_date = moment(data.tbl[i].t_angsuran_refund_due_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl).draw();
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
        $('#btnReset').show(); $('#btnAddToList').hide();
    });

    $("#btnReset").click(function () {
         //var table = $('#tbl_dtl').DataTable();
         tbl_dtl.clear().draw();
         $('#btnReset').hide(); $('#btnAddToList').show();
     });

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var param = GetFilterData(); var mst = $('form').serializeArray();
        var action = $('#action').val(); var dtDtl = []; var tbl = {};
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) { var alldata = tbl_dtl.row(i).data(); dtDtl.push(alldata); }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, action: action, param: param },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {location.replace("@(Url.Action("Index"))"); }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#t_angsuran_refund_h_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#t_angsuran_refund_h_status").val("In Process");
            }
        });
    });

    $("#btnDelete").click(function () {
        var id = $("#t_angsuran_refund_uid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal('Deleted!', 'Data has been deleted!', 'success');
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal('Delete data failed!', data.msg, 'error');
                    }
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_angsuran_refund_h_status").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });
</script>




























