﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="logo-icon" sizes="76x76" href="~/Images/fav.png">
    <link rel="icon" type="image/png" href="~/Images/fav.png">
    <title>@ViewBag.Title | PT.BERSAMA UKHUWAH MEMBANGUN INDONESIA</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
    <style>
        select[readonly].select2 + .select2-container {
            pointer-events: none;
            touch-action: none;
        }

        select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
            background: #eee;
            box-shadow: none;
        }

        /*Bootstrap button outline override*/
        .btn-outline {
            background-color: transparent;
            color: inherit;
            transition: all .5s;
        }

        .btn-primary.btn-outline {
            border-color: #428bca;
            color: #428bca;
        }

        .btn-success.btn-outline {
            border-color: #5cb85c;
            color: #5cb85c;
        }

        .btn-info.btn-outline {
            border-color: #5bc0de;
            color: #5bc0de;
        }

        .btn-warning.btn-outline {
            border-color: #f0ad4e;
            color: #f0ad4e;
        }

        .btn-danger.btn-outline {
            border-color: #d9534f;
            color: #d9534f;
        }

            .btn-primary.btn-outline:hover,
            .btn-success.btn-outline:hover,
            .btn-info.btn-outline:hover,
            .btn-warning.btn-outline:hover,
            .btn-danger.btn-outline:hover {
                color: #fff;
            }

        #table-scroll {
            height: 400px;
            overflow: auto;
            margin-top: 20px;
        }
        /*select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
            display: none;
        }*/
    
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 14px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    @{
        var url = Request.RawUrl;
        MIS_MAGNA_MVC.Models.QL_MIS_MAGNAEntities db = new MIS_MAGNA_MVC.Models.QL_MIS_MAGNAEntities();
        var PreviousUrl = "";
        if (System.Web.HttpContext.Current.Request.UrlReferrer != null)
        {
            PreviousUrl = System.Web.HttpContext.Current.Request.UrlReferrer.AbsolutePath.ToString();
        }
        string UserID = ((Session["UserID"] == null) ? "-" : Session["UserID"].ToString().ToUpper());
        string UserGuid = ((Session["UserGuid"] == null) ? "-" : Session["UserGuid"].ToString());
        string MemberName = ((Session["UserName"] == null) ? "-" : Session["UserName"].ToString().ToUpper());
        string MemberImage = "~/Images/user2-160x160.jpg";
        DateTime ServerTime = db.Database.SqlQuery<DateTime>("select getdate()").FirstOrDefault();
    }
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header fh-fixedHeader">
            <!-- Logo -->
            <a href="~/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini"><img src="~/Images/fav.png" width="30" /></span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><img src="~/Images/fav.png" width="223"></span>*@
                <span style="color:darkblue"><b>B U M I</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" title="Server Time">
                                <span id="servertime"></span>
                            </a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="notiftotal"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" id="notifheader"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="notiflist"></ul>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content(MemberImage)" class="user-image" alt="User Image" />
                                <span class="hidden-xs">@(UserID)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header" style="min-height: 175px;height: auto;">
                                    <img src="@Url.Content(MemberImage)" class="img-circle" alt="User Image" />
                                    <p>
                                        @(MemberName)
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Profile/Update/@(UserGuid)" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Profile/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content(MemberImage)" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@(MemberName)</p>
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                @Html.Partial("~/Views/Shared/_Menu.cshtml");
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <div id="callBackModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="callBackModalContent">
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                        <h4 class="modal-title text-bold"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        @* MODAL UNTUK SHOW COA *@
        <div class="modal fade" id="modal-showcoa">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="col-md-6">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 20%;"><b>Show COA Posting</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-right">Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center"></div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK SHOW COA *@
        <div class="modal fade" id="modal-login" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Session over, please login again!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("userIdPopupLogin", @UserID, new { @class = "form-control", @placeholder = "User ID", @readonly = "" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBox("userPasswordPopupLogin", "", new { @class = "form-control", @placeholder = "Password" }) @*Type = Text biar ndk auto fill password*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary btn-md" id="btnLoginPopUpLogin">Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <!-- Back To Top-->
        <button onclick="topFunction()" id="scroll" title="Go to top">Top</button>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Bersama Ukhuwah Membangun Indonesia
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="https://teambb.com">Team BB Web Developer</a>.</strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <div id="domMessage" style="display: none;">
        <h1><span class="fa fa-spinner fa-spin"></span> Please wait...</h1>
    </div>

    <!-- REQUIRED JS SCRIPTS -->
    @Scripts.Render("~/Scripts/js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var domMessage = $('#domMessage');
        $(document).ajaxStop($.unblockUI);

        var ajaxCounter = 0;
        $(document).ajaxSend(function (evt, request, settings) {
            ajaxCounter++;
            if (settings.url != "@(Url.Action("getListDataTable"))") {
                $.blockUI({
                    baseZ: 1500,
                    message: domMessage
                })
            }
        });
        $(document).ajaxComplete(function (evt, request, settings) {
            ajaxCounter--;
            if(ajaxCounter == 0) $.unblockUI
        });

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });

            tblModalShowCOA = $("#tblModalShowCOA").DataTable({
                "deferRender": true,
                "paging": false,
                "bFilter": false,
                "ordering": false,
                "bInfo": false,
                responsive: true,
                "columns": [
                    { data: 'acctgcode', name: 'acctgcode', title: 'Kode' },
                    { data: 'acctgdesc', name: 'acctgdesc', title: 'Akun' },
                    { data: 'acctgdebet', name: 'acctgdebet', title: 'Debet', className: "text-right", render: function (data) { return '<span class="money">'+ data +'</span>'; } },
                    { data: 'acctgcredit', name: 'acctgcredit', title: 'Credit', className: "text-right", render: function (data) { return '<span class="money">'+ data +'</span>'; } },
                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    // Total over all pages
                    acctgdebet = api.column('acctgdebet:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                    acctgcredit = api.column('acctgcredit:name').data().reduce(function (a, b) { return tNumber(a) + tNumber(b); }, 0);
                    // Update footer
                    $(api.column('acctgdebet:name').footer()).html(addCommas(tRound(acctgdebet, 2)));
                    $(api.column('acctgcredit:name').footer()).html(addCommas(tRound(acctgcredit, 2)));
                },
                "order": []
            });
            tblModalShowCOA.on("draw", function () {
                $('#tblModalShowCOA .money').inputmask('decimal', {
                    autoGroup: true,
                    groupSeparator: ",",
                    removeMaskOnSubmit: true,
                    autoUnmask: true
                });
            });
        });
    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({ theme: 'bootstrap' });
            //Datemask dd/mm/yyyy
            $('.datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
            //Datemask2 mm/dd/yyyy
            $('.datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' });
            //Money Euro
            $('[data-mask]').inputmask();
            $('.money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            //NPWP Mask dd/mm/yyyy
            $('.npwpmask').inputmask('99.999.999.9-999.999', { 'placeholder': '__.___.___._-___.___' });
            //Date range picker
            $('.daterangepicker').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
            //Date picker
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            });
			$('.datepicker_from').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            }).datepicker('setDate', moment().format('MM/01/YYYY'));
			$('.datepicker_to').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            }).datepicker('setDate', moment().format('MM/DD/YYYY'));
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
            //Timepicker
            $('.timepicker').inputmask("hh:mm", { placeholder: "HH:MM", hourFormat: "24" });
            //$('.timepicker').timepicker({ showInputs: true, showMeridian: false });
            var OpenAuthorizationPopup = @Html.Raw(Json.Encode(this.ViewData["OpenAuthorizationPopup"]));
            if (OpenAuthorizationPopup == "Open")
                $('#modal-login').modal('show');
        })

        var pleaseWaitDialog;
        pleaseWaitDialog = pleaseWaitDialog || (function () {
            var pleaseWaitDiv = $('<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1>Please wait while we are generating your report...</h1></div><div class="modal-body"><div class="progress active"><div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 100%"></div></div></div></div></div></div>');
            return {
                show: function () {
                    pleaseWaitDiv.modal();
                },
                hide: function () {
                    pleaseWaitDiv.modal('hide');
                },

            };
        })();
    </script>

    <script>
        var nIntervId;
        var d = new Date("@(ServerTime.ToString())");

        function startTimer() {
            nIntervId = setInterval(setTimer, 1000);
        }

        function setTimer() {
            d = moment(d).add(1, 's').toDate();
            $("#servertime").html(moment(d).format('DD MMM YYYY HH:mm:ss'))
        }

        function stopTimer() {
            clearInterval(nIntervId);
        }

        function getNotification() {
            var notiftotal = $("#notiftotal");
            var notifheader = $("#notifheader");
            var notiflist = $("#notiflist");
            var UserID = "@(UserID)";
            notiftotal.removeClass("label-warning");
            notiftotal.html('<i class="fa fa-refresh fa-spin"></i>');
            $.ajax({
                url: "@(Url.Action("GetNotification", "Home"))",
                data: { UserID: UserID },
                cache: false,
                type: "POST",
                success: function (data) {
                    var listnotif = "";
                    var total = 0;
                    $.each(data, function (key, val) {
                        listnotif += '<li><a href="' + val.notiflink + '" title="'+ val.notifmsg +'"><i class="' + val.notifcss + '"></i> ' + val.notifmsg + '</a></li>';
                        total += val.notifqty;
                    });
                    notiftotal.html(total);
                    if (total == 0) {
                        notiftotal.hide();
                    } else {
                        notiftotal.show();
                    }
                    notifheader.html(total + " Notification");
                    notiflist.html(listnotif);
                    if ($("#divnotiflistapp").length > 0) {
                        SetNotification(data);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    console.dir(xhr);
                }
            });
        }

        $(document).ready(function () {
            startTimer();
            getNotification();
            $('.datatable').DataTable();
        });
    </script>

    <script>
        $('.datepicker_from').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $('.datepicker_to').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        function toDate(toDate) {
            if (toDate == null) {
                return "";
            }
            var myDate_arr = toDate.split("/");
            var myDate = myDate_arr[1] + '/' + myDate_arr[0] + '/' + myDate_arr[2];
            return myDate;
        }

        function addCommas(x) {
            if (x == null || x.length == 0) { return '' };
            x = tNumber(x);
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }
        function removeCommas(sStr) {
            sStr = sStr.toString().replace(/\,/g, '');
            return sStr
        }
        function tRound(val, r) {
            return Math.round(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tFloor(val, r) {
            val = tNumber(val);
            return Math.floor(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tCeil(val, r) {
            val = tNumber(val);
            return Math.ceil(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tNumber(val) {
            if (val == null)
                val = 0;
            val = parseFloat(val.toString().replace(/\,/g, ''));
            if (isNaN(val))
                val = 0;
            return val;
        }
        function tUpperCase(str) {
            var splitStr = str.split('');
            for (var i = 0; i < splitStr.length; i++) {
                if((splitStr[i]).match(/^[A-Za-z]+$/)){
                    splitStr[i] = splitStr[i].toUpperCase();
                }
            }
            return splitStr.join('');
        }
        // copy object and disconect reference
        function copyObject(obj) {
            if (Array.isArray(obj)) {
                var n_ar = []
                $.each(obj, function (key, val) {
                    if (typeof val === 'object' && val !== null && !(val instanceof Date)) n_ar.push(copyObject(val))
                    else n_ar.push(val)
                })
                return n_ar
            }
            var n_obj = {}
            $.each(obj, function (key, val) {
                if (typeof val === 'object' && val !== null && !(val instanceof Date)) n_obj[key] = copyObject(val)
                else n_obj[key] = val
            })
            return n_obj
        }

        $(document).ready(function () {
            $('div.dataTables_filter input').focus();
            $('.modal').on('shown.bs.modal', function () {
                $('div.dataTables_filter input').focus();
            });
            $('.modal').on("hidden.bs.modal", function (e) { //fire on closing modal box
                if ($('.modal:visible').length) { // check whether parent modal is opend after child modal close
                    $('body').addClass('modal-open'); // if open mean length is 1 then add a bootstrap css class to body of the page
                }
            });
            $(document).on('keyup', '.uppercase', function (e) {
                var start = e.target.selectionStart;
                var end = e.target.selectionEnd;
                e.target.value = tUpperCase(e.target.value);
                e.target.setSelectionRange(start, end);
            });

            $(".numberonly").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+V
                    (e.keyCode == 86 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $(".numberonly").keyup(function (e) {
                // Clear String after paste
                if ((e.keyCode == 86 || (e.ctrlKey === true || e.metaKey === true))) {
                    var $this = $(this)
                    if ($this.val() != $this.val().replace(/[^\d\.]/g, "")) {
                        $this.val($this.val().replace(/[^\d\.]/g, ""));
                    }
                }
            });

            $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $(".allownumericwithNegative").on("keypress keyup blur", function (event) {
                $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
                if ((event.which != 45 || $(this).val().indexOf('-') != -1) && (event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $('.company_hs').toggle(false);
        });

        function SetDataToModalTable(tablename, data) {
            var table = $(tablename).DataTable();
            table.destroy();
            $(tablename).empty();

            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            var total = 0;
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
                total++;
            });

            if (total > 0) {
                table = $(tablename).DataTable({
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }],
                    "select": {
                        "style": 'multi'
                    },
                    "order": [[1, 'asc']]
                });
            }
            return total;
        }

        //automatic scroll fixedHeader Datatable
        $('div.col-md-12').scroll(function() {
            if ( $(".fixedHeader-floating").is(":visible") ) {
                $(".fixedHeader-floating").parent().css('margin-left', -$(this).scrollLeft());
            }
        });
        $(document).on('keypress', 'input', function(e) {
            if(e.keyCode == 13 && e.target.type !== 'submit') {
                e.preventDefault();
                /* FOCUS NEXT ELEMENT */
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);
                if (idx == inputs.length - 1) inputs[0].focus()
                else if ($(inputs[idx + 1]).is( "input:text" )) inputs[idx + 1].select();
                else inputs[idx + 1].focus();
                return false
            }
        });

        $('#modal-login').on('shown.bs.modal', function () {
            $('#userPasswordPopupLogin').focus();
            $('#userPasswordPopupLogin').attr('type','password');
        });

        $("#btnLoginPopUpLogin").click(function () {
            var userPasswordPopupLogin = $('#userPasswordPopupLogin').val();
            if (userPasswordPopupLogin == "" || userPasswordPopupLogin == null)
                swal('', 'Please fill password!', 'warning');
            else
            {
                var userIdPopupLogin = $('#userIdPopupLogin').val();
                $.ajax({
                    url: "@(Url.Action("LoginAgain", "Profile"))",
                    data: { userid: userIdPopupLogin, password: userPasswordPopupLogin },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "") {
                        $('#userPasswordPopupLogin').val('');
                        $('#modal-login').modal('hide');
                    } else
                        swal('', data.result, 'error');
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }
        });

        $("#userPasswordPopupLogin").on("keypress", function (event) {
            if (event.which == 13) {
                $("#btnLoginPopUpLogin").click();
                return false;
            }
        });

        $("#btnSave, #btnSaveClose, #btnSendForApproval, #btnPost, #btnPosting, #btnApprove, #btnRevise, #btnReject").click(function () {
            var res = true;
            $.ajax({url: "@(Url.Action("IsSessionExpired", "Profile"))", async: false, success: function (result) {
                if (result == true)
                    res = false;
            }});
            if (res == false)
                $('#modal-login').modal('show');
            return res;
        });

        $.date = function(dateObject, dateFormat) {
            var d = new Date(dateObject);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            if (day < 10) day = "0" + day;
            if (month < 10) month = "0" + month;
            var date = month + "/" + day + "/" + year;
            if (dateFormat == "dd/MM/yyyy") date = day + "/" + month + "/" + year;

            return date;
        };

        function ShowCOAPosting(nomor, tablename, tableoid) {
            tblModalShowCOA.clear().draw();
            $.ajax({
                url: "@(Url.Action("ShowCOAPosting", "Home"))",
                data: { nomor: nomor, tablename: tablename, tableoid: tableoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    $.each(data, function (key, val) {
                        rows.push(val)
                    });
                    tblModalShowCOA.rows.add(rows).draw();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
</body>

</html>
