﻿@{ 
    List<MIS_MAGNA_MVC.Models.RoleDetail> allmenus = new List<MIS_MAGNA_MVC.Models.RoleDetail>();
    var url = Request.RawUrl;
    if (Session["Role"] != null)
    {
        allmenus = (List<MIS_MAGNA_MVC.Models.RoleDetail>)Session["Role"];
    }

    List<string> moduls = new List<string>() { "SETUP", "PENJUALAN", "INVENTORY", "ACCOUNTING", "KEUANGAN", "KASIR", "PENGAJUAN", "REFUND", "ADMINISTRATOR" };
    List<string> types = new List<string>() { "MASTER", "TRANSAKSI","TRANSACTION", "GENERATE", "PEMBAYARAN", "REPORT" };

    string[] iconmodules = { "fa fa-wrench", "fa fa-briefcase", "fa fa-shopping-cart", "fa fa-database", "fa fa-industry", "fa fa-balance-scale", "fa fa-cubes", "fa fa-car", "fa fa-clone" };
    string[] icontypes = { "fa fa-book", "fa fa-archive", "fa fa-file" };
}
<div class="sidebar-form">
    <div class="input-group">
        @*<input type="text" class="form-control" id="searchInput" placeholder="Cari Menu" readonly onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly'); this.blur(); this.focus(); }">*@
        @*<input type="text" class="form-control" id="searchInput" placeholder="Cari Menu">*@
        <textarea rows="1" class="form-control" id="searchInput" placeholder="Cari Menu" style="resize:none"></textarea>
        <span class="input-group-btn">
            <button type="button" name="clear" class="btn btn-flat" onclick="document.getElementById('searchInput').value = ''; findMenu(''); document.getElementById('searchInput').focus();">
                <i id="i_search" class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <li class="@((url.Contains("/Home"))?"active":"")">
        <a href="~/Home/Index">
            <i class="fa fa-envelope-o"></i><span>NOTIFICATION</span>
        </a>
    </li>
    @*<li class="@((url.Contains("/Dashboard"))?"active":"")">
        <a href="~/Dashboard/Index">
            <i class="fa fa-dashboard"></i><span>DASHBOARD</span>
        </a>
    </li>*@
    @{
        var ActControler = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var ActAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
        var isModulActive = "";
        var isModulExists = "";
        var isTypeActive = "";
        var isTypeExists = "";
        var isMenuActive = "";
        var seq = 0;

        foreach (var modul in moduls)
        {
            isModulActive = "";
            isModulExists = "";
            if (allmenus.Where(w => w.formmodule == modul).Count() > 0)
            {
                isModulExists = "Exists";
                if (allmenus.Where(w => w.formmodule == modul && ActControler.ToLower() == w.formaddress.ToLower() && ActAction.ToLower() == w.formmenu.ToLower()).Count() > 0)
                {
                    isModulActive = "active";
                }
            }

            if (isModulExists == "Exists")
            {
                @:
                <li class="treeview @(isModulActive)">
                    <a href="#">
                        <i class="@(iconmodules[seq])"></i> <span>@(modul)</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @{
                            foreach (var type in types)
                            {
                                isTypeActive = "";
                                isTypeExists = "";
                                if (allmenus.Where(w => w.formmodule == modul && w.formtype == type).Count() > 0)
                                {
                                    isTypeExists = "Exists";
                                    if (allmenus.Where(w => w.formmodule == modul && w.formtype == type && ActControler.ToLower() == w.formaddress.ToLower() && ActAction.ToLower() == w.formmenu.ToLower()).Count() > 0)
                                    {
                                        isTypeActive = "active";
                                    }
                                }
                                if (isTypeExists == "Exists")
                                {
                                    @:
                                    <li class="treeview @(isTypeActive)">
                                        <a href="#">
                                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:icontypes[2])"></i> <span>@(type)</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @{
                                                foreach (var menu in allmenus.Where(w => w.formmodule == modul && w.formtype == type).OrderBy(o => o.formnumber))
                                                {
                                                    isMenuActive = "";
                                                    if (ActControler.ToLower() == menu.formaddress.ToLower() && ActAction.ToLower() == menu.formmenu.ToLower())
                                                    {
                                                        isMenuActive = "active";
                                                    }
                                                    @:
                                                    <li class="@(isMenuActive)">
                                                        <a href="@(Url.Action(menu.formmenu, menu.formaddress))">
                                                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:icontypes[2])"></i> @(menu.formname)
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
            seq++;
        }
    }
</ul>

<script>
    var isAllMenuOpen = 0;
    document.getElementById('searchInput').addEventListener('input', function () {
        var searchValue = this.value.toLowerCase();
        findMenu(searchValue);
    });
    function findMenu(searchValue) {
        var menuItems = document.querySelectorAll('.sidebar-menu li');

        for (var i = 0; i < menuItems.length; i++) {
            var menuItemText = menuItems[i].textContent.toLowerCase();

            if (menuItems[i].classList.contains("header")) {
                //
            } else if (menuItemText.includes(searchValue)) {
                menuItems[i].style.display = 'block';
            } else {
                menuItems[i].style.display = 'none';
            }
        }

        var menuItemsWithSubmenu = document.querySelectorAll('.sidebar-menu .treeview');
        var menuItemsWithSubmenu2 = document.querySelectorAll('.treeview-menu');

        if (searchValue != '') {
            document.getElementById('i_search').classList.remove('fa-search');
            document.getElementById('i_search').classList.add('fa-close');
            if (isAllMenuOpen == 0) {
                menuItemsWithSubmenu.forEach(function (menuItem) {
                    menuItem.classList.add('menu-open');
                });
                menuItemsWithSubmenu2.forEach(function (menuItem) {
                    menuItem.style.display = 'block';
                });
                isAllMenuOpen = 1;
            }
        } else {
            document.getElementById('i_search').classList.add('fa-search');
            document.getElementById('i_search').classList.remove('fa-close');
            isAllMenuOpen = 0;
            menuItemsWithSubmenu.forEach(function (menuItem) {
                menuItem.classList.remove('menu-open');
            });
            menuItemsWithSubmenu2.forEach(function (menuItem) {
                menuItem.style.display = 'none';
            });
        }
    }
</script>