﻿
@{
    ViewBag.Title = "Laporan Akunting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("ViewReport", "ViewReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row" id="divforhiderow">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("ddltype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="GENERAL JURNAL", Value="GJ" },
                                                new SelectListItem { Text="GENERAL LEDGER", Value="GL" },
                                                new SelectListItem { Text="BUKU BESAR", Value="BUKUBESAR" },
                                                new SelectListItem { Text="TRIAL BALANCE", Value="TB" },
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Periode</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("periodstart", new { htmlAttributes = new { @class = "form-control datepicker_from datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border">-</span>@Html.Editor("periodend", new { htmlAttributes = new { @class = "form-control datepicker_to datemask2", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("ddlproyek", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Chart Of Account</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("filterakun", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcoa" class="btn btn-link" onclick="GetModalData('akun')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row div_hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Transaksi</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("filterno", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcoa" class="btn btn-link" onclick="GetModalData('no')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md" onclick="ShowReport('')"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md" onclick="ShowReport('PDF')"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md" onclick="ShowReport('XLS')"><b>Export to Excel</b></button>
                        <a href="@Url.Action("ReportAcctg")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    <div class="modal fade" id="modal-filter">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-filter-title"></h4>
                    @Html.Hidden("total-data")
                    @Html.Hidden("modal-type")
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFilter" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilter()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript"> 
    $(document).ready(function () {
        $('.div_hide').show();
        $("#ddltype").change(function () {
            if ($('#ddltype option:selected').val() != "TB" ) $('.div_hide').show();
            else $('.div_hide').hide();
        });
    });

    function GetFilterData() {
        var data = {
            ddltype: $('#ddltype option:selected').val(),
            ddlproyek: $('#ddlproyek option:selected').val(),
            periodstart: $('#periodstart').val(),
            periodend: $('#periodend').val(),
            filterakun: $('#filterakun').val(),
            filterno: $('#filterno').val(),
        };
        return data;
    }

    function GetModalData(modaltype) {
        var param = GetFilterData();
        $('#modal-type').val(modaltype);
        if (modaltype == "akun") $('#modal-filter-title').html('List COA');
        if (modaltype == "no") $('#modal-filter-title').html('List Transaksi');
        $.ajax({
            url: "@(Url.Action("GetModalData"))",
            data: { param: param, modaltype: modaltype },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var total = SetDataToModalTable('#tblModalFilter', data);
                    $('#total-data').val(total);
                    $('#modal-filter').modal('show');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function AddToFilter() {
        if (parseInt($('#total-data').val()) > 0) {
            var result = $("#filter" + $('#modal-type').val()).val();
            if (result != "")
                result += ";";
            var table = $('#tblModalFilter').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                if (!result.includes(data[1]))
                    result += data[1] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#filter" + $('#modal-type').val()).val(result);
        }
    }

    function ShowReport(reporttype) {
        var param = GetFilterData();
        $.ajax({
            url: "@(Url.Action("ViewReport"))",
            data: { param: param, reporttype: reporttype },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewerNew.aspx")" + "?report=" + data.rpt_id + "&rptname=" + data.rptname + "&rpttype=" + reporttype + "");
                if (reporttype == '')
                    pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>