﻿@model MIS_MAGNA_MVC.Models.tb_r_urgent_h

@{
    ViewBag.Title = "Piutang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.r_urgent_h_uid)
                        @Html.HiddenFor(model => model.r_urgent_h_id)
                        @Html.HiddenFor(model => model.created_at)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.last_edited_at)
                        @Html.HiddenFor(model => model.last_edited_by)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.m_cust_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.m_cust_phone, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-8">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.HiddenFor(model => model.m_proyek_id)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit/Kavling</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.m_unit_name, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.m_unit_type, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Harga SPK</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Angsuran Terbayar</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_accum_amt_temp, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Terbayar</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_accum_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            @Html.Hidden("r_urgent_d_pay_amt")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Uang Tanda Jadi</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_utj_amt_temp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Uang Muka Terbayar</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_um_amt_temp, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Piutang</label>
                                        <div class="col-md-5">
                                            @Html.Editor("r_urgent_h_sisa_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelebihan Tanah</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_lebih_tanah_temp, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Faktur</label>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.r_urgent_h_faktur_no, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.r_urgent_h_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.r_urgent_h_status } })
                                            @Html.HiddenFor(model => model.r_urgent_h_pay_status)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList"><b>Add To List</b></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.last_edited_by)) On @(Html.DisplayFor(m => m.last_edited_at))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.r_urgent_h_status == "Post")
                            {
                                <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                            }
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            <button type="button" class="btn btn-md btn-primary" id="btnPrint"><i class="fa fa-print"></i></button>

                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script language="javascript" type="text/javascript">
    var tbl_dtl = null;
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'r_urgent_d_seq', name: 'r_urgent_d_seq', title: 'No.' },
                { data: 'r_urgent_d_pay_type', name: 'r_urgent_d_pay_type', title: 'Tipe Pembayaran', render: function (data, type, row) { return generateinput(data, 'r_urgent_d_pay_type', '', '', "max-width:150px;"); } },
                { data: 'r_urgent_d_pay_date', name: 'r_urgent_d_pay_date', title: 'Tgl. Pembayaran', render: function (data, type, row) { return generateinput(data, 'r_urgent_d_pay_date', ' datepicker datemask2', 'onchange="date_change(this)"', "max-width:80px;"); } },
                { data: 'r_urgent_d_transfer_date', name: 'r_urgent_d_transfer_date', title: 'Tgl. Transfer', render: function (data, type, row) { return generateinput(data, 'r_urgent_d_transfer_date', ' datepicker datemask2', 'onchange="date_change2(this)"', "max-width:80px;"); } },
                { data: 'r_urgent_d_pay_amt', name: 'r_urgent_d_pay_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 'r_urgent_d_pay_amt', ' money', '', "max-width:200px;"); } },
                { data: 'r_urgent_d_pay_note', name: 'r_urgent_d_pay_note', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generatetextarea(data, 'r_urgent_d_pay_note', '', 'maxlength="100"'); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
                { data: 'r_urgent_d_seq', name: 'r_urgent_d_seq', title: 'No.', orderable: false, checkboxes: { selectRow: false } },
            ],
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        if ($("#action").val() == "Update Data") {
            FillDetailData();
        }
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, addAttr, dt_list) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dt_list, function (key, val) {
            var selected = "";
            if (val.Value == value) selected = ' selected'
            option += "<option value=\'" + val.Value + "\'" + selected + " data_val=\'" + (val) + "\'>" + val.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };
    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };
    function date_change2($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return true;
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'r_urgent_d_seq:name').data(i + 1).invalidate();
        }
        CalcPayAmt();
        e.preventDefault();
    });
    $("#btnAddToList").click(function () {
        if ($("#r_urgent_h_faktur_no").val() == "") {
            Swal({ title: "WARNING!", text: "Silahkan isi No. Faktur!", type: "warning" })
            return false;
        }
        var obj = [];
        var servertime = "@MIS_MAGNA_MVC.Controllers.ClassFunction.GetServerTime().ToString("MM/dd/yyyy")";
        obj = {
            r_urgent_d_seq: tbl_dtl.rows().data().length + 1,
            r_urgent_d_pay_type: "",
            r_urgent_d_pay_date: servertime,
            r_urgent_d_transfer_date: servertime,
            r_urgent_d_pay_amt: 0,
            r_urgent_d_pay_note: "",
            r_urgent_d_pay_flag: "new",
            r_urgent_d_id: 0
        }
        tbl_dtl.row.add(obj).draw();
        tbl_dtl.columns.adjust().draw();
    });

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#r_urgent_h_id').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        data.tbl[i].r_urgent_d_transfer_date = moment(data.tbl[i].r_urgent_d_transfer_date).format("MM/DD/YYYY");
                        data.tbl[i].r_urgent_d_pay_date = moment(data.tbl[i].r_urgent_d_pay_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    CalcPayAmt();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function CalcPayAmt() {
        var r_urgent_d_pay_amt = 0;
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            r_urgent_d_pay_amt += alldata.r_urgent_d_pay_amt;
        }
        var r_urgent_h_amt = tNumber($("#r_urgent_h_amt").val());
        var r_urgent_h_accum_amt = tNumber($("#r_urgent_h_accum_amt").val()) + r_urgent_d_pay_amt;
        $("#r_urgent_h_accum_amt").val(r_urgent_h_accum_amt);
        $("#r_urgent_h_sisa_amt").val(r_urgent_h_amt - r_urgent_h_accum_amt);
    }

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        CalcPayAmt();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
        $td.find('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    $("#btnPrint").click(function (){
        var ids = "";
        var rowsel = tbl_dtl.column(7).checkboxes.selected();
        if (!rowsel.length)
            return Swal('', 'Please select Data first!', 'warning');
        $.each(rowsel, function (key, val) {
            var alldata = tbl_dtl.row(val - 1).data();
            if (alldata.r_urgent_d_pay_flag != "new") {
                ids += alldata.r_urgent_d_id + ", ";
            }
        });
        if (ids != "") window.open("@Url.Action("PrintReport")?ids=" + ids.substring(0, ids.length - 2) + "");
    });

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        //tbl.t_usage_bbm_date = toDate($('#t_usage_bbm_date').val());
        var action = $('#action').val();
        var closing = $('#closing').val();

        var r_urgent_h_id = tbl.r_urgent_h_id;
        var r_urgent_h_accum_amt_temp = tbl.r_urgent_h_accum_amt_temp;
        var r_urgent_h_utj_amt_temp = tbl.r_urgent_h_utj_amt_temp;
        var r_urgent_h_um_amt_temp = tbl.r_urgent_h_um_amt_temp;
        var r_urgent_h_faktur_no = tbl.r_urgent_h_faktur_no;
        var r_urgent_h_lebih_tanah_temp = tbl.r_urgent_h_lebih_tanah_temp;

        var dtl = [];
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, r_urgent_h_id, r_urgent_h_accum_amt_temp, r_urgent_h_utj_amt_temp, r_urgent_h_um_amt_temp, r_urgent_h_lebih_tanah_temp, r_urgent_h_faktur_no, dtl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data") location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                            else location.replace("@(Url.Action("Form"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#r_urgent_h_status").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var id = $("#r_urgent_h_id").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        Swal({
        title: 'Are you sure to DELETE this data?',
        text: "Deleted data can't be returned!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success' )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning' )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });
</script>




























