﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<section class="content-header">
    <h1> Notification </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar SPR Ganti Unit </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tbl_spr" class="table table-bordered table-hover table-sm" style="width: 100%;"></table>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar Customer (Buyer) Ganti Nama </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" id="btnBox" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tbl_cust" class="table table-bordered table-hover table-sm" style="width: 100%;"></table>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar Pemasukan Harian </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus">hahah</i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tbl_kbm" class="table table-bordered table-hover table-sm" style="width: 100%;"></table>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        tbl_kbm = $('#tbl_kbm').DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.' },
                { data: "r_kb_date", name: "r_kb_date", title: 'Tgl. KBM', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit / Kavling' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Asal (Terima dari)' },
                { data: 'm_account_h_desc', name: 'm_account_h_desc', title: 'Tunai / Bank' },
                { data: 'r_cb_h_amt', name: 'r_cb_h_amt', title: 'Jumlah', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } }, 
                { data: 'r_kb_note', name: 'r_kb_note', title: 'Keterangan' },

            ],
            "order": []
        });
        tbl_kbm.on("draw", function () {
            $('#tbl_kbm .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_kbm .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_kbm .select2').select2({ theme: 'bootstrap' });
        });
        GetDataKBM();

        tbl_spr = $('#tbl_spr').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            "responsive": true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: "t_spr_date", name: "t_spr_date", title: 'Tgl. SPR', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
                { data: 'm_proyek_code', name: 'm_proyek_code', title: 'Proyek' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Customer' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit Baru' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe Unit Baru' },

                { data: 'm_item_old_name', name: 'm_item_old_name', title: 'Unit Lama' },
                { data: 't_spr_price', name: 't_spr_price', title: 'Harga SPR', className: "text-right", render: function (data) { return '<span class="money">' + data + '</span>' } },
                //{ data: 'r_kb_note', name: 'r_kb_note', title: 'Keterangan' }, 
            ],
            "order": []
        });
        tbl_spr.on("draw", function () {
            $('#tbl_spr .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_spr .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_spr .select2').select2({ theme: 'bootstrap' });
        });
        GetDataSPR();


        tbl_cust = $('#tbl_cust').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            "responsive": true,
            "columns": [
                { data: 'r_piutang_seq', name: 'r_piutang_seq', title: 'No.' },
                { data: "m_cust_name", name: "m_cust_name", title: 'Nama Baru', className: "text-left text-nowrap" },
                { data: "m_cust_old_name", name: "m_cust_old_name", title: 'Nama lama', className: "text-left text-nowrap" },
                { data: "m_cust_addr", name: "m_cust_addr", title: 'Alamat' }, 
                { data: "m_cust_gender", name: "m_cust_gender", title: 'Gender', className: "text-left text-nowrap" },
                { data: "last_edited_by", name: "last_edited_by", title: 'Di Edit Oleh', className: "text-left text-nowrap" },
                { data: "last_edited_at", name: "last_edited_at", title: 'Tgl. Edit', render: function (data, type, row) { return type != "display" ? data : moment(data).format('DD/MM/YYYY') } },
            ],
            "order": []
        });
        tbl_cust.on("draw", function () {
            $('#tbl_cust .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_cust .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_cust .select2').select2({ theme: 'bootstrap' });
        });
        GetDataCust("");
    }); 
</script> 

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script language="javascript" type="text/javascript">
        function GetDataKBM() {
           tbl_kbm.clear().draw();
           $.ajax({
                url: "@(Url.Action("GetDataKBM"))",
                data: { },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "") {
                        var rows = []
                        $.each(data.tbl, function (key, val) {
                            val.r_piutang_seq = key + 1;
                            rows.push(val);
                        });
                        tbl_kbm.rows.add(rows);
                        tbl_kbm.columns.adjust().draw();
                    }
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }
         
        $(function () {
            var chat = $.connection.chatHub; 
            chat.client.addNewMessageToPage = function (name, ref_code) {
                if (name == "customer") {
                    var r_piutang_seq = tbl_cust.data().length + 1;
                    $.ajax({
                        url: "@(Url.Action("GetDataCust"))",
                        data: { ref_code },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            if (data.result == "") {
                                var rows = []
                                $.each(data.tbl, function (key, val) {
                                    val.r_piutang_seq = r_piutang_seq;
                                    rows.push(val);
                                });
                                tbl_cust.rows.add(rows);
                                tbl_cust.columns.adjust().draw();
                            }
                        },
                        error: function (err) {
                            swal('', err.responseText, 'error');
                        }
                    });

                } else if (name == "gantiunit") {
                    GetDataSPR();
                }
            };
            $.connection.hub.start().done();
        });

        function GetDataSPR() {
            tbl_spr.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataSPR"))",
                data: {},
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "") {
                        var rows = []
                        $.each(data.tbl, function (key, val) {
                            val.r_piutang_seq = key + 1;
                            rows.push(val);
                        });
                        tbl_spr.rows.add(rows);
                        tbl_spr.columns.adjust().draw();
                    }
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }

        function GetDataCust(ref_code) {
            tbl_cust.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataCust"))",
                data: { ref_code },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data.result == "") {
                        var rows = []
                        $.each(data.tbl, function (key, val) {
                            val.r_piutang_seq = key + 1;
                            rows.push(val);
                        });
                        tbl_cust.rows.add(rows);
                        tbl_cust.columns.adjust().draw();
                    }
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }
    </script>
}   