﻿@{
    ViewBag.Title = "List Tipe Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Data @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })
                    </p>
                </div>
                @Html.Partial("~/Views/Shared/_FilterListMst.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-left">Tipe Unit</th> 
                                        <th class="text-center">Status</th>
                                        <th class="text-left">Created</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Index = "@(Url.Action("Index"))";
    var ddlstatus = "=''"//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == 1) ddlstatus = "='ACTIVE'"
    else if (filter == 2) ddlstatus = "='INACTIVE'"

    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "searchCols": [null, { "search": ddlstatus }],//first search
            searchDelay: 600,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: url_getListDataTable,
                type: 'POST'
            },
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="">Loading...</span> ',
                "search": "Search :"
            },
            "columns": [
                     {
                         data: "m_type_unit_name",
                         name: "m_type_unit_name",
                         searchable: true,
                         render: function (data, type, row) {
                             return type != "display" ? data : '<a href="' + url_Form + '/' + row.m_type_unit_uid + '" class="text-primary">' + data + '</a>';
                         }
                     }, 
                     { data: "m_type_unit_flag", name: "m_type_unit_flag" },
                     {
                         data: "created_at",
                         name: "created_at",
                         render: function (data, type, row) {
                             return type != "display" ? data : moment(data).format('MM/DD/YYYY')
                         }
                     }
            ],
            "order": []
        });
    });
    $("#btnFind").click(function (e) {
        var filtertext = $('#filtertext').val();
        $("#filterddl option").each(function () {
            datatable.column($(this).val() + ":name").search('');
        });
        if (filtertext != "") {
            var colfilter = datatable.column($('#filterddl').val() + ":name")
            colfilter.search('%' + filtertext + '%');
        }
        var coldate = datatable.column("created_at:name")
        if ($('#isperiodchecked').is(':checked')) {
            coldate.search('between \'' + $('#filterperiodfrom').val() + ' 00:00:00\' and \'' + $('#filterperiodto').val() + ' 23:59:59\'')
        } else {
            coldate.search('')
        }
        var ddlstatus = $('#filterstatus').val();
        var colstatus = datatable.column("m_type_unit_flag:name")
        if (ddlstatus != "ALL") {
            colstatus.search("='"+ddlstatus+"'");
        } else {
            colstatus.search('');
        }
        datatable.draw();
        e.preventDefault();
    });
</script>