﻿@model MIS_MAGNA_MVC.Models.tb_t_titipan

@{
    ViewBag.Title = "Peningkatan Mutu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.t_titipan_uid)
                    @Html.HiddenFor(model => model.m_cust_id)
                    @Html.HiddenFor(model => model.m_item_id)
                    @Html.HiddenFor(model => model.m_proyek_id)
                    @Html.HiddenFor(model => model.t_spr_id)
                    @Html.HiddenFor(model => model.t_spr_awal_id)
                    @Html.HiddenFor(model => model.created_by)
                    @Html.HiddenFor(model => model.created_at)
                    @Html.HiddenFor(model => model.updated_by)
                    @Html.HiddenFor(model => model.updated_at)
                    @Html.HiddenFor(model => model.m_company_id)
                    @Html.HiddenFor(model => model.t_kb_no)
                    @Html.HiddenFor(model => model.r_hutang_ref_id)
                    @Html.HiddenFor(model => model.t_titipan_trans_type)
                    @Html.Hidden("t_kbm_h_id")
                    @Html.Hidden("action")
                    @Html.Hidden("revisi")
                    @Html.Hidden("nomor")
                    @Html.Hidden("tableoid")
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Draft</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Titipan</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Proyek <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tgl. Titipan <label class="text-red">*</label></label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.t_titipan_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tipe Bayar <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.t_titipan_type_bayar, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="-- Pilih Tipe Bayar --", Value="" },
                                            new SelectListItem { Text="SALDO", Value="SALDO" },
                                            new SelectListItem { Text="PEMBAYARAN", Value="PENERIMAAN" },
                                            //new SelectListItem { Text="REALISASI", Value="REALISASI" },
                                            //new SelectListItem { Text="PENGEMBALIAN", Value="PENGEMBALIAN" }
                                        }, new { @class = "form-control select2", @onchange = "change_type_bayar()" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tipe Titipan<label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_type, new List<SelectListItem>
                                        { 
                                            new SelectListItem { Text="PENINGKATAN", Value="PENINGKATAN" },
                                            //new SelectListItem { Text="Angsuran", Value="Angsuran" },
                                        }, new { @class = "form-control select2" }) 
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_cust" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-cust">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_item" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-item">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row div_ref" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Referensi <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            @Html.Editor("t_titipan_ref_no", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearch_ref" class="btn btn-flat btn-default" data-toggle="modal" data-target="#modal-ref">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                            @Html.HiddenFor(Model => Model.t_titipan_ref_id)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No. Kas / Bank</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_kb_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Masuk</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_masuk_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div_amt" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Total Realisasi</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_pay_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Sisa</label>
                                    <div class="col-md-5">
                                        @Html.Editor("t_titipan_os_amt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal<label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.t_titipan_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row div_profit" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nominal Profit <label class="text-red">*</label></label>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.t_titipan_profit_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Profit</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_profit_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Debet</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_debet_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Credit</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.t_titipan_credit_account_id, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Keterangan</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.t_titipan_note, new { @class = "form-control", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.t_titipan_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_titipan_status } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            Created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.t_titipan_status == "In Process" | Model.t_titipan_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }
                            }
                        </div>
                    </div>
                   
                            }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-ref">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar No. Referensi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRef" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Nama' },
                { data: 'm_cust_addr', name: 'm_cust_addr', title: 'Alamat' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit / Kavling' }
            ],
            order: [],
        });
        tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
                { data: 'm_type_unit_name', name: 'm_type_unit_name', title: 'Tipe' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 't_spr_no', name: 't_spr_no', title: 'No. SPR' },
                { data: 't_spr_date', name: 't_spr_date', title: 'Tgl. SPR' },
            ],
            order: [],
        });
        tblModalRef = $("#tblModalRef").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 't_titipan_type_bayar', name: 't_titipan_type_bayar', title: 'Tipe Bayar' },
                { data: 't_titipan_type', name: 't_titipan_type', title: 'Tipe' },
                { data: 't_titipan_no', name: 't_titipan_no', title: 'No. Titipan' },
                { data: 't_titipan_date', name: 't_titipan_date', title: 'Tgl. Titipan' },
                { data: 't_titipan_amt', name: 't_titipan_amt', title: 'Nominal', render: function (data) { return addCommas(data); } },
            ],
            order: [],
        });

        if ($("#action").val() == "Update Data") {
            var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
            var t_titipan_type = $("#t_titipan_type option:selected").val();
            hide_show_field(t_titipan_type_bayar, t_titipan_type);
        };
    });

    //$('#t_titipan_type_bayar').on('change', function () {
    //    change_type_bayar();   
    //});

    function ChangeGroup() {
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();
        hide_show_field(t_titipan_type_bayar, t_titipan_type);
        $.ajax({
            url: "@(Url.Action("GetAccount"))",
            data: { t_titipan_type_bayar, t_titipan_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = ""; var markup3 = "";
                    $.each(data.db, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_debet_account_id").html(markup).show().trigger('change');

                    $.each(data.cr, function (key, val) {
                        markup2 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_credit_account_id").html(markup2).show().trigger('change');

                    $.each(data.crp, function (key, val) {
                        markup3 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_profit_account_id").html(markup3).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function HitungNominal() {
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
        var t_titipan_amt = tNumber($("#t_titipan_amt").val());
        var t_titipan_pay_amt = tNumber($("#t_titipan_pay_amt").val());
        var t_titipan_os_amt = tNumber($("#t_titipan_os_amt").val());
        var t_titipan_masuk_amt = tNumber($("#t_titipan_masuk_amt").val());
        if (t_titipan_type_bayar != "PENERIMAAN") t_titipan_os_amt = t_titipan_masuk_amt - (t_titipan_pay_amt + t_titipan_amt);
        $("#t_titipan_os_amt").val(t_titipan_os_amt);
    }

    function hide_show_field(t_titipan_type_bayar, t_titipan_type) {
        $(".div_ref").hide(); $(".div_amt").hide(); $(".div_profit").hide();
        if (t_titipan_type_bayar == "SALDO") {
            $(".div_ref").hide();
            $(".div_amt").hide();
            //$(".div_profit").hide();
        } else if (t_titipan_type_bayar == "REALISASI") {
            $(".div_ref").show();
            $(".div_amt").show();
            //$(".div_profit").show();
        } else if (t_titipan_type_bayar == "PENERIMAAN" && t_titipan_type=="PENINGKATAN") {
            $(".div_ref").show();
            $(".div_amt").show();
            //$(".div_profit").hide();
        }
    }

    function change_type_bayar() {
        $("#m_cust_id").val("0");
        $("#m_cust_name").val("");
        $("#m_item_id").val("0");
        $("#m_item_name").val("");

        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();
        hide_show_field(t_titipan_type_bayar, t_titipan_type);
        $.ajax({
            url: "@(Url.Action("GetAccount"))",
            data: { t_titipan_type_bayar, t_titipan_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = ""; var markup3 = "";
                    $.each(data.db, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_debet_account_id").html(markup).show().trigger('change');

                    $.each(data.cr, function (key, val) {
                        markup2 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_credit_account_id").html(markup2).show().trigger('change');

                    $.each(data.crp, function (key, val) {
                        markup3 += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_titipan_profit_account_id").html(markup3).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });

        @*$.ajax({
            url: "@(Url.Action("GetType"))",
            data: { t_titipan_type_bayar },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.Value + "\'>" + val.Text + "</option>";
                    });
                    $("#t_titipan_type").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });*@
    }

    var url_GetDataCust = "@(Url.Action("GetDataCust"))"
    $("#btnsearch_cust").click(function () { 
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();
        if (t_titipan_type == "0") {
            Swal('Silahkan pilih tipe titipan terlebih dahulu!', '', 'warning');
            return false
        }
        if (t_titipan_type_bayar == "") {
            Swal('Silahkan pilih tipe bayar terlebih dahulu!', '', 'warning');
            return false
        }
        tblModalCust.clear().draw();
        $.ajax({
            url: url_GetDataCust,
            data: { t_titipan_type_bayar, t_titipan_type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalCust.rows.add(data.tbl).draw();
                    tblModalCust.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalCust").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalCust.row($tr).data();
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $('#modal-cust').modal('hide');
    });

    var url_GetDataItem = "@(Url.Action("GetDataItem"))"
    $("#btnsearch_item").click(function () {
        var m_company_id = $('#m_company_id').val();
        var m_cust_id = $('#m_cust_id').val();
        //var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        //var t_titipan_type = $("#t_titipan_type option:selected").val();

        if ((m_cust_id == 0) || (m_cust_id == '') || (m_cust_id == null) || (m_cust_id == 'null')) {
            Swal('Silahkan pilih customer terlebih dahulu!', '', 'warning');
            return false
        }
        //if (t_titipan_type == "") {
        //    Swal('Silahkan pilih tipe titipan terlebih dahulu!', '', 'warning');
        //    return false
        //}
        //if (t_titipan_type_bayar == "") {
        //    Swal('Silahkan pilih tipe bayar terlebih dahulu!', '', 'warning');
        //    return false
        //}

        tblModalItem.clear().draw();
        $.ajax({
            url: url_GetDataItem,
            data: { m_company_id, m_cust_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalItem.rows.add(data.tbl).draw();
                    tblModalItem.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalItem").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalItem.row($tr).data();
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $('#modal-item').modal('hide');
    });

    $('#t_titipan_amt').on('blur', function () {
        HitungNominal();
    });

    var url_GetDataRef = "@(Url.Action("GetDataRef"))"
    $("#btnsearch_ref").click(function () {
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
        var t_titipan_type = $('#t_titipan_type').val();
        var m_item_id = $('#m_item_id').val();
        var t_titipan_id = $('#t_titipan_id').val();
        if (t_titipan_type == '') {
            Swal('Silahkan pilih tipe terlebih dahulu!', '', 'warning');
            return false
        }
        if ((m_item_id == 0) || (m_item_id == '') || (m_item_id == null) || (m_item_id == 'null')) {
            Swal('Silahkan pilih unit terlebih dahulu!', '', 'warning');
            return false
        }
        tblModalRef.clear().draw();
        $.ajax({
            url: url_GetDataRef,
            data: { t_titipan_type_bayar, t_titipan_type, m_item_id, t_titipan_id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRef.rows.add(data.tbl).draw();
                    tblModalRef.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalRef").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalRef.row($tr).data();
        var t_titipan_type_bayar = $("#t_titipan_type_bayar option:selected").val();
        var t_titipan_type = $("#t_titipan_type option:selected").val();

        $("#t_titipan_ref_id").val(alldata.t_titipan_id);
        $("#t_titipan_ref_no").val(alldata.t_titipan_no);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#t_titipan_pay_amt").val(alldata.t_titipan_pay_amt);
        if (t_titipan_type_bayar == "REALISASI") {
            HitungNominal();
        }           
        $("#t_titipan_masuk_amt").val(alldata.t_titipan_masuk_amt);
        $('#modal-ref').modal('hide');
        HitungNominal();
    });

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) { tbl[n.name] = n.value; });
        var action = $('#action').val();
        //var closing = $('#closing').val();

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    //$("#closing").val('');
                    $("#t_titipan_status").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                //$("#closing").val('');
                $("#t_titipan_status").val("In Process");
            }
        });
    });

    $("#btnSaveClose").click(function () {
        //$("#closing").val("true");
        $("#btnSave").click();
    });

    var url_Delete = "@(Url.Action("Delete"))"
    $("#btnDelete").click(function () {
        var id = $("#t_titipan_id").val();
        var revisi = $('#revisi').val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to ' + (revisi == "true" ? "REVISED" : "DELETE") + ' this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, ' + (revisi == "true" ? "Revised" : "Revised") + ' this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Delete,
                    data: { __RequestVerificationToken: token, id, revisi },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('' + (revisi == "true" ? "Revised" : "Revised") + '!', 'Data has been ' + (revisi == "true" ? "Revised" : "Revised") + '!', 'success')
                            setTimeout(function () {
                                location.replace(url_Index);
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning')
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_titipan_status").val("Post");
                    //$("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $(document).on('keyup', 'input:text, textarea', function (e) {
        if ($(e.target).hasClass('money')) return true;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.setSelectionRange(start, end);
    });

    $("#btnShowCOA").click(function () {
        var nomor = ""; var tablename = ""; var tableoid = "0";
        var t_titipan_type_bayar = $('#t_titipan_type_bayar').val();
         if (t_titipan_type_bayar == "PENERIMAAN") {
            tablename = "tb_t_kbm_h";
            tableoid = $("#tableoid").val();
            nomor = $("#nomor").val();
        } else {
            tablename = "tb_t_titipan";
            tableoid = $("#t_titipan_id").val();
            nomor = $("#t_titipan_no").val();
        }
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });    
</script>