﻿@model MIS_MAGNA_MVC.Models.tb_t_kbk_h

@{
    ViewBag.Title = "Pembayaran Refund Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.t_kbk_uid)                        
                        @Html.HiddenFor(model => model.t_promo_id)
                        @Html.HiddenFor(model => model.m_promo_id)
                        @Html.HiddenFor(model => model.created_by)
                        @Html.HiddenFor(model => model.posted_at)
                        @Html.HiddenFor(model => model.posted_by)
                        @Html.HiddenFor(model => model.updated_at)
                        @Html.HiddenFor(model => model.updated_by)
                        @Html.HiddenFor(model => model.t_refund_id)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 company_hs">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit Bisnis</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.m_company_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_id, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. KBK</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_kbk_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Transfer <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.t_kbk_date, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Sistem <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Referensi</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.t_kbk_ref_no, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Untuk</label>
                                        <div class="col-md-6">
                                            @Html.RadioButtonFor(model => model.t_kbk_type, "Refund", new { @checked = "checked", @required = "" }) Refund
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divunit">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Unit <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("m_item_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchunit" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-unit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.m_item_id)
                                            @Html.HiddenFor(model => model.m_cust_id)
                                            @Html.HiddenFor(model => model.m_proyek_id)
                                            @Html.HiddenFor(model => model.t_spr_id)
                                            @Html.HiddenFor(model => model.t_spr_awal_id)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divproyek">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Proyek</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_proyek_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            @Html.Editor("m_cust_name", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Bayar</label>
                                        <div class="col-md-6">
                                            @Html.RadioButtonFor(model => model.t_kbk_type_bayar, "KK", new { @checked = "checked", @required = "", @onchange = "ChangeAccount()" })
                                            KAS
                                            @Html.RadioButtonFor(model => model.t_kbk_type_bayar, "BK", new { @required = "", @onchange = "ChangeAccount()" })
                                            BANK
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.t_kbk_account_id, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jumlah</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_amt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.t_kbk_h_status, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.t_kbk_h_status } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hide">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keterangan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.t_kbk_h_note, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Bayar</label>
                                        <div class="col-md-4">
                                            @Html.Editor("amt_bayar", new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Editor("amt_sisa", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.created_by)) On @(Html.DisplayFor(m => m.created_at))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.updated_by)) On @(Html.DisplayFor(m => m.updated_at))
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                if (Model.t_kbk_h_status == "In Process" | Model.t_kbk_h_status == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    <button type="button" id="btnShowCOA" class="btn btn-primary btn-md"><b>Show COA</b></button>
                                }

                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    @*<button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>*@
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
    @* MODAL UNTUK Unit*@
    <div class="modal fade" id="modal-unit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Unit</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalUnit" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* MODAL UNTUK Unit*@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script language="javascript" type="text/javascript">
    var tbl_dtl = null;
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 't_kbk_d_seq', name: 't_kbk_d_seq', title: 'No.' },
                { data: 'r_hutang_ref_no', name: 'r_hutang_ref_no', title: 'No. Refund' },
                { data: 'r_hutang_ref_date', name: 'r_hutang_ref_date', title: 'Tgl. Refund' },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_name', name: 'm_account_name', title: 'Akun' },
                { data: 't_kbk_d_amt', name: 't_kbk_d_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_kbk_d_amt', ' money', ' readonly', "width:100px;"); } },
                { data: 't_kbk_d_note', name: 't_kbk_d_note', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generatetextarea(data, 't_kbk_d_note', '', 'maxlength="100"'); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "order": []
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                //{ data: 't_kbk_d_seq', name: 't_kbk_d_seq', orderable: false, checkboxes: { selectRow: false } },
                { data: null, name: 't_kbm_d_seq', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'r_hutang_ref_no', name: 'r_hutang_ref_no', title: 'No. Refund' },
                { data: 'r_hutang_ref_date', name: 'r_hutang_ref_date', title: 'Tgl. Refund' },
                { data: 'm_account_code', name: 'm_account_code', title: 'Kode' },
                { data: 'm_account_name', name: 'm_account_name', title: 'Akun' },
                { data: 't_kbk_d_amt', name: 't_kbk_d_amt', title: 'Jumlah', className: "text-right", render: function (data, type, row) { return generateinput(data, 't_kbk_d_amt', ' money', ' readonly', "width:100px;"); } },
                { data: 't_kbk_d_note', name: 't_kbk_d_note', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generatetextarea(data, 't_kbk_d_note', '', 'maxlength="100"'); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });

        tblModalUnit = $("#tblModalUnit").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, name: 'select', render: function (data) { return '<button type="button" class="btn btn-link text-primary select">Select</button>' } },
                { data: 'r_hutang_ref_no', name: 'r_hutang_ref_no', title: 'Refund No' },
                { data: 'm_cust_name', name: 'm_cust_name', title: 'Konsumen' },
                { data: 'm_item_name', name: 'm_item_name', title: 'Unit' },
                { data: 'm_proyek_name', name: 'm_proyek_name', title: 'Proyek' },
            ],
            order: [],
        });
        tblModalUnit.on("draw", function () {
            $('#tblModalUnit .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalUnit .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalUnit .select2').select2({ theme: 'bootstrap' });
        });

        if ($("#action").val() == "Update Data") {
            FillDetailData(); //ChangeUnit();
        }
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, addAttr, dt_list) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dt_list, function (key, val) {
            var selected = "";
            if (val.Value == value) selected = ' selected'
            option += "<option value=\'" + val.Value + "\'" + selected + " data_val=\'" + (val) + "\'>" + val.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function ChangeUntuk() {
        ChangeUnit(); ClearUnit();
    }

    function ClearUnit() {
        $("#m_item_id").val(0); $("#m_cust_id").val(0); $("#m_proyek_id").val(0);
        $("#m_item_name").val(""); $("#m_cust_name").val(""); $("#m_proyek_name").val("");
    }

    function ChangeUnit() {
        var ddl = $("input:radio[name=t_kbk_type]:checked").val();
        $("#divunit").hide(); $("#divproyek").hide(); //$("#btnAddToList").show();
        if (ddl == "Proyek") {
            $("#divunit").show(); $("#divproyek").show(); //$("#btnAddToList").hide();
        }
    }

    function ChangeAccount() {
        var t_kbk_account_id = $("#t_kbk_account_id option:selected").val();
        var action = $("#action").val();
        var t_kbk_type_bayar = $("input:radio[name=t_kbk_type_bayar]:checked").val();
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { t_kbk_type_bayar, action },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.m_account_id + "\'>" + val.m_account_name + "</option>";
                    });
                    $("#t_kbk_account_id").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    $('#amt_bayar').on('blur', function () {
        var amt_bayar = tNumber($("#amt_bayar").val());
        $("#amt_sisa").val(amt_bayar);
        tbl_dtl.clear().draw();
    });

    var url_GetUnitData = "@(Url.Action("GetUnitData"))"
    $("#btnsearchunit").click(function () {
        tblModalUnit.clear().draw();
        $.ajax({
            url: url_GetUnitData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalUnit.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalUnit").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalUnit.row($tr).data();
        $("#t_refund_id").val(alldata.t_refund_id);
        $("#m_item_id").val(alldata.m_item_id);
        $("#m_item_name").val(alldata.m_item_name);
        $("#m_proyek_id").val(alldata.m_proyek_id);
        $("#m_proyek_name").val(alldata.m_proyek_name);
        $("#m_cust_id").val(alldata.m_cust_id);
        $("#m_cust_name").val(alldata.m_cust_name);
        $("#t_spr_id").val(alldata.t_spr_id);
        $("#t_spr_awal_id").val(alldata.t_spr_awal_id);
        $("#amt_bayar").val(alldata.r_hutang_sisa_amt);
        $("#amt_sisa").val(alldata.r_hutang_sisa_amt);
        $('#modal-unit').modal('hide');
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        //var m_company_id = $("#m_company_id option:selected").val();
        var amt_bayar = $("#amt_bayar").val();
        var m_item_id = $("#m_item_id").val();
        var t_spr_awal_id = $("#t_spr_awal_id").val();
        //var t_kbk_h_id = $("#t_kbk_h_id").val();
        if ((amt_bayar == 0) || (amt_bayar == '')) {
            Swal('Silahkan isi Total Bayar!', '', 'warning');
            return false
        }
        if ((m_item_id == 0) || (m_item_id == '')) {
            Swal('Silahkan Pilih Unit!', '', 'warning');
            return false
        }

        tblModalDtl.column(0).checkboxes.deselect(); 
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { m_item_id, t_spr_awal_id },
            cache: false,
            type: "POST", 
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.t_kbk_d_seq = key + 1;
                        val.r_hutang_ref_date = moment(val.r_hutang_ref_date).format("MM/DD/YYYY");
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $("#tblModalDtl").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        var alldata = tblModalDtl.row($tr).data();
        var amt_sisa = tNumber($("#amt_sisa").val());
        if (amt_sisa >= alldata.t_kbk_d_amt) alldata.t_kbm_d_amt;
        else alldata.t_kbk_d_amt = amt_sisa;
        alldata.t_kbk_d_netto = alldata.t_kbk_d_amt;
        var rows = [];
        var id = tbl_dtl.data().length + 1;
        if (amt_sisa > 0) {
            if (!IsOnDtl(alldata.t_kbk_ref_table, alldata.t_kbk_ref_id)) {
                alldata.t_kbk_d_seq = id++;
                alldata.r_hutang_ref_date = moment(alldata.r_hutang_ref_date).format("MM/DD/YYYY");
                rows.push(alldata);
            }
        }
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        tbl_dtl.draw();
        //hideshow();
        SumAmtHdr();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    });

    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.t_kbk_ref_table, obj.t_kbk_ref_id)) {
                obj.t_kbk_d_seq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        //hideshow();
        SumAmtHdr();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(t_kbk_ref_table, t_kbk_ref_id) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (t_kbk_ref_table == alldata.t_kbk_ref_table && t_kbk_ref_id == alldata.t_kbk_ref_id) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var t_kbk_h_id = $('#t_kbk_h_id').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { t_kbk_h_id },
            cache: false,
            type: "POST", 
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0; i < data.tbl.length; i++) {
                        data.tbl[i].r_hutang_ref_date = moment(data.tbl[i].r_hutang_ref_date).format("MM/DD/YYYY");
                    }
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 't_kbk_d_seq:name').data(i + 1).invalidate();
        }
        SumAmtHdr();
        EnabledHeader();
        e.preventDefault();
    });

    function SumAmtHdr() {
        var amt = 0; var total = 0; var amt_bayar = $("#amt_bayar").val();
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            amt += alldata.t_kbk_d_amt;
            total += alldata.t_kbk_d_netto;
        }
        $("#t_kbk_h_amt").val(total);
        $("#amt_sisa").val(amt_bayar - amt);

        //var total = 0;
        //for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
        //    var alldata = tbl_dtl.row(i).data();
        //    total += alldata.t_kbk_d_amt;
        //}
        //$("#t_kbk_h_amt").val(total);
    }

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        tbl.draw();
        SumAmtHdr();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2({ theme: 'bootstrap' });
    };

    function EnabledHeader() {
        var bVal = false;
        if (tbl_dtl.rows().data().length > 0) {
            bVal = true
            tbl_dtl.columns.adjust().draw();
        }
        $("#m_company_id").attr("readonly", bVal);
        $("#btnsearchunit").attr("disabled", bVal);
        $("input:radio[name=t_kbk_type]:not(:checked)").attr('disabled', bVal);
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });

        var action = $('#action').val();
        var closing = $('#closing').val();

        var dtl = [];
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl, dtl, action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        location.replace("@(Url.Action("Index"))");
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    //$("#closing").val('');
                }
            },
            error: function (err) {
                Swal('', err.responseText, 'error');
                //$("#closing").val('');
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#t_kbk_h_status").val("Post");
                    //$("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var id = $("#t_kbk_h_id").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        Swal({
        title: 'Are you sure to DELETE this data?',
        text: "Deleted data can't be returned!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Deleted!', 'Data has been deleted!', 'success' )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Delete data failed!', data.msg, 'warning' )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSaveClose").click(function () {
        //$("#closing").val("true");
        $("#btnSave").click();
    });

    //$(document).on('keyup', 'input:text, textarea', function (e) {
    //    if ($(e.target).hasClass('money')) return true;
    //    var start = e.target.selectionStart;
    //    var end = e.target.selectionEnd;
    //    e.target.value = e.target.value.toUpperCase();
    //    e.target.setSelectionRange(start, end);
    //});

    $("#btnShowCOA").click(function () {
        var nomor = $("#t_kbk_no").val();
        var tablename = "tb_t_kbk_h";
        var tableoid = $("#t_kbk_h_id").val();
        $('#modal-showcoa').modal('show');
        ShowCOAPosting(nomor, tablename, tableoid);
    });
</script> 